{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/images/generations": {
      "post": {
        "operationId": "_v1_images_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "bytedance/uso"
                    ]
                  },
                  "image_urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "minItems": 1,
                    "maxItems": 3,
                    "description": "An array of up to 3 image URLs. The first image is always treated as the primary input for image-to-image generation, while the remaining images (if provided) serve as visual style references for the output."
                  },
                  "image_size": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "square_hd",
                          "square",
                          "portrait_4_3",
                          "portrait_16_9",
                          "landscape_4_3",
                          "landscape_16_9"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "width": {
                            "type": "number"
                          },
                          "height": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "width",
                          "height"
                        ]
                      }
                    ],
                    "default": "square_hd",
                    "description": "The size of the generated image."
                  },
                  "negative_prompt": {
                    "type": "string",
                    "default": "",
                    "description": "The description of elements to avoid in the generated image."
                  },
                  "num_inference_steps": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 28,
                    "description": "The number of inference steps to perform."
                  },
                  "guidance_scale": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 4,
                    "description": "The CFG (Classifier Free Guidance) scale is a measure of how close you want the model to stick to your prompt when looking for a related image to show you."
                  },
                  "keep_size": {
                    "type": "boolean"
                  },
                  "num_images": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 4,
                    "default": 1,
                    "description": "The number of images to generate."
                  },
                  "seed": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "The same seed and the same prompt given to the same version of the model will output the same image every time."
                  },
                  "sync_mode": {
                    "type": "boolean",
                    "default": false,
                    "description": "If set to true, the function will wait for the image to be generated and uploaded before returning the response. This will increase the latency of the function but it allows you to get the image directly in the response without going through the CDN."
                  },
                  "enable_safety_checker": {
                    "type": "boolean",
                    "default": true,
                    "description": "If set to True, the safety checker will be enabled."
                  },
                  "output_format": {
                    "type": "string",
                    "enum": [
                      "jpeg",
                      "png"
                    ],
                    "default": "png",
                    "description": "The format of the generated image."
                  },
                  "prompt": {
                    "type": "string",
                    "maxLength": 4000,
                    "description": "The text prompt describing the content, style, or composition of the image to be generated."
                  }
                },
                "required": [
                  "model",
                  "image_urls",
                  "prompt"
                ],
                "title": "bytedance/uso"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "nullable": true,
                            "description": "The URL where the file can be downloaded from.",
                            "example": "https://cdn.aimlapi.com/generations/hedgehog/1749730923700-29fe35d2-4aef-4bc5-a911-6c39884d16a8.png"
                          },
                          "b64_json": {
                            "type": "string",
                            "nullable": true,
                            "description": "The base64-encoded JSON of the generated image.",
                            "example": null
                          }
                        }
                      },
                      "description": "The list of generated images."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "tokens_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "tokens_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  }
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v1/images/generations', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      \"model\": \"bytedance/seedream-v4-edit\",\n      \"prompt\": \"Combine the images so the T-Rex is wearing a business suit, sitting in a cozy small café, drinking from the mug. Blur the background slightly to create a bokeh effect.\",\n      \"image_urls\": [\n        \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/t-rex.png\",\n        \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/blue-mug.jpg\"\n      ]\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v1/images/generations\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n      \"model\": \"bytedance/seedream-v4-edit\",\n      \"prompt\": \"Combine the images so the T-Rex is wearing a business suit, sitting in a cozy small café, drinking from the mug. Blur the background slightly to create a bokeh effect.\",\n      \"image_urls\": [\n        \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/t-rex.png\",\n        \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/blue-mug.jpg\"\n      ]\n    }\n)\n\ndata = response.json()\nprint(data)"
          },
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v1/images/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"bytedance/seedream-v4-edit\",\n      \"prompt\": \"Combine the images so the T-Rex is wearing a business suit, sitting in a cozy small café, drinking from the mug. Blur the background slightly to create a bokeh effect.\",\n      \"image_urls\": [\n        \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/t-rex.png\",\n        \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/blue-mug.jpg\"\n      ]\n    }'"
          },
          {
            "lang": "HTTP",
            "source": "POST / HTTP/1.1\nHost: test.com\nAuthorization: Bearer <YOUR_AIMLAPI_KEY>\nContent-Type: application/json\nAccept: */*\n\n{\n  \"model\": \"bytedance/seedream-v4-edit\",\n  \"prompt\": \"Combine the images so the T-Rex is wearing a business suit, sitting in a cozy small café, drinking from the mug. Blur the background slightly to create a bokeh effect.\",\n  \"image_urls\": [\n    \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/t-rex.png\",\n    \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/blue-mug.jpg\"\n  ]\n}"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}