{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v2/video/generations": {
      "post": {
        "operationId": "_v2_video_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "blackforestlabs/flux-3-video-v2v"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The text prompt describing the video to generate."
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "21:9",
                      "2:1",
                      "16:9",
                      "4:3",
                      "1:1",
                      "3:4",
                      "9:16"
                    ],
                    "default": "auto",
                    "description": "The aspect ratio of the generated video. `auto` lets the model pick, and image-to-video follows the first keyframe."
                  },
                  "duration": {
                    "type": "integer",
                    "minimum": 5,
                    "maximum": 20,
                    "default": 5,
                    "description": "The video length in whole seconds, from 5 to 20."
                  },
                  "generate_audio": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to generate a synchronized audio track. Set to `false` for a silent clip."
                  },
                  "safety_tolerance": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4,
                    "default": 2,
                    "description": "The moderation strictness, from 0 (strictest) to 4 (most permissive)."
                  },
                  "video_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL of the video to continue. The generated clip carries on from its final frames."
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "hd",
                      "fhd"
                    ],
                    "default": "hd",
                    "description": "The output resolution of the generated video."
                  }
                },
                "required": [
                  "model",
                  "prompt",
                  "video_url"
                ],
                "title": "blackforestlabs/flux-3-video-v2v"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the generated video.",
                      "example": "60ac7c34-3224-4b14-8e7d-0aa0db708325"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "generating",
                        "completed",
                        "error"
                      ],
                      "description": "The current status of the generation task.",
                      "example": "completed"
                    },
                    "video": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "format": "uri",
                              "description": "The URL where the file can be downloaded from.",
                              "example": "https://cdn.aimlapi.com/generations/hedgehog/1759866285599-0cdfb138-c03a-49d4-a601-4f6413e27b15.mp4"
                            }
                          },
                          "required": [
                            "url"
                          ]
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "format": "uri",
                                "description": "The URL where the file can be downloaded from.",
                                "example": "https://cdn.aimlapi.com/generations/hedgehog/1759866285599-0cdfb138-c03a-49d4-a601-4f6413e27b15.mp4"
                              }
                            },
                            "required": [
                              "url"
                            ]
                          }
                        },
                        {
                          "nullable": true
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "message"
                      ],
                      "description": "Description of the error, if any."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            },
                            "usd_spent": {
                              "type": "number",
                              "description": "The total amount of money spent by the user in USD.",
                              "example": 0.06
                            }
                          },
                          "required": [
                            "credits_used",
                            "usd_spent"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            },
            "description": "Successful response."
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request POST \\\n  --url 'https://api.aimlapi.com/v2/video/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\"model\": \"blackforestlabs/flux-3-video-v2v\", \"prompt\": \"Describe what you want the model to generate.\", \"duration\": 5, \"video_url\": \"https://example.com/input.jpg\"}'"
          },
          {
            "lang": "JavaScript",
            "source": "const response = await fetch('https://api.aimlapi.com/v2/video/generations', {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n  \"model\": \"blackforestlabs/flux-3-video-v2v\",\n  \"prompt\": \"Describe what you want the model to generate.\",\n  \"duration\": 5,\n  \"video_url\": \"https://example.com/input.jpg\"\n}),\n});\n\nconsole.log(await response.json());"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v2/video/generations\",\n    headers={\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n        \"Content-Type\": \"application/json\",\n    },\n    json={'model': 'blackforestlabs/flux-3-video-v2v', 'prompt': 'Describe what you want the model to generate.', 'duration': 5, 'video_url': 'https://example.com/input.jpg'},\n)\n\nprint(response.json())"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}
