{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/images/generations": {
      "post": {
        "operationId": "_v1_images_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "blackforestlabs/flux-2-pro-edit"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "maxLength": 4000,
                    "description": "The text prompt describing the content, style, or composition of the image to be generated."
                  },
                  "image_urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "minItems": 1,
                    "maxItems": 3,
                    "description": "List of URLs or local Base64 encoded images to edit."
                  },
                  "image_size": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "width": {
                            "type": "integer",
                            "minimum": 512,
                            "maximum": 2048,
                            "default": 1024
                          },
                          "height": {
                            "type": "integer",
                            "minimum": 512,
                            "maximum": 2048,
                            "default": 768
                          }
                        },
                        "description": "For both height and width, the value must be a multiple of 32."
                      },
                      {
                        "type": "string",
                        "enum": [
                          "square_hd",
                          "square",
                          "portrait_4_3",
                          "portrait_16_9",
                          "landscape_4_3",
                          "landscape_16_9"
                        ],
                        "description": "The size of the generated image."
                      }
                    ],
                    "default": "landscape_4_3"
                  },
                  "output_format": {
                    "type": "string",
                    "enum": [
                      "jpeg",
                      "png",
                      "webp"
                    ],
                    "default": "png",
                    "description": "The format of the generated image."
                  },
                  "seed": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "The same seed and the same prompt given to the same version of the model will output the same image every time."
                  },
                  "enable_safety_checker": {
                    "type": "boolean",
                    "default": true,
                    "description": "If set to True, the safety checker will be enabled."
                  },
                  "safety_tolerance": {
                    "type": "string",
                    "enum": [
                      "1",
                      "2",
                      "3",
                      "4",
                      "5",
                      "6"
                    ],
                    "default": "2",
                    "description": "The safety tolerance level for the generated image. 1 being the most strict and 5 being the most permissive."
                  }
                },
                "required": [
                  "model",
                  "prompt",
                  "image_urls"
                ],
                "title": "blackforestlabs/flux-2-pro-edit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "nullable": true,
                            "description": "The URL where the file can be downloaded from.",
                            "example": "https://cdn.aimlapi.com/generations/hedgehog/1749730923700-29fe35d2-4aef-4bc5-a911-6c39884d16a8.png"
                          },
                          "b64_json": {
                            "type": "string",
                            "nullable": true,
                            "description": "The base64-encoded JSON of the generated image.",
                            "example": null
                          }
                        }
                      },
                      "description": "The list of generated images."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "credits_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  }
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v1/images/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"blackforestlabs/flux-2-pro-edit\",\n      \"prompt\": \"Combine the images so the T-Rex is wearing a business suit, sitting in a cozy small café, drinking from the mug. Blur the background slightly to create a bokeh effect.\",\n      \"image_urls\": [\n        \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/t-rex.png\",\n        \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/blue-mug.jpg\"\n      ]\n    }'"
          },
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v1/images/generations', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      \"model\": \"blackforestlabs/flux-2-pro-edit\",\n      \"prompt\": \"Combine the images so the T-Rex is wearing a business suit, sitting in a cozy small café, drinking from the mug. Blur the background slightly to create a bokeh effect.\",\n      \"image_urls\": [\n        \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/t-rex.png\",\n        \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/blue-mug.jpg\"\n      ]\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v1/images/generations\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n      \"model\": \"blackforestlabs/flux-2-pro-edit\",\n      \"prompt\": \"Combine the images so the T-Rex is wearing a business suit, sitting in a cozy small café, drinking from the mug. Blur the background slightly to create a bokeh effect.\",\n      \"image_urls\": [\n        \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/t-rex.png\",\n        \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/blue-mug.jpg\"\n      ]\n    }\n)\n\ndata = response.json()\nprint(data)"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}