{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/images/generations": {
      "post": {
        "operationId": "_v1_images_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "topaz-labs/sharpen-gen"
                    ]
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "Super Focus",
                      "Super Focus V2"
                    ]
                  },
                  "image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL of the reference image."
                  },
                  "output_format": {
                    "type": "string",
                    "enum": [
                      "jpeg",
                      "jpg",
                      "png",
                      "tiff",
                      "tif"
                    ],
                    "default": "jpeg",
                    "description": "The format of the generated image."
                  },
                  "subject_detection": {
                    "type": "string",
                    "enum": [
                      "All",
                      "Foreground",
                      "Background"
                    ],
                    "default": "All",
                    "description": "Specifies which subjects to detect and process. Options: 'All' (detect all subjects), 'Foreground' (detect only foreground subjects), 'Background' (detect background subjects)."
                  },
                  "face_enhancement": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to enhance faces in the image. When true, the model applies face-specific improvements."
                  },
                  "face_enhancement_creativity": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "default": 0,
                    "description": "Level of creativity for face enhancement (0-1). Higher values allow more creative, less conservative changes."
                  },
                  "face_enhancement_strength": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "default": 0.8,
                    "description": "How sharp enhanced faces are relative to background (0-1). Lower values blend changes subtly; higher values make faces more pronounced."
                  },
                  "strength": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Defines the overall intensity of the sharpening effect. Increases details. Too much sharpening can create an unrealistic result."
                  },
                  "focus_boost": {
                    "type": "number",
                    "minimum": 0.25,
                    "maximum": 1,
                    "description": "Corrects images that are missing detail by downscaling your image then upscaling the results back to the original size. Use on very blurry images!"
                  },
                  "seed": {
                    "type": "integer",
                    "description": "Optional fixed seed for repeatable results."
                  }
                },
                "required": [
                  "model",
                  "mode",
                  "image_url"
                ],
                "title": "topaz-labs/sharpen-gen"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "nullable": true,
                            "description": "The URL where the file can be downloaded from.",
                            "example": "https://cdn.aimlapi.com/generations/hedgehog/1749730923700-29fe35d2-4aef-4bc5-a911-6c39884d16a8.png"
                          },
                          "b64_json": {
                            "type": "string",
                            "nullable": true,
                            "description": "The base64-encoded JSON of the generated image.",
                            "example": null
                          }
                        }
                      },
                      "description": "The list of generated images."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "tokens_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "tokens_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  }
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v1/images/generations', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: 'topaz-labs/sharpen-gen',\n      prompt: 'A T-Rex relaxing on a beach, lying on a sun lounger and wearing sunglasses.',\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v1/images/generations\",\n    headers={\n        \"Content-Type\":\"application/json\", \n        \"Authorization\":\"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n        \"model\":\"topaz-labs/sharpen-gen\",\n        \"prompt\": \"A T-Rex relaxing on a beach, lying on a sun lounger and wearing sunglasses.\"\n    }\n)\n\ndata = response.json()\nprint(data)"
          },
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v1/images/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"model\": \"topaz-labs/sharpen-gen\",\n    \"prompt\": \"A T-Rex relaxing on a beach, lying on a sun lounger and wearing sunglasses.\"\n  }'"
          },
          {
            "lang": "HTTP",
            "source": "POST /v1/images/generations HTTP/1.1\nHost: api.aimlapi.com\nAuthorization: Bearer <YOUR_AIMLAPI_KEY>\nContent-Type: application/json\nAccept: */*\n\n{\n  \"model\": \"topaz-labs/sharpen-gen\",\n  \"prompt\": \"A T-Rex relaxing on a beach, lying on a sun lounger and wearing sunglasses.\"\n}"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}