openapi: 3.0.0
info:
  title: AIML API
  version: 1.0.0
servers:
  - url: https://api.aimlapi.com

components:
  securitySchemes:
    access-token:
      type: http
      scheme: bearer
      bearerFormat: <YOUR_AIMLAPI_KEY>
      description: Bearer key
      x-gitbook-description-html: <p>Bearer key</p>

  schemas:
    ChatCompletionRequest:
      type: object
      title: google/gemini-3-flash-preview
      required: [model, messages]
      properties:
        model:
          type: string
          enum: [google/gemini-3-flash-preview]

        messages:
          type: array
          description: >
            A list of messages comprising the conversation so far.
            This model supports text and image inputs.
          items:
            oneOf:
              - $ref: "#/components/schemas/UserMessage"
              - $ref: "#/components/schemas/SystemMessage"
              - $ref: "#/components/schemas/AssistantMessage"
              - $ref: "#/components/schemas/ToolMessage"

        stream:
          type: boolean
          default: false
          description: If true, the response will be streamed using server-sent events.

        stream_options:
          type: object
          properties:
            include_usage:
              type: boolean
          required: [include_usage]

        max_tokens:
          type: integer
          minimum: 1
          description: The maximum number of tokens that can be generated in the chat completion.

        max_completion_tokens:
          type: integer
          minimum: 1
          description: >
            Upper bound for the number of tokens that can be generated for a completion,
            including visible output tokens and reasoning tokens.

        temperature:
          type: number
          minimum: 0
          maximum: 2

        top_p:
          type: number
          minimum: 0.01
          maximum: 1

        stop:
          anyOf:
            - type: string
            - type: array
              items:
                type: string
            - type: "null"
          description: Up to 4 sequences where the API will stop generating further tokens.

        n:
          type: integer
          nullable: true
          minimum: 1
          description: How many chat completion choices to generate for each input message.

        frequency_penalty:
          type: number
          nullable: true
          minimum: -2
          maximum: 2

        presence_penalty:
          type: number
          nullable: true
          minimum: -2
          maximum: 2

        seed:
          type: integer
          minimum: 1
          description: Beta. Best-effort deterministic sampling.

        response_format:
          oneOf:
            - type: object
              additionalProperties: false
              required: [type]
              properties:
                type:
                  type: string
                  enum: [text]
            - type: object
              additionalProperties: false
              required: [type]
              properties:
                type:
                  type: string
                  enum: [json_object]
            - type: object
              additionalProperties: false
              required: [type, json_schema]
              properties:
                type:
                  type: string
                  enum: [json_schema]
                json_schema:
                  type: object
                  additionalProperties: false
                  required: [name]
                  properties:
                    name:
                      type: string
                      description: "Must be a-z, A-Z, 0-9, underscore or dash. Max length 64."
                    schema:
                      type: object
                      additionalProperties: true
                    strict:
                      type: boolean
                      nullable: true
                    description:
                      type: string

        tools:
          type: array
          description: A list of tools the model may call (functions).
          items:
            type: object
            additionalProperties: false
            required: [type, function]
            properties:
              type:
                type: string
                enum: [function]
              function:
                type: object
                additionalProperties: false
                required: [name, parameters]
                properties:
                  name:
                    type: string
                  description:
                    type: string
                  parameters:
                    type: object
                    additionalProperties: true
                  strict:
                    type: boolean
                    nullable: true

        tool_choice:
          anyOf:
            - type: string
              enum: [none, auto, required]
            - type: object
              required: [type, function]
              properties:
                type:
                  type: string
                  enum: [function]
                function:
                  type: object
                  required: [name]
                  properties:
                    name:
                      type: string

        parallel_tool_calls:
          type: boolean
          description: Whether to enable parallel function calling during tool use.

        prediction:
          type: object
          description: Predicted Output configuration.
          required: [type, content]
          properties:
            type:
              type: string
              enum: [content]
            content:
              anyOf:
                - type: string
                - type: array
                  items:
                    $ref: "#/components/schemas/TextPart"

    UserMessage:
      type: object
      additionalProperties: false
      required: [role, content]
      properties:
        role:
          type: string
          enum: [user]
        content:
          anyOf:
            - type: string
            - type: array
              items:
                anyOf:
                  - $ref: "#/components/schemas/TextPart"
                  - $ref: "#/components/schemas/ImageURLPart"
        name:
          type: string

    SystemMessage:
      type: object
      additionalProperties: false
      required: [role, content]
      properties:
        role:
          type: string
          enum: [system]
        content:
          anyOf:
            - type: string
            - type: array
              items:
                $ref: "#/components/schemas/TextPart"
        name:
          type: string

    ToolMessage:
      type: object
      additionalProperties: false
      required: [role, content, tool_call_id]
      properties:
        role:
          type: string
          enum: [tool]
        content:
          type: string
        tool_call_id:
          type: string
        name:
          type: string
          nullable: true

    AssistantMessage:
      type: object
      additionalProperties: false
      required: [role]
      properties:
        role:
          type: string
          enum: [assistant]
        content:
          anyOf:
            - type: string
            - type: array
              description: "Content parts: one or more text, or exactly one refusal."
              items:
                anyOf:
                  - $ref: "#/components/schemas/TextPart"
                  - $ref: "#/components/schemas/RefusalPart"
        tool_calls:
          type: array
          items:
            $ref: "#/components/schemas/ToolCall"
        refusal:
          type: string
          nullable: true
        name:
          type: string

    TextPart:
      type: object
      additionalProperties: false
      required: [type, text]
      properties:
        type:
          type: string
          enum: [text]
        text:
          type: string

    RefusalPart:
      type: object
      additionalProperties: false
      required: [type, refusal]
      properties:
        type:
          type: string
          enum: [refusal]
        refusal:
          type: string

    ImageURLPart:
      type: object
      additionalProperties: false
      required: [type, image_url]
      properties:
        type:
          type: string
          enum: [image_url]
        image_url:
          type: object
          additionalProperties: false
          required: [url]
          properties:
            url:
              type: string
              format: uri
            detail:
              type: string
              enum: [low, high, auto]

    ToolCall:
      type: object
      additionalProperties: false
      required: [id, type, function]
      properties:
        id:
          type: string
        type:
          type: string
          enum: [function]
        function:
          type: object
          additionalProperties: false
          required: [name, arguments]
          properties:
            name:
              type: string
            arguments:
              type: string
              description: JSON string with arguments.

    ChatCompletionResponse:
      type: object
      required: [id, object, created, model, choices, usage]
      properties:
        id:
          type: string
        object:
          type: string
          enum: [chat.completion]
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            required: [index, finish_reason, message]
            properties:
              index:
                type: integer
              finish_reason:
                type: string
                enum: [stop, length, content_filter, tool_calls]
              native_finish_reason:
                type: string
                nullable: true
              logprobs:
                nullable: true
              message:
                type: object
                required: [role, content]
                properties:
                  role:
                    type: string
                  content:
                    type: string
                  refusal:
                    type: string
                    nullable: true
        usage:
          type: object
          required: [prompt_tokens, completion_tokens, total_tokens]
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
            prompt_tokens_details:
              type: object
              nullable: true
              properties:
                cached_tokens:
                  type: integer
                  nullable: true
                audio_tokens:
                  type: integer
                  nullable: true
                video_tokens:
                  type: integer
                  nullable: true
            completion_tokens_details:
              type: object
              nullable: true
              properties:
                reasoning_tokens:
                  type: integer
                  nullable: true
                image_tokens:
                  type: integer
                  nullable: true
                audio_tokens:
                  type: integer
                  nullable: true
        meta:
          type: object
          nullable: true
          properties:
            usage:
              type: object
              nullable: true
              properties:
                credits_used:
                  type: integer
                  nullable: true

    ChatCompletionChunk:
      type: object
      required: [id, object, created, model, choices]
      properties:
        id:
          type: string
        object:
          type: string
          enum: [chat.completion.chunk]
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            required: [index, finish_reason]
            properties:
              index:
                type: integer
              finish_reason:
                type: string
                enum: [length, stop, tool_calls, content_filter, function_call]
              delta:
                type: object
                nullable: true
                properties:
                  role:
                    type: string
                    nullable: true
                  content:
                    type: string
                    nullable: true
                  refusal:
                    type: string
                    nullable: true
                  tool_calls:
                    type: array
                    nullable: true
        usage:
          type: object
          nullable: true

security:
  - access-token: []

paths:
  /v1/chat/completions:
    post:
      operationId: _v1_chat_completions
      security:
        - access-token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionRequest"
      responses:
        "200":
          description: Successfully generated chat completion
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatCompletionResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/ChatCompletionChunk"
      x-hideTryItPanel: true
      x-codeSamples:
        - lang: JavaScript
          source: |-
            async function main() {
              const response = await fetch('https://api.aimlapi.com/v1/chat/completions', {
                method: 'POST',
                headers: {
                  'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                  model: 'google/gemini-3-flash-preview',
                  messages: [{ role: 'user', content: 'Hello' }],
                  stream: false,
                }),
              });

              const data = await response.json();
              console.log(JSON.stringify(data, null, 2));
            }

            main();
        - lang: Python
          source: |-
            import requests

            response = requests.post(
              "https://api.aimlapi.com/v1/chat/completions",
              headers={
                "Authorization": "Bearer <YOUR_AIMLAPI_KEY>",
                "Content-Type": "application/json",
              },
              json={
                "model": "google/gemini-3-flash-preview",
                "messages": [{"role": "user", "content": "Hello"}],
                "stream": False,
              },
            )

            print(response.json())
        - lang: cURL
          source: |-
            curl -L \
              --request POST \
              --url 'https://api.aimlapi.com/v1/chat/completions' \
              --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \
              --header 'Content-Type: application/json' \
              --data '{
                "model": "google/gemini-3-flash-preview",
                "messages": [{"role":"user","content":"Hello"}],
                "stream": false
              }'
        - lang: HTTP
          source: |-
            POST /v1/chat/completions HTTP/1.1
            Host: api.aimlapi.com
            Authorization: Bearer <YOUR_AIMLAPI_KEY>
            Content-Type: application/json

            {
              "model": "google/gemini-3-flash-preview",
              "messages": [{"role":"user","content":"Hello"}],
              "stream": false
            }

  /chat/completions:
    post:
      operationId: _chat_completions
      security:
        - access-token: []
      description: Alias of /v1/chat/completions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionRequest"
      responses:
        "200":
          description: Successfully generated chat completion
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatCompletionResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/ChatCompletionChunk"
      x-hideTryItPanel: true
      x-codeSamples:
        - lang: JavaScript
          source: |-
            async function main() {
              const response = await fetch('https://api.aimlapi.com/chat/completions', {
                method: 'POST',
                headers: {
                  'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                  model: 'google/gemini-3-flash-preview',
                  messages: [{ role: 'user', content: 'Hello' }],
                  stream: false,
                }),
              });

              const data = await response.json();
              console.log(JSON.stringify(data, null, 2));
            }

            main();
