{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "operationId": "_v1_chat_completions",
        "summary": "Generate a conversational response using a language model.",
        "description": "Creates a chat completion using a language model, allowing interactive conversation by predicting the next response based on the given chat history.",
        "tags": ["Chat Completions"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["model", "messages"],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": ["google/gemini-3-flash-preview"]
                  },
                  "messages": {
                    "type": "array",
                    "description": "A list of messages comprising the conversation so far. This model supports text and image inputs.",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "required": ["role", "content"],
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": ["user"]
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "description": "Plain text user message."
                                },
                                {
                                  "type": "array",
                                  "description": "Multimodal content parts.",
                                  "items": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "required": ["type", "text"],
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": ["text"]
                                          },
                                          "text": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      {
                                        "type": "object",
                                        "required": ["type", "image_url"],
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": ["image_url"]
                                          },
                                          "image_url": {
                                            "type": "object",
                                            "required": ["url"],
                                            "properties": {
                                              "url": {
                                                "type": "string",
                                                "format": "uri",
                                                "description": "URL of the image."
                                              },
                                              "detail": {
                                                "type": "string",
                                                "enum": ["low", "high", "auto"],
                                                "default": "auto"
                                              }
                                            }
                                          }
                                        }
                                      }
                                    ]
                                  }
                                }
                              ]
                            }
                          },
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "required": ["role", "content"],
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": ["system", "developer"]
                            },
                            "content": {
                              "type": "string"
                            }
                          },
                          "additionalProperties": false
                        }
                      ]
                    }
                  },
                  "max_tokens": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "The maximum number of tokens that can be generated in the completion."
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, the response will be streamed using server-sent events."
                  },
                  "temperature": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 2
                  },
                  "top_p": {
                    "type": "number",
                    "minimum": 0.01,
                    "maximum": 1
                  },
                  "stop": {
                    "anyOf": [
                      { "type": "string" },
                      { "type": "array", "items": { "type": "string" } },
                      { "type": "null" }
                    ]
                  }
                }
              },
              "example": {
                "model": "google/gemini-3-flash-preview",
                "messages": [
                  {
                    "role": "user",
                    "content": [
                      { "type": "text", "text": "Describe what’s in this image in one paragraph." },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://i.ibb.co/JWKyY0Cr/IMG-6615.jpg",
                          "detail": "auto"
                        }
                      }
                    ]
                  }
                ],
                "stream": false,
                "max_tokens": 800
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated chat completion",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id", "object", "created", "model", "choices", "usage"],
                  "properties": {
                    "id": { "type": "string" },
                    "object": { "type": "string", "enum": ["chat.completion"] },
                    "created": { "type": "integer" },
                    "model": { "type": "string" },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["index", "message", "finish_reason"],
                        "properties": {
                          "index": { "type": "integer" },
                          "finish_reason": { "type": "string" },
                          "message": {
                            "type": "object",
                            "required": ["role", "content"],
                            "properties": {
                              "role": { "type": "string", "enum": ["assistant"] },
                              "content": { "type": "string" }
                            },
                            "additionalProperties": true
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "required": ["prompt_tokens", "completion_tokens", "total_tokens"],
                      "properties": {
                        "prompt_tokens": { "type": "integer" },
                        "completion_tokens": { "type": "integer" },
                        "total_tokens": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/chat/completions": {
      "post": {
        "operationId": "_chat_completions",
        "summary": "Alias of /v1/chat/completions",
        "tags": ["Chat Completions"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/paths/~1v1~1chat~1completions/post/requestBody/content/application~1json/schema"
              },
              "example": {
                "model": "google/gemini-3-flash-preview",
                "messages": [
                  {
                    "role": "user",
                    "content": "How to learn TypeScript?"
                  }
                ],
                "stream": false,
                "max_tokens": 800
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/paths/~1v1~1chat~1completions/post/responses/200"
          }
        }
      }
    }
  }
}
