{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "security": [
    {
      "access-token": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "operationId": "_v1_chat_completions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated chat completion",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionChunk"
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v1/chat/completions', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: 'google/gemini-3-flash-preview',\n      messages: [{ role: 'user', content: 'Hello' }],\n      stream: false,\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n  'https://api.aimlapi.com/v1/chat/completions',\n  headers={\n    'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n    'Content-Type': 'application/json'\n  },\n  json={\n    'model': 'google/gemini-3-flash-preview',\n    'messages': [\n      {'role': 'user', 'content': 'Hello'}\n    ],\n    'stream': False\n  }\n)\n\ndata = response.json()\nprint(data)"
          },
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v1/chat/completions' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"model\": \"google/gemini-3-flash-preview\",\n    \"messages\": [{\"role\":\"user\",\"content\":\"Hello\"}],\n    \"stream\": false\n  }'"
          },
          {
            "lang": "HTTP",
            "source": "POST /v1/chat/completions HTTP/1.1\nHost: api.aimlapi.com\nAuthorization: Bearer <YOUR_AIMLAPI_KEY>\nContent-Type: application/json\n\n{\n  \"model\": \"google/gemini-3-flash-preview\",\n  \"messages\": [{\"role\":\"user\",\"content\":\"Hello\"}],\n  \"stream\": false\n}"
          }
        ]
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "_chat_completions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated chat completion",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionChunk"
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v1/chat/completions', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: 'google/gemini-3-flash-preview',\n      messages: [{ role: 'user', content: 'Hello' }],\n      stream: false,\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "description": "Bearer key"
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "title": "google/gemini-3-flash-preview",
        "required": ["model", "messages"],
        "properties": {
          "model": {
            "type": "string",
            "enum": ["google/gemini-3-flash-preview"]
          },
          "messages": {
            "type": "array",
            "description": "A list of messages comprising the conversation so far. This model supports text and image inputs.",
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/UserMessage" },
                { "$ref": "#/components/schemas/SystemMessage" },
                { "$ref": "#/components/schemas/ToolMessage" },
                { "$ref": "#/components/schemas/AssistantMessage" }
              ]
            }
          },
          "max_completion_tokens": {
            "type": "integer",
            "minimum": 1,
            "description": "Upper bound for tokens generated for a completion, including visible output and reasoning tokens."
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1,
            "description": "Maximum number of tokens that can be generated in the chat completion."
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "If true, stream response via server-sent events."
          },
          "stream_options": {
            "type": "object",
            "properties": {
              "include_usage": {
                "type": "boolean"
              }
            },
            "required": ["include_usage"]
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "nullable": true,
            "description": "How many chat completion choices to generate for each input message."
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2,
            "description": "Sampling temperature."
          },
          "top_p": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 1,
            "description": "Nucleus sampling probability mass."
          },
          "stop": {
            "description": "Up to 4 sequences where the API will stop generating further tokens.",
            "anyOf": [
              { "type": "string" },
              { "type": "array", "items": { "type": "string" } },
              { "type": "string", "nullable": true }
            ]
          },
          "frequency_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "nullable": true,
            "description": "Penalize new tokens based on existing frequency."
          },
          "presence_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "nullable": true,
            "description": "Penalize new tokens based on whether they appear in the text so far."
          },
          "seed": {
            "type": "integer",
            "minimum": 1,
            "description": "Best-effort deterministic sampling (beta)."
          },
          "prediction": {
            "$ref": "#/components/schemas/Prediction"
          },
          "response_format": {
            "$ref": "#/components/schemas/ResponseFormat"
          },
          "tools": {
            "type": "array",
            "description": "List of tools the model may call (functions).",
            "items": { "$ref": "#/components/schemas/ToolDefinition" }
          },
          "tool_choice": {
            "$ref": "#/components/schemas/ToolChoice"
          },
          "parallel_tool_calls": {
            "type": "boolean",
            "description": "Whether to enable parallel function calling during tool use."
          }
        }
      },

      "UserMessage": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": { "type": "string", "enum": ["user"] },
          "content": { "$ref": "#/components/schemas/MessageContent" },
          "name": {
            "type": "string",
            "description": "Optional participant name to differentiate participants of the same role."
          }
        },
        "additionalProperties": false
      },

      "SystemMessage": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": { "type": "string", "enum": ["system"] },
          "content": { "$ref": "#/components/schemas/SystemContent" },
          "name": { "type": "string" }
        },
        "additionalProperties": false
      },

      "ToolMessage": {
        "type": "object",
        "required": ["role", "content", "tool_call_id"],
        "properties": {
          "role": { "type": "string", "enum": ["tool"] },
          "content": { "type": "string" },
          "tool_call_id": { "type": "string" },
          "name": { "type": "string", "nullable": true }
        },
        "additionalProperties": false
      },

      "AssistantMessage": {
        "type": "object",
        "required": ["role"],
        "properties": {
          "role": { "type": "string", "enum": ["assistant"] },
          "content": {
            "description": "Assistant message content. Required unless tool_calls is specified.",
            "anyOf": [
              { "type": "string" },
              {
                "type": "array",
                "items": {
                  "anyOf": [
                    { "$ref": "#/components/schemas/TextPart" },
                    { "$ref": "#/components/schemas/RefusalPart" }
                  ]
                }
              }
            ]
          },
          "name": { "type": "string" },
          "tool_calls": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ToolCall" }
          },
          "refusal": { "type": "string", "nullable": true }
        }
      },

      "MessageContent": {
        "description": "User message content: plain string OR array of parts (text/image_url).",
        "anyOf": [
          { "type": "string" },
          {
            "type": "array",
            "items": {
              "anyOf": [
                { "$ref": "#/components/schemas/TextPart" },
                { "$ref": "#/components/schemas/ImageURLPart" }
              ]
            }
          }
        ]
      },

      "SystemContent": {
        "description": "System message content: plain string OR array of text parts.",
        "anyOf": [
          { "type": "string" },
          { "type": "array", "items": { "$ref": "#/components/schemas/TextPart" } }
        ]
      },

      "TextPart": {
        "type": "object",
        "required": ["type", "text"],
        "properties": {
          "type": { "type": "string", "enum": ["text"] },
          "text": { "type": "string" }
        },
        "additionalProperties": false
      },

      "ImageURLPart": {
        "type": "object",
        "required": ["type", "image_url"],
        "properties": {
          "type": { "type": "string", "enum": ["image_url"] },
          "image_url": {
            "type": "object",
            "required": ["url"],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "URL of the image or base64 encoded image data."
              },
              "detail": {
                "type": "string",
                "enum": ["low", "high", "auto"],
                "description": "Detail level. Supports JPG/JPEG, PNG, GIF, WEBP."
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },

      "RefusalPart": {
        "type": "object",
        "required": ["type", "refusal"],
        "properties": {
          "type": { "type": "string", "enum": ["refusal"] },
          "refusal": { "type": "string" }
        },
        "additionalProperties": false
      },

      "Prediction": {
        "type": "object",
        "required": ["type", "content"],
        "properties": {
          "type": { "type": "string", "enum": ["content"] },
          "content": {
            "description": "Predicted output content.",
            "anyOf": [
              { "type": "string" },
              { "type": "array", "items": { "$ref": "#/components/schemas/TextPart" } }
            ]
          }
        },
        "additionalProperties": false
      },

      "ResponseFormat": {
        "description": "Output format constraint.",
        "oneOf": [
          {
            "type": "object",
            "required": ["type"],
            "properties": { "type": { "type": "string", "enum": ["text"] } },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": ["type"],
            "properties": { "type": { "type": "string", "enum": ["json_object"] } },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": ["type", "json_schema"],
            "properties": {
              "type": { "type": "string", "enum": ["json_schema"] },
              "json_schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string", "maxLength": 64 },
                  "schema": { "type": "object" },
                  "strict": { "type": "boolean", "nullable": true },
                  "description": { "type": "string" }
                },
                "additionalProperties": false
              }
            },
            "additionalProperties": false
          }
        ]
      },

      "ToolDefinition": {
        "type": "object",
        "required": ["type", "function"],
        "properties": {
          "type": { "type": "string", "enum": ["function"] },
          "function": {
            "type": "object",
            "required": ["name", "parameters"],
            "properties": {
              "name": { "type": "string", "maxLength": 64 },
              "description": { "type": "string" },
              "parameters": { "type": "object" },
              "strict": { "type": "boolean", "nullable": true }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },

      "ToolChoice": {
        "description": "Controls which (if any) tool is called by the model.",
        "anyOf": [
          {
            "type": "string",
            "enum": ["none", "auto", "required"]
          },
          {
            "type": "object",
            "required": ["type", "function"],
            "properties": {
              "type": { "type": "string", "enum": ["function"] },
              "function": {
                "type": "object",
                "required": ["name"],
                "properties": { "name": { "type": "string" } },
                "additionalProperties": false
              }
            },
            "additionalProperties": false
          }
        ]
      },

      "ToolCall": {
        "type": "object",
        "required": ["id", "type", "function"],
        "properties": {
          "id": { "type": "string" },
          "type": { "type": "string", "enum": ["function"] },
          "function": {
            "type": "object",
            "required": ["name", "arguments"],
            "properties": {
              "name": { "type": "string" },
              "arguments": {
                "type": "string",
                "description": "JSON string with arguments generated by the model."
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },

      "ChatCompletionResponse": {
        "type": "object",
        "required": ["id", "object", "created", "choices", "model", "usage"],
        "properties": {
          "id": { "type": "string", "description": "Unique identifier for the chat completion." },
          "object": { "type": "string", "enum": ["chat.completion"] },
          "created": { "type": "integer", "description": "Unix timestamp (seconds)." },
          "model": { "type": "string" },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["index", "message", "finish_reason"],
              "properties": {
                "index": { "type": "integer" },
                "finish_reason": {
                  "type": "string",
                  "enum": ["stop", "length", "content_filter", "tool_calls"]
                },
                "native_finish_reason": { "type": "string" },
                "logprobs": { "type": "object", "nullable": true },
                "message": {
                  "type": "object",
                  "required": ["role", "content"],
                  "properties": {
                    "role": { "type": "string", "enum": ["assistant"] },
                    "content": { "type": "string" },
                    "refusal": { "type": "string", "nullable": true }
                  },
                  "additionalProperties": true
                }
              },
              "additionalProperties": true
            }
          },
          "usage": {
            "type": "object",
            "required": ["prompt_tokens", "completion_tokens", "total_tokens"],
            "properties": {
              "prompt_tokens": { "type": "integer" },
              "completion_tokens": { "type": "integer" },
              "total_tokens": { "type": "integer" },
              "prompt_tokens_details": { "type": "object", "nullable": true },
              "completion_tokens_details": { "type": "object", "nullable": true }
            },
            "additionalProperties": true
          },
          "meta": { "type": "object", "nullable": true }
        },
        "additionalProperties": true
      },

      "ChatCompletionChunk": {
        "type": "object",
        "required": ["id", "object", "created", "model", "choices"],
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string", "enum": ["chat.completion.chunk"] },
          "created": { "type": "integer" },
          "model": { "type": "string" },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["index", "finish_reason"],
              "properties": {
                "index": { "type": "integer" },
                "finish_reason": {
                  "type": "string",
                  "enum": ["length", "function_call", "stop", "tool_calls", "content_filter"]
                },
                "delta": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "role": { "type": "string" },
                    "content": { "type": "string" },
                    "refusal": { "type": "string", "nullable": true },
                    "tool_calls": { "type": "array", "nullable": true }
                  },
                  "additionalProperties": true
                },
                "logprobs": { "type": "object", "nullable": true }
              },
              "additionalProperties": true
            }
          },
          "usage": { "type": "object", "nullable": true }
        },
        "additionalProperties": true
      }
    }
  }
}
