{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "operationId": "_v1_chat_completions",
        "summary": "Generate a conversational response using a language model.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "google/gemini-3-flash-preview"
                    ]
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "user"
                              ],
                              "description": "The role of the author of the message — in this case, the user."
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "text"
                                            ],
                                            "description": "The type of the content part."
                                          },
                                          "text": {
                                            "type": "string",
                                            "description": "The text content."
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "text"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "image_url"
                                            ],
                                            "description": "The type of the content part."
                                          },
                                          "image_url": {
                                            "type": "object",
                                            "properties": {
                                              "url": {
                                                "type": "string",
                                                "format": "uri",
                                                "description": "A URL of the image or base64-encoded image data."
                                              },
                                              "detail": {
                                                "type": "string",
                                                "enum": [
                                                  "low",
                                                  "high",
                                                  "auto"
                                                ],
                                                "description": "Image detail level."
                                              }
                                            },
                                            "required": [
                                              "url"
                                            ],
                                            "additionalProperties": false
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "image_url"
                                        ],
                                        "additionalProperties": false
                                      }
                                    ]
                                  }
                                }
                              ],
                              "description": "The contents of the user message."
                            },
                            "name": {
                              "type": "string",
                              "description": "Optional participant name."
                            }
                          },
                          "required": [
                            "role",
                            "content"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "system"
                              ],
                              "description": "The role of the author of the message — in this case, the system."
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "text"
                                        ],
                                        "description": "The type of the content part."
                                      },
                                      "text": {
                                        "type": "string",
                                        "description": "The text content."
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text"
                                    ],
                                    "additionalProperties": false
                                  }
                                }
                              ],
                              "description": "The contents of the system message."
                            },
                            "name": {
                              "type": "string",
                              "description": "Optional participant name."
                            }
                          },
                          "required": [
                            "role",
                            "content"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "developer"
                              ],
                              "description": "The role of the author of the message — in this case, the developer."
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "text"
                                        ],
                                        "description": "The type of the content part."
                                      },
                                      "text": {
                                        "type": "string",
                                        "description": "The text content."
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text"
                                    ],
                                    "additionalProperties": false
                                  }
                                }
                              ],
                              "description": "The contents of the developer message."
                            },
                            "name": {
                              "type": "string",
                              "description": "Optional participant name."
                            }
                          },
                          "required": [
                            "role",
                            "content"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "tool"
                              ],
                              "description": "The role of the author of the message — in this case, the tool."
                            },
                            "content": {
                              "type": "string",
                              "description": "The contents of the tool message."
                            },
                            "tool_call_id": {
                              "type": "string",
                              "description": "Tool call that this message is responding to."
                            },
                            "name": {
                              "type": "string",
                              "nullable": true,
                              "description": "Optional participant name."
                            }
                          },
                          "required": [
                            "role",
                            "content",
                            "tool_call_id"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "assistant"
                              ],
                              "description": "The role of the author of the message — in this case, the assistant."
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "The contents of the assistant message."
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "text"
                                            ],
                                            "description": "The type of the content part."
                                          },
                                          "text": {
                                            "type": "string",
                                            "description": "The text content."
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "text"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "refusal"
                                            ]
                                          },
                                          "refusal": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "refusal"
                                        ],
                                        "additionalProperties": false
                                      }
                                    ]
                                  }
                                }
                              ],
                              "description": "The contents of the assistant message."
                            },
                            "tool_calls": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "The ID of the tool call."
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "function"
                                    ],
                                    "description": "The type of the tool."
                                  },
                                  "function": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "description": "The name of the function to call."
                                      },
                                      "arguments": {
                                        "type": "string",
                                        "description": "The arguments for the function call, as JSON string."
                                      }
                                    },
                                    "required": [
                                      "name",
                                      "arguments"
                                    ],
                                    "additionalProperties": false
                                  }
                                },
                                "required": [
                                  "id",
                                  "type",
                                  "function"
                                ],
                                "additionalProperties": false
                              },
                              "nullable": true,
                              "description": "Tool calls generated by the model."
                            },
                            "name": {
                              "type": "string",
                              "description": "Optional participant name."
                            },
                            "refusal": {
                              "type": "string",
                              "nullable": true,
                              "description": "Refusal message."
                            }
                          },
                          "required": [
                            "role"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "description": "Conversation messages. This model supports text and image inputs."
                  },
                  "max_tokens": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Max tokens for the completion."
                  },
                  "max_completion_tokens": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Upper bound for output tokens, including reasoning tokens."
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false
                  },
                  "stream_options": {
                    "type": "object",
                    "properties": {
                      "include_usage": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "include_usage"
                    ],
                    "additionalProperties": false
                  },
                  "temperature": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 2
                  },
                  "top_p": {
                    "type": "number",
                    "minimum": 0.01,
                    "maximum": 1
                  },
                  "stop": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "minimum": -2,
                    "maximum": 2,
                    "nullable": true
                  },
                  "presence_penalty": {
                    "type": "number",
                    "minimum": -2,
                    "maximum": 2,
                    "nullable": true
                  },
                  "seed": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "logprobs": {
                    "type": "boolean",
                    "nullable": true
                  },
                  "top_logprobs": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 20,
                    "nullable": true
                  },
                  "tools": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "function"
                          ],
                          "description": "Tool type."
                        },
                        "function": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Function name."
                            },
                            "description": {
                              "type": "string",
                              "description": "Function description."
                            },
                            "parameters": {
                              "type": "object",
                              "description": "JSON Schema for function parameters.",
                              "additionalProperties": true
                            },
                            "strict": {
                              "type": "boolean",
                              "nullable": true,
                              "description": "Enable strict schema adherence."
                            }
                          },
                          "required": [
                            "name",
                            "parameters"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "type",
                        "function"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "tool_choice": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "none",
                          "auto",
                          "required"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "function"
                            ]
                          },
                          "function": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "type",
                          "function"
                        ],
                        "additionalProperties": false
                      }
                    ],
                    "description": "Controls which (if any) tool is called by the model."
                  },
                  "parallel_tool_calls": {
                    "type": "boolean"
                  },
                  "response_format": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ]
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "json_object"
                            ]
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "json_schema"
                            ]
                          },
                          "json_schema": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "schema": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "strict": {
                                "type": "boolean",
                                "nullable": true
                              },
                              "description": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "type",
                          "json_schema"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  }
                },
                "required": [
                  "model",
                  "messages"
                ],
                "additionalProperties": false,
                "example": {
                  "model": "google/gemini-3-flash-preview",
                  "messages": [
                    {
                      "role": "user",
                      "content": "How to learn Python?"
                    }
                  ],
                  "stream": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated chat completion",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "object": {
                      "type": "string",
                      "enum": [
                        "chat.completion"
                      ],
                      "example": "chat.completion"
                    },
                    "created": {
                      "type": "integer",
                      "nullable": true,
                      "example": null
                    },
                    "model": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer",
                            "example": 0
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string",
                                "enum": [
                                  "assistant"
                                ],
                                "example": "assistant"
                              },
                              "content": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "refusal": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              }
                            },
                            "required": [
                              "role",
                              "content"
                            ],
                            "additionalProperties": false
                          },
                          "finish_reason": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "native_finish_reason": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "logprobs": {
                            "type": "object",
                            "nullable": true,
                            "example": null
                          }
                        },
                        "required": [
                          "index",
                          "message",
                          "finish_reason"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "usage": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer",
                          "nullable": true,
                          "example": null
                        },
                        "completion_tokens": {
                          "type": "integer",
                          "nullable": true,
                          "example": null
                        },
                        "total_tokens": {
                          "type": "integer",
                          "nullable": true,
                          "example": null
                        },
                        "prompt_tokens_details": {
                          "type": "object",
                          "nullable": true
                        },
                        "completion_tokens_details": {
                          "type": "object",
                          "nullable": true
                        }
                      },
                      "additionalProperties": true
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "created",
                    "choices",
                    "model"
                  ],
                  "additionalProperties": false,
                  "example": {
                    "id": null,
                    "model": "google/gemini-3-flash-preview",
                    "object": "chat.completion",
                    "created": null,
                    "choices": [
                      {
                        "logprobs": null,
                        "finish_reason": "stop",
                        "native_finish_reason": null,
                        "index": 0,
                        "message": {
                          "role": "assistant",
                          "content": null,
                          "refusal": null
                        }
                      }
                    ],
                    "usage": null,
                    "meta": null
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
