{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v2/video/generations": {
      "post": {
        "operationId": "_v2_video_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "pixverse/v5.5/text-to-video"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "The text description of the scene, subject, or action to generate in the video."
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "16:9",
                      "4:3",
                      "1:1",
                      "3:4",
                      "9:16"
                    ],
                    "default": "16:9",
                    "description": "The aspect ratio of the generated video."
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "360p",
                      "540p",
                      "720p",
                      "1080p"
                    ],
                    "default": "720p",
                    "description": "An enumeration where the short side of the video frame determines the resolution."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "The output video length in seconds. The 1080p quality option does not support 8-second videos.",
                    "enum": [
                      5,
                      8,
                      10
                    ],
                    "default": "5"
                  },
                  "negative_prompt": {
                    "type": "string",
                    "description": "The description of elements to avoid in the generated video."
                  },
                  "style": {
                    "type": "string",
                    "enum": [
                      "anime",
                      "3d_animation",
                      "clay",
                      "comic",
                      "cyberpunk"
                    ],
                    "description": "The style of the generated video."
                  },
                  "seed": {
                    "type": "integer",
                    "description": "Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen."
                  },
                  "generate_audio_switch": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable audio generation.\n- true: Audio on.\n- false: Audio off."
                  },
                  "generate_multi_clip_switch": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable multi-clip generation with dynamic camera changes.\n- true: Multi-clip. \n- false: Single-clip."
                  },
                  "thinking_type": {
                    "type": "string",
                    "enum": [
                      "enabled",
                      "disabled",
                      "auto"
                    ],
                    "default": "enabled",
                    "description": "Prompt reasoning enhancement mode. \n- \"enabled\": Turn on prompt optimization. \n- \"disabled\": Turn off prompt optimization. \n- \"auto\" or omitted: Let the model decide automatically."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ],
                "title": "pixverse/v5.5/text-to-video"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the generated video.",
                      "example": "60ac7c34-3224-4b14-8e7d-0aa0db708325"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "generating",
                        "completed",
                        "error"
                      ],
                      "description": "The current status of the generation task.",
                      "example": "completed"
                    },
                    "video": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL where the file can be downloaded from.",
                          "example": "https://cdn.aimlapi.com/generations/hedgehog/1759866285599-0cdfb138-c03a-49d4-a601-4f6413e27b15.mp4"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "message"
                      ],
                      "description": "Description of the error, if any."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "credits_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v2/video/generations', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      \"model\": \"pixverse/v5-5-text-to-video\",\n      \"prompt\": \"A menacing evil dragon appears in a distance above the tallest mountain, then rushes toward the camera with its jaws open, revealing massive fangs. We see it’s coming.\"\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v2/video/generations\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n      \"model\": \"pixverse/v5-5-text-to-video\",\n      \"prompt\": \"A menacing evil dragon appears in a distance above the tallest mountain, then rushes toward the camera with its jaws open, revealing massive fangs. We see it’s coming.\"\n    }\n)\n\ndata = response.json()\nprint(data)"
          },
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v2/video/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"pixverse/v5-5-text-to-video\",\n      \"prompt\": \"A menacing evil dragon appears in a distance above the tallest mountain, then rushes toward the camera with its jaws open, revealing massive fangs. We see it’s coming.\"\n    }'"
          },
          {
            "lang": "HTTP",
            "source": "POST /v2/video/generations HTTP/1.1\nHost: api.aimlapi.com\nAuthorization: Bearer <YOUR_AIMLAPI_KEY>\nContent-Type: application/json\nAccept: */*\n\n{\n  \"model\": \"pixverse/v5-5-text-to-video\",\n  \"prompt\": \"A menacing evil dragon appears in a distance above the tallest mountain, then rushes toward the camera with its jaws open, revealing massive fangs. We see it’s coming.\"\n}"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}