{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/images/generations": {
      "post": {
        "operationId": "_v1_images_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "meshy/meshy-6-image-to-3d",
                      "meshy/v6/image-to-3d"
                    ]
                  },
                  "image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The image (URL or Base64 data URI) to build the 3D model from. Supported formats: JPG, JPEG, PNG, AVIF, HEIF."
                  },
                  "model_type": {
                    "type": "string",
                    "enum": [
                      "standard",
                      "lowpoly",
                      "smart-topology"
                    ],
                    "default": "standard",
                    "description": "Mesh generation mode. 'standard' produces a regular high-detail mesh, 'lowpoly' produces a clean low-poly mesh (the remesh controls topology, target_polycount and should_remesh are ignored in this mode), 'smart-topology' produces clean, natively separated parts."
                  },
                  "topology": {
                    "type": "string",
                    "enum": [
                      "triangle",
                      "quad"
                    ],
                    "default": "triangle",
                    "description": "Topology of the generated mesh: quad for smooth surfaces, triangle for detailed geometry."
                  },
                  "target_polycount": {
                    "type": "integer",
                    "minimum": 100,
                    "maximum": 300000,
                    "description": "Target number of polygons in the generated mesh, from 100 to 300,000 (at most 15,000 for 'smart-topology'). The actual count may deviate from the target. When omitted, 30,000 is used for 'standard' and 4,000 for 'smart-topology'. Ignored for 'lowpoly'."
                  },
                  "symmetry_mode": {
                    "type": "string",
                    "enum": [
                      "off",
                      "auto",
                      "on"
                    ],
                    "default": "auto",
                    "description": "Symmetry during generation: off disables it, auto detects it, on enforces it."
                  },
                  "should_remesh": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to run the remesh phase."
                  },
                  "should_texture": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to generate textures."
                  },
                  "enable_pbr": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to generate PBR maps (metallic, roughness, normal) in addition to the base color."
                  },
                  "pose_mode": {
                    "type": "string",
                    "enum": [
                      "a-pose",
                      "t-pose",
                      ""
                    ],
                    "default": "",
                    "description": "Pose of the generated model: 'a-pose', 't-pose', or an empty string for no specific pose."
                  },
                  "texture_prompt": {
                    "type": "string",
                    "maxLength": 600,
                    "description": "Text prompt that guides texturing, up to 600 characters."
                  }
                },
                "required": [
                  "model",
                  "image_url"
                ],
                "title": "meshy/meshy-6-image-to-3d"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "model_glb": {
                      "type": "object",
                      "nullable": true,
                      "description": "The generated mesh in GLB format — the main output.",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "Direct download URL.",
                          "example": "https://s3.aimlapi.com/files/file-01a10cc8-472f-75a4-bdd8-c97e46dcdd1f"
                        },
                        "content_type": {
                          "type": "string",
                          "example": "model/gltf-binary"
                        },
                        "file_name": {
                          "type": "string",
                          "example": "model.glb"
                        },
                        "file_size": {
                          "type": "integer",
                          "description": "Size in bytes.",
                          "example": 4788316
                        }
                      }
                    },
                    "thumbnail": {
                      "type": "object",
                      "nullable": true,
                      "description": "Rendered preview of the generated mesh.",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "Direct download URL.",
                          "example": "https://s3.aimlapi.com/files/file-01a10cc8-472f-75a4-bdd8-c97e46dcdd1f"
                        },
                        "content_type": {
                          "type": "string",
                          "example": "image/png"
                        },
                        "file_name": {
                          "type": "string",
                          "example": "preview.png"
                        },
                        "file_size": {
                          "type": "integer",
                          "description": "Size in bytes.",
                          "example": 90966
                        }
                      }
                    },
                    "model_urls": {
                      "type": "object",
                      "description": "The same mesh in every format it was exported to. `blend` is null unless requested.",
                      "properties": {
                        "glb": {
                          "type": "object",
                          "nullable": true,
                          "description": "GLB export.",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "Direct download URL.",
                              "example": "https://s3.aimlapi.com/files/file-01a10cc8-472f-75a4-bdd8-c97e46dcdd1f"
                            },
                            "content_type": {
                              "type": "string",
                              "example": "model/gltf-binary"
                            },
                            "file_name": {
                              "type": "string",
                              "example": "model.glb"
                            },
                            "file_size": {
                              "type": "integer",
                              "description": "Size in bytes.",
                              "example": 4788316
                            }
                          }
                        },
                        "fbx": {
                          "type": "object",
                          "nullable": true,
                          "description": "FBX export.",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "Direct download URL.",
                              "example": "https://s3.aimlapi.com/files/file-01a10cc8-472f-75a4-bdd8-c97e46dcdd1f"
                            },
                            "content_type": {
                              "type": "string",
                              "example": "application/octet-stream"
                            },
                            "file_name": {
                              "type": "string",
                              "example": "model.fbx"
                            },
                            "file_size": {
                              "type": "integer",
                              "description": "Size in bytes.",
                              "example": 4512748
                            }
                          }
                        },
                        "obj": {
                          "type": "object",
                          "nullable": true,
                          "description": "OBJ export.",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "Direct download URL.",
                              "example": "https://s3.aimlapi.com/files/file-01a10cc8-472f-75a4-bdd8-c97e46dcdd1f"
                            },
                            "content_type": {
                              "type": "string",
                              "example": "text/plain"
                            },
                            "file_name": {
                              "type": "string",
                              "example": "model.obj"
                            },
                            "file_size": {
                              "type": "integer",
                              "description": "Size in bytes.",
                              "example": 3328531
                            }
                          }
                        },
                        "usdz": {
                          "type": "object",
                          "nullable": true,
                          "description": "USDZ export.",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "Direct download URL.",
                              "example": "https://s3.aimlapi.com/files/file-01a10cc8-472f-75a4-bdd8-c97e46dcdd1f"
                            },
                            "content_type": {
                              "type": "string",
                              "example": "model/vnd.usdz+zip"
                            },
                            "file_name": {
                              "type": "string",
                              "example": "model.usdz"
                            },
                            "file_size": {
                              "type": "integer",
                              "description": "Size in bytes.",
                              "example": 5195846
                            }
                          }
                        },
                        "blend": {
                          "type": "object",
                          "nullable": true,
                          "description": "Blender export, when available.",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "Direct download URL.",
                              "example": "https://s3.aimlapi.com/files/file-01a10cc8-472f-75a4-bdd8-c97e46dcdd1f"
                            },
                            "content_type": {
                              "type": "string",
                              "example": "application/octet-stream"
                            },
                            "file_name": {
                              "type": "string",
                              "example": "model.blend"
                            },
                            "file_size": {
                              "type": "integer",
                              "description": "Size in bytes.",
                              "example": 0
                            }
                          }
                        },
                        "stl": {
                          "type": "object",
                          "nullable": true,
                          "description": "STL export.",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "Direct download URL.",
                              "example": "https://s3.aimlapi.com/files/file-01a10cc8-472f-75a4-bdd8-c97e46dcdd1f"
                            },
                            "content_type": {
                              "type": "string",
                              "example": "application/octet-stream"
                            },
                            "file_name": {
                              "type": "string",
                              "example": "model.stl"
                            },
                            "file_size": {
                              "type": "integer",
                              "description": "Size in bytes.",
                              "example": 1529634
                            }
                          }
                        }
                      }
                    },
                    "texture_urls": {
                      "type": "array",
                      "nullable": true,
                      "description": "Texture maps for the mesh. `metallic`, `normal` and `roughness` are only filled when `enable_pbr` is true.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "base_color": {
                            "type": "object",
                            "nullable": true,
                            "description": "Base colour map. Only base_color is produced unless `enable_pbr` is true.",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "content_type": {
                                "type": "string",
                                "example": "image/png"
                              },
                              "file_name": {
                                "type": "string",
                                "example": "texture_0.png"
                              },
                              "file_size": {
                                "type": "integer"
                              }
                            }
                          },
                          "metallic": {
                            "type": "object",
                            "nullable": true,
                            "description": "Metallic map. Only base_color is produced unless `enable_pbr` is true.",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "content_type": {
                                "type": "string",
                                "example": "image/png"
                              },
                              "file_name": {
                                "type": "string",
                                "example": "texture_0.png"
                              },
                              "file_size": {
                                "type": "integer"
                              }
                            }
                          },
                          "normal": {
                            "type": "object",
                            "nullable": true,
                            "description": "Normal map. Only base_color is produced unless `enable_pbr` is true.",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "content_type": {
                                "type": "string",
                                "example": "image/png"
                              },
                              "file_name": {
                                "type": "string",
                                "example": "texture_0.png"
                              },
                              "file_size": {
                                "type": "integer"
                              }
                            }
                          },
                          "roughness": {
                            "type": "object",
                            "nullable": true,
                            "description": "Roughness map. Only base_color is produced unless `enable_pbr` is true.",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "content_type": {
                                "type": "string",
                                "example": "image/png"
                              },
                              "file_name": {
                                "type": "string",
                                "example": "texture_0.png"
                              },
                              "file_size": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "seed": {
                      "type": "integer",
                      "description": "Seed used for this generation.",
                      "example": 107751191
                    },
                    "animation_glb": {
                      "nullable": true,
                      "description": "Animated GLB, when an animation was requested. Null otherwise.",
                      "example": null
                    },
                    "animation_fbx": {
                      "nullable": true,
                      "description": "Animated FBX, when an animation was requested. Null otherwise.",
                      "example": null
                    },
                    "rigged_character_glb": {
                      "nullable": true,
                      "description": "Rigged character GLB, when rigging was requested. Null otherwise.",
                      "example": null
                    },
                    "rigged_character_fbx": {
                      "nullable": true,
                      "description": "Rigged character FBX, when rigging was requested. Null otherwise.",
                      "example": null
                    },
                    "basic_animations": {
                      "nullable": true,
                      "description": "Basic animation set, when requested. Null otherwise.",
                      "example": null
                    },
                    "rig_task_id": {
                      "nullable": true,
                      "description": "Id of the rigging task, when one was created. Null otherwise.",
                      "example": null
                    },
                    "requestId": {
                      "type": "string",
                      "example": "01a10cc3-589e-7993-b964-3fe08ef2b484"
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "description": "Additional details about the generation.",
                      "properties": {
                        "model": {
                          "type": "string",
                          "example": "meshy/v6/image-to-3d"
                        },
                        "provider": {
                          "type": "string",
                          "example": "falai"
                        },
                        "usage": {
                          "type": "object",
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "example": 2080000
                            },
                            "usd_spent": {
                              "type": "number",
                              "example": 1.04
                            }
                          }
                        },
                        "metrics": {
                          "type": "object",
                          "properties": {
                            "duration_ms": {
                              "type": "integer",
                              "description": "Wall-clock time of the generation. Minutes, not seconds — set your client timeout accordingly.",
                              "example": 323751
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "The generated 3D model, with its textures and exports."
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request POST \\\n  --url 'https://api.aimlapi.com/v1/images/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --max-time 900 \\\n  --data '{\"model\": \"meshy/meshy-6-image-to-3d\", \"image_url\": \"https://raw.githubusercontent.com/aimlapi/api-docs/refs/heads/main/docs/.gitbook/assets/576px-Fly_Agaric_mushroom_05.jpg\"}'"
          },
          {
            "lang": "JavaScript",
            "source": "const response = await fetch('https://api.aimlapi.com/v1/images/generations', {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n  \"model\": \"meshy/meshy-6-image-to-3d\",\n  \"image_url\": \"https://raw.githubusercontent.com/aimlapi/api-docs/refs/heads/main/docs/.gitbook/assets/576px-Fly_Agaric_mushroom_05.jpg\"\n}),\n});\n\nconsole.log(await response.json());"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v1/images/generations\",\n    headers={\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n        \"Content-Type\": \"application/json\",\n    },\n    json={\n        \"model\": \"meshy/meshy-6-image-to-3d\",\n        \"image_url\": \"https://raw.githubusercontent.com/aimlapi/api-docs/refs/heads/main/docs/.gitbook/assets/576px-Fly_Agaric_mushroom_05.jpg\"\n    },\n    timeout=900,  # generation takes minutes\n)\n\nprint(response.json())"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}
