{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/images/generations": {
      "post": {
        "operationId": "_v1_images_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "meshy/meshy-6-image-to-3d"
                    ]
                  },
                  "image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The image (URL or Base64 data URI) to build the 3D model from. Supported formats: JPG, JPEG, PNG, AVIF, HEIF."
                  },
                  "model_type": {
                    "type": "string",
                    "enum": [
                      "standard",
                      "lowpoly",
                      "smart-topology"
                    ],
                    "default": "standard",
                    "description": "Mesh generation mode. 'standard' produces a regular high-detail mesh, 'lowpoly' produces a clean low-poly mesh (the remesh controls topology, target_polycount and should_remesh are ignored in this mode), 'smart-topology' produces clean, natively separated parts."
                  },
                  "topology": {
                    "type": "string",
                    "enum": [
                      "triangle",
                      "quad"
                    ],
                    "default": "triangle",
                    "description": "Topology of the generated mesh: quad for smooth surfaces, triangle for detailed geometry."
                  },
                  "target_polycount": {
                    "type": "integer",
                    "minimum": 100,
                    "maximum": 300000,
                    "description": "Target number of polygons in the generated mesh, from 100 to 300,000 (at most 15,000 for 'smart-topology'). The actual count may deviate from the target. When omitted, 30,000 is used for 'standard' and 4,000 for 'smart-topology'. Ignored for 'lowpoly'."
                  },
                  "symmetry_mode": {
                    "type": "string",
                    "enum": [
                      "off",
                      "auto",
                      "on"
                    ],
                    "default": "auto",
                    "description": "Symmetry during generation: off disables it, auto detects it, on enforces it."
                  },
                  "should_remesh": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to run the remesh phase."
                  },
                  "should_texture": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to generate textures."
                  },
                  "enable_pbr": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to generate PBR maps (metallic, roughness, normal) in addition to the base color."
                  },
                  "pose_mode": {
                    "type": "string",
                    "enum": [
                      "a-pose",
                      "t-pose",
                      ""
                    ],
                    "default": "",
                    "description": "Pose of the generated model: 'a-pose', 't-pose', or an empty string for no specific pose."
                  },
                  "texture_prompt": {
                    "type": "string",
                    "maxLength": 600,
                    "description": "Text prompt that guides texturing, up to 600 characters."
                  }
                },
                "required": [
                  "model",
                  "image_url"
                ],
                "title": "meshy/meshy-6-image-to-3d"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "nullable": true,
                            "description": "The URL where the file can be downloaded from.",
                            "example": "https://cdn.aimlapi.com/generations/hedgehog/1749730923700-29fe35d2-4aef-4bc5-a911-6c39884d16a8.png"
                          },
                          "b64_json": {
                            "type": "string",
                            "nullable": true,
                            "description": "The base64-encoded JSON of the generated image.",
                            "example": null
                          }
                        }
                      },
                      "description": "The list of generated images."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            },
                            "usd_spent": {
                              "type": "number",
                              "description": "The total amount of money spent by the user in USD.",
                              "example": 0.06
                            }
                          },
                          "required": [
                            "credits_used",
                            "usd_spent"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  }
                }
              }
            },
            "description": "Successful response."
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request POST \\\n  --url 'https://api.aimlapi.com/v1/images/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\"model\": \"meshy/meshy-6-image-to-3d\", \"image_url\": \"https://example.com/input.jpg\"}'"
          },
          {
            "lang": "JavaScript",
            "source": "const response = await fetch('https://api.aimlapi.com/v1/images/generations', {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n  \"model\": \"meshy/meshy-6-image-to-3d\",\n  \"image_url\": \"https://example.com/input.jpg\"\n}),\n});\n\nconsole.log(await response.json());"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v1/images/generations\",\n    headers={\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n        \"Content-Type\": \"application/json\",\n    },\n    json={'model': 'meshy/meshy-6-image-to-3d', 'image_url': 'https://example.com/input.jpg'},\n)\n\nprint(response.json())"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}
