{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/tts": {
      "post": {
        "operationId": "_tts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "minimax/speech-2.6-hd"
                    ]
                  },
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 5000,
                    "description": "The text content to be converted to speech."
                  },
                  "voice_setting": {
                    "type": "object",
                    "properties": {
                      "voice_id": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "Wise_Woman",
                              "Friendly_Person",
                              "Inspirational_girl",
                              "Deep_Voice_Man",
                              "Calm_Woman",
                              "Casual_Guy",
                              "Lively_Girl",
                              "Patient_Man",
                              "Young_Knight",
                              "Determined_Man",
                              "Lovely_Girl",
                              "Decent_Boy",
                              "Imposing_Manner",
                              "Elegant_Man",
                              "Abbess",
                              "Sweet_Girl_2",
                              "Exuberant_Girl"
                            ]
                          },
                          {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64
                          }
                        ],
                        "default": "Wise_Woman",
                        "description": "A predefined system voice for text-to-speech synthesis."
                      },
                      "speed": {
                        "type": "number",
                        "minimum": 0.5,
                        "maximum": 2,
                        "default": 1,
                        "description": "Adjusts the speed of the voice. A value of 1.0 is the default speed, while values less than 1.0 slow down the speech, and values greater than 1.0 speed it up."
                      },
                      "vol": {
                        "type": "number",
                        "minimum": 0.01,
                        "maximum": 10,
                        "default": 1,
                        "description": "The volume of the generated speech. Range: (0, 10]. Larger values indicate larger volumes."
                      },
                      "pitch": {
                        "type": "number",
                        "minimum": -12,
                        "maximum": 12,
                        "default": 0,
                        "description": "The pitch of the generated speech. Range: [-12, 12]. 0 = default voice output."
                      },
                      "emotion": {
                        "type": "string",
                        "enum": [
                          "happy",
                          "sad",
                          "angry",
                          "fearful",
                          "disgusted",
                          "surprised",
                          "neutral"
                        ],
                        "description": "Emotional tone to apply to the synthesized speech. Controls the emotional expression of the generated voice output."
                      },
                      "text_normalization": {
                        "type": "boolean",
                        "default": false,
                        "description": "English text normalization support. Improves number-reading but increases latency."
                      }
                    },
                    "default": {
                      "voice_id": "Wise_Woman"
                    },
                    "description": "Voice settings overriding stored settings for the given voice. They are applied only on the given request."
                  },
                  "audio_setting": {
                    "type": "object",
                    "properties": {
                      "sample_rate": {
                        "type": "integer",
                        "description": "Audio sample rate in Hz.",
                        "enum": [
                          8000,
                          16000,
                          22050,
                          24000,
                          32000,
                          44100
                        ]
                      },
                      "bitrate": {
                        "type": "integer",
                        "description": "Audio bitrate in bits per second. Controls the compression level and audio quality. Higher bitrates provide better quality but larger file sizes.",
                        "enum": [
                          32000,
                          64000,
                          128000,
                          256000
                        ]
                      },
                      "format": {
                        "type": "string",
                        "enum": [
                          "mp3",
                          "pcm",
                          "flac"
                        ],
                        "default": "mp3",
                        "description": "Audio output format. MP3 provides good compression and compatibility, PCM offers uncompressed high quality, and FLAC provides lossless compression."
                      },
                      "channel": {
                        "type": "integer",
                        "description": "Number of audio channels. 1 for mono (single channel), 2 for stereo (dual channel) output.",
                        "enum": [
                          1,
                          2
                        ]
                      }
                    },
                    "description": "Audio output configuration"
                  },
                  "pronunciation_dict": {
                    "type": "object",
                    "properties": {
                      "tone": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Replacement of text and pronunciations. Format: [\"燕少飞/(yan4)(shao3)(fei1)\", \"达菲/(da2)(fei1)\", \"omg/oh my god\"]"
                      }
                    },
                    "required": [
                      "tone"
                    ],
                    "description": "Custom pronunciation dictionary for handling specific words or phrases. Allows fine-tuning of how certain text should be pronounced using phonetic representations."
                  },
                  "timbre_weights": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "voice_id": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "Wise_Woman",
                                "Friendly_Person",
                                "Inspirational_girl",
                                "Deep_Voice_Man",
                                "Calm_Woman",
                                "Casual_Guy",
                                "Lively_Girl",
                                "Patient_Man",
                                "Young_Knight",
                                "Determined_Man",
                                "Lovely_Girl",
                                "Decent_Boy",
                                "Imposing_Manner",
                                "Elegant_Man",
                                "Abbess",
                                "Sweet_Girl_2",
                                "Exuberant_Girl"
                              ]
                            },
                            {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64
                            }
                          ],
                          "description": "A predefined system voice for text-to-speech synthesis."
                        },
                        "weight": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 100,
                          "description": "Weight for voice mixing. Range: [1, 100]. Higher weights are sampled more heavily."
                        }
                      },
                      "required": [
                        "voice_id",
                        "weight"
                      ]
                    },
                    "maxItems": 4,
                    "description": "Voice mixing configuration allowing combination of up to 4 different voices with specified weights. Each voice contributes to the final output based on its weight value (1-100)."
                  },
                  "language_boost": {
                    "type": "string",
                    "enum": [
                      "Chinese",
                      "Chinese,Yue",
                      "English",
                      "Arabic",
                      "Russian",
                      "Spanish",
                      "French",
                      "Portuguese",
                      "German",
                      "Turkish",
                      "Dutch",
                      "Ukrainian",
                      "Vietnamese",
                      "Indonesian",
                      "Japanese",
                      "Italian",
                      "Korean",
                      "Thai",
                      "Polish",
                      "Romanian",
                      "Greek",
                      "Czech",
                      "Finnish",
                      "Hindi",
                      "Bulgarian",
                      "Danish",
                      "Hebrew",
                      "Malay",
                      "Persian",
                      "Slovak",
                      "Swedish",
                      "Croatian",
                      "Filipino",
                      "Hungarian",
                      "Norwegian",
                      "Slovenian",
                      "Catalan",
                      "Nynorsk",
                      "Tamil",
                      "Afrikaans",
                      "auto"
                    ],
                    "description": "Language recognition enhancement option."
                  },
                  "voice_modify": {
                    "type": "object",
                    "properties": {
                      "pitch": {
                        "type": "integer",
                        "minimum": -100,
                        "maximum": 100,
                        "description": "Pitch level (-100 to 100)"
                      },
                      "intensity": {
                        "type": "integer",
                        "minimum": -100,
                        "maximum": 100,
                        "description": "Intensity level (-100 to 100)"
                      },
                      "timbre": {
                        "type": "integer",
                        "minimum": -100,
                        "maximum": 100,
                        "description": "Timbre level (-100 to 100)"
                      },
                      "sound_effects": {
                        "type": "string",
                        "enum": [
                          "spacious_echo",
                          "auditorium_echo",
                          "lofi_telephone",
                          "robotic"
                        ],
                        "description": "Audio effects to apply to the synthesized speech. Includes options like spacious_echo, auditorium_echo, lofi_telephone, and robotic effects."
                      }
                    },
                    "description": "Voice modification settings for adjusting pitch, intensity, timbre, and applying sound effects to customize the voice characteristics."
                  },
                  "subtitle_enable": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable subtitle generation service. Only available for non-streaming requests. Generates timing information for the synthesized speech."
                  },
                  "stream": {
                    "type": "boolean",
                    "enum": [
                      false
                    ],
                    "default": false
                  }
                },
                "required": [
                  "model",
                  "text"
                ],
                "title": "minimax/speech-2.6-hd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "audio": {
                      "type": "string",
                      "format": "uri"
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "credits_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  },
                  "required": [
                    "audio"
                  ]
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Audio stream"
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v1/tts' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"minimax/speech-2.6-hd\",\n      \"text\": \"Hello\"\n    }'"
          },
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v1/tts', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      \"model\": \"minimax/speech-2.6-hd\",\n      \"text\": \"Hello\"\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v1/tts\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n      \"model\": \"minimax/speech-2.6-hd\",\n      \"text\": \"Hello\"\n    }\n)\n\ndata = response.json()\nprint(data)"
          }
        ]
      }
    },
    "/v1/tts": {
      "post": {
        "operationId": "_v1_tts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "minimax/speech-2.6-hd"
                    ]
                  },
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 5000,
                    "description": "The text content to be converted to speech."
                  },
                  "voice_setting": {
                    "type": "object",
                    "properties": {
                      "voice_id": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "Wise_Woman",
                              "Friendly_Person",
                              "Inspirational_girl",
                              "Deep_Voice_Man",
                              "Calm_Woman",
                              "Casual_Guy",
                              "Lively_Girl",
                              "Patient_Man",
                              "Young_Knight",
                              "Determined_Man",
                              "Lovely_Girl",
                              "Decent_Boy",
                              "Imposing_Manner",
                              "Elegant_Man",
                              "Abbess",
                              "Sweet_Girl_2",
                              "Exuberant_Girl"
                            ]
                          },
                          {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64
                          }
                        ],
                        "default": "Wise_Woman",
                        "description": "A predefined system voice for text-to-speech synthesis."
                      },
                      "speed": {
                        "type": "number",
                        "minimum": 0.5,
                        "maximum": 2,
                        "default": 1,
                        "description": "Adjusts the speed of the voice. A value of 1.0 is the default speed, while values less than 1.0 slow down the speech, and values greater than 1.0 speed it up."
                      },
                      "vol": {
                        "type": "number",
                        "minimum": 0.01,
                        "maximum": 10,
                        "default": 1,
                        "description": "The volume of the generated speech. Range: (0, 10]. Larger values indicate larger volumes."
                      },
                      "pitch": {
                        "type": "number",
                        "minimum": -12,
                        "maximum": 12,
                        "default": 0,
                        "description": "The pitch of the generated speech. Range: [-12, 12]. 0 = default voice output."
                      },
                      "emotion": {
                        "type": "string",
                        "enum": [
                          "happy",
                          "sad",
                          "angry",
                          "fearful",
                          "disgusted",
                          "surprised",
                          "neutral"
                        ],
                        "description": "Emotional tone to apply to the synthesized speech. Controls the emotional expression of the generated voice output."
                      },
                      "text_normalization": {
                        "type": "boolean",
                        "default": false,
                        "description": "English text normalization support. Improves number-reading but increases latency."
                      }
                    },
                    "default": {
                      "voice_id": "Wise_Woman"
                    },
                    "description": "Voice settings overriding stored settings for the given voice. They are applied only on the given request."
                  },
                  "audio_setting": {
                    "type": "object",
                    "properties": {
                      "sample_rate": {
                        "type": "integer",
                        "description": "Audio sample rate in Hz.",
                        "enum": [
                          8000,
                          16000,
                          22050,
                          24000,
                          32000,
                          44100
                        ]
                      },
                      "bitrate": {
                        "type": "integer",
                        "description": "Audio bitrate in bits per second. Controls the compression level and audio quality. Higher bitrates provide better quality but larger file sizes.",
                        "enum": [
                          32000,
                          64000,
                          128000,
                          256000
                        ]
                      },
                      "format": {
                        "type": "string",
                        "enum": [
                          "mp3",
                          "pcm",
                          "flac"
                        ],
                        "default": "mp3",
                        "description": "Audio output format. MP3 provides good compression and compatibility, PCM offers uncompressed high quality, and FLAC provides lossless compression."
                      },
                      "channel": {
                        "type": "integer",
                        "description": "Number of audio channels. 1 for mono (single channel), 2 for stereo (dual channel) output.",
                        "enum": [
                          1,
                          2
                        ]
                      }
                    },
                    "description": "Audio output configuration"
                  },
                  "pronunciation_dict": {
                    "type": "object",
                    "properties": {
                      "tone": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Replacement of text and pronunciations. Format: [\"燕少飞/(yan4)(shao3)(fei1)\", \"达菲/(da2)(fei1)\", \"omg/oh my god\"]"
                      }
                    },
                    "required": [
                      "tone"
                    ],
                    "description": "Custom pronunciation dictionary for handling specific words or phrases. Allows fine-tuning of how certain text should be pronounced using phonetic representations."
                  },
                  "timbre_weights": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "voice_id": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "Wise_Woman",
                                "Friendly_Person",
                                "Inspirational_girl",
                                "Deep_Voice_Man",
                                "Calm_Woman",
                                "Casual_Guy",
                                "Lively_Girl",
                                "Patient_Man",
                                "Young_Knight",
                                "Determined_Man",
                                "Lovely_Girl",
                                "Decent_Boy",
                                "Imposing_Manner",
                                "Elegant_Man",
                                "Abbess",
                                "Sweet_Girl_2",
                                "Exuberant_Girl"
                              ]
                            },
                            {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64
                            }
                          ],
                          "description": "A predefined system voice for text-to-speech synthesis."
                        },
                        "weight": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 100,
                          "description": "Weight for voice mixing. Range: [1, 100]. Higher weights are sampled more heavily."
                        }
                      },
                      "required": [
                        "voice_id",
                        "weight"
                      ]
                    },
                    "maxItems": 4,
                    "description": "Voice mixing configuration allowing combination of up to 4 different voices with specified weights. Each voice contributes to the final output based on its weight value (1-100)."
                  },
                  "language_boost": {
                    "type": "string",
                    "enum": [
                      "Chinese",
                      "Chinese,Yue",
                      "English",
                      "Arabic",
                      "Russian",
                      "Spanish",
                      "French",
                      "Portuguese",
                      "German",
                      "Turkish",
                      "Dutch",
                      "Ukrainian",
                      "Vietnamese",
                      "Indonesian",
                      "Japanese",
                      "Italian",
                      "Korean",
                      "Thai",
                      "Polish",
                      "Romanian",
                      "Greek",
                      "Czech",
                      "Finnish",
                      "Hindi",
                      "Bulgarian",
                      "Danish",
                      "Hebrew",
                      "Malay",
                      "Persian",
                      "Slovak",
                      "Swedish",
                      "Croatian",
                      "Filipino",
                      "Hungarian",
                      "Norwegian",
                      "Slovenian",
                      "Catalan",
                      "Nynorsk",
                      "Tamil",
                      "Afrikaans",
                      "auto"
                    ],
                    "description": "Language recognition enhancement option."
                  },
                  "voice_modify": {
                    "type": "object",
                    "properties": {
                      "pitch": {
                        "type": "integer",
                        "minimum": -100,
                        "maximum": 100,
                        "description": "Pitch level (-100 to 100)"
                      },
                      "intensity": {
                        "type": "integer",
                        "minimum": -100,
                        "maximum": 100,
                        "description": "Intensity level (-100 to 100)"
                      },
                      "timbre": {
                        "type": "integer",
                        "minimum": -100,
                        "maximum": 100,
                        "description": "Timbre level (-100 to 100)"
                      },
                      "sound_effects": {
                        "type": "string",
                        "enum": [
                          "spacious_echo",
                          "auditorium_echo",
                          "lofi_telephone",
                          "robotic"
                        ],
                        "description": "Audio effects to apply to the synthesized speech. Includes options like spacious_echo, auditorium_echo, lofi_telephone, and robotic effects."
                      }
                    },
                    "description": "Voice modification settings for adjusting pitch, intensity, timbre, and applying sound effects to customize the voice characteristics."
                  },
                  "subtitle_enable": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable subtitle generation service. Only available for non-streaming requests. Generates timing information for the synthesized speech."
                  },
                  "stream": {
                    "type": "boolean",
                    "enum": [
                      false
                    ],
                    "default": false
                  }
                },
                "required": [
                  "model",
                  "text"
                ],
                "title": "minimax/speech-2.6-hd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "audio": {
                      "type": "string",
                      "format": "uri"
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "credits_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  },
                  "required": [
                    "audio"
                  ]
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Audio stream"
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v1/tts' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"minimax/speech-2.6-hd\",\n      \"text\": \"Hello\"\n    }'"
          },
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v1/tts', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      \"model\": \"minimax/speech-2.6-hd\",\n      \"text\": \"Hello\"\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v1/tts\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n      \"model\": \"minimax/speech-2.6-hd\",\n      \"text\": \"Hello\"\n    }\n)\n\ndata = response.json()\nprint(data)"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}