{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "operationId": "_v1_chat_completions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": ["nvidia/nemotron-3-ultra-550b-a55b"]
                  },
                  "messages": {
                    "type": "array",
                    "description": "A list of messages comprising the conversation so far.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": ["system", "user", "assistant", "tool"],
                          "description": "The role of the message author."
                        },
                        "content": {
                          "type": "string",
                          "description": "The content of the message."
                        }
                      },
                      "required": ["role", "content"]
                    }
                  },
                  "max_tokens": {
                    "type": "number",
                    "minimum": 1,
                    "description": "The maximum number of tokens to generate. Controls output length and cost.",
                    "example": 1024
                  },
                  "temperature": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 2,
                    "description": "Sampling temperature. Higher values produce more random output; lower values make it more focused and deterministic. Do not use together with top_p.",
                    "example": 0.7
                  },
                  "top_p": {
                    "type": "number",
                    "minimum": 0.01,
                    "maximum": 1,
                    "description": "Nucleus sampling threshold. The model considers only tokens comprising the top top_p probability mass. Do not use together with temperature.",
                    "example": 0.9
                  },
                  "top_k": {
                    "type": "number",
                    "description": "Sample from the top K most likely tokens at each step. Reduces low-probability outputs. Recommended for advanced use cases only.",
                    "example": 50
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, the response will be streamed as server-sent events (SSE) as it is generated.",
                    "example": false
                  },
                  "stop": {
                    "anyOf": [
                      {"type": "string"},
                      {"type": "array", "items": {"type": "string"}}
                    ],
                    "description": "Up to 4 sequences where the API will stop generating further tokens.",
                    "example": ["\\n\\n"]
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "minimum": -2,
                    "maximum": 2,
                    "nullable": true,
                    "description": "Penalizes tokens based on their frequency in the text so far, reducing repetition.",
                    "example": 0
                  },
                  "presence_penalty": {
                    "type": "number",
                    "minimum": -2,
                    "maximum": 2,
                    "nullable": true,
                    "description": "Penalizes tokens based on whether they have appeared in the text so far, encouraging the model to discuss new topics.",
                    "example": 0
                  },
                  "seed": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "If specified, the system will attempt deterministic sampling — repeated requests with the same seed and parameters should return the same result.",
                    "example": 42
                  },
                  "tools": {
                    "type": "array",
                    "description": "A list of tools (functions) the model may call. Supports up to 128 functions.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": ["function"]
                        },
                        "function": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The name of the function to call."
                            },
                            "description": {
                              "type": "string",
                              "description": "A description of what the function does."
                            },
                            "parameters": {
                              "type": "object",
                              "description": "The parameters the function accepts, described as a JSON Schema object."
                            }
                          },
                          "required": ["name"]
                        }
                      },
                      "required": ["type", "function"]
                    }
                  },
                  "tool_choice": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": ["none", "auto", "required"],
                        "description": "none — model will not call any tool. auto — model can pick between a message or tool call. required — model must call one or more tools."
                      }
                    ],
                    "description": "Controls which tool (if any) the model calls."
                  },
                  "response_format": {
                    "type": "object",
                    "description": "Specifies the output format. Use {\"type\": \"json_object\"} to enable JSON mode, or {\"type\": \"json_schema\", \"json_schema\": {...}} for structured output.",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": ["text", "json_object", "json_schema"]
                      }
                    }
                  },
                  "reasoning": {
                    "type": "object",
                    "description": "Configuration for model reasoning/thinking tokens.",
                    "properties": {
                      "effort": {
                        "type": "string",
                        "enum": ["low", "medium", "high"],
                        "description": "Reasoning effort level. Higher effort uses more tokens but produces better results for complex tasks."
                      },
                      "max_tokens": {
                        "type": "integer",
                        "minimum": 1,
                        "description": "Maximum number of reasoning tokens. Cannot be used simultaneously with effort."
                      },
                      "exclude": {
                        "type": "boolean",
                        "description": "If true, reasoning tokens will be excluded from the response."
                      }
                    }
                  }
                },
                "required": ["model", "messages"],
                "title": "nvidia/nemotron-3-ultra-550b-a55b"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A unique identifier for the chat completion.",
                      "example": "chatcmpl-abc123"
                    },
                    "object": {
                      "type": "string",
                      "enum": ["chat.completion"],
                      "example": "chat.completion"
                    },
                    "created": {
                      "type": "number",
                      "description": "Unix timestamp of when the completion was created.",
                      "example": 1749730923
                    },
                    "model": {
                      "type": "string",
                      "description": "The model used for the completion.",
                      "example": "nvidia/nemotron-3-ultra-550b-a55b"
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {"type": "number", "example": 0},
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": {"type": "string", "example": "assistant"},
                              "content": {
                                "type": "string",
                                "example": "The capital of France is Paris."
                              }
                            }
                          },
                          "finish_reason": {
                            "type": "string",
                            "enum": ["stop", "length", "tool_calls", "content_filter"],
                            "example": "stop"
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": {"type": "number", "example": 12},
                        "completion_tokens": {"type": "number", "example": 9},
                        "total_tokens": {"type": "number", "example": 21}
                      }
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of credits consumed during generation.",
                              "example": 21000
                            },
                            "usd_spent": {
                              "type": "number",
                              "description": "The total amount spent in USD.",
                              "example": 0.000273
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": ["id", "object", "created", "choices", "model", "usage"]
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v1/chat/completions' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"nvidia/nemotron-3-ultra-550b-a55b\",\n      \"messages\": [\n        {\"role\": \"system\", \"content\": \"You are a helpful assistant.\"},\n        {\"role\": \"user\", \"content\": \"What is the capital of France?\"}\n      ],\n      \"max_tokens\": 512\n    }'"
          },
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v1/chat/completions', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: 'nvidia/nemotron-3-ultra-550b-a55b',\n      messages: [\n        { role: 'system', content: 'You are a helpful assistant.' },\n        { role: 'user', content: 'What is the capital of France?' },\n      ],\n      max_tokens: 512,\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\nimport json\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v1/chat/completions\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n        \"model\": \"nvidia/nemotron-3-ultra-550b-a55b\",\n        \"messages\": [\n            {\"role\": \"system\", \"content\": \"You are a helpful assistant.\"},\n            {\"role\": \"user\", \"content\": \"What is the capital of France?\"}\n        ],\n        \"max_tokens\": 512\n    }\n)\n\ndata = response.json()\nprint(json.dumps(data, indent=2, ensure_ascii=False))"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}
