{
  "paths": {
    "/v1/ocr": {
      "post": {
        "x-hideTryItPanel": true,
        "operationId": "DocumentModelsController_processOCRRequest_v1",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "enum": [
                      "zhipu/glm-ocr"
                    ]
                  },
                  "document": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "document_url"
                            ],
                            "description": "Type of document."
                          },
                          "document_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL of a document file to be processed by the OCR model. Supported file formats: PDF ≤ 50MB."
                          }
                        },
                        "required": [
                          "type",
                          "document_url"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "image_url"
                            ],
                            "description": "Image URL."
                          },
                          "image_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL of a single image to be processed by the OCR model. Supported file formats: JPG, PNG. Single image ≤10MB."
                          }
                        },
                        "required": [
                          "type",
                          "image_url"
                        ]
                      }
                    ],
                    "description": "Document to run OCR."
                  },
                  "pages": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      {
                        "nullable": true
                      }
                    ],
                    "description": "Specific pages to process, e.g. \"3\", \"0-2\", [0, 3, 4]."
                  },
                  "include_image_base64": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Include base64 images in response."
                  },
                  "image_limit": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Max images to extract."
                  },
                  "image_min_size": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Minimum height and width of image to extract."
                  },
                  "return_crop_images": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Whether to return screenshot information"
                  },
                  "need_layout_visualization": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Whether to return detailed layout image result information"
                  }
                },
                "required": [
                  "document"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully processed document with OCR",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vision.v1.OCRResponseDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Vision Models"
        ],
        "security": [
          {
            "access-token": []
          }
        ]
      }
    }
  },
  "openapi": "3.0.0",
  "info": {
    "title": "AI/ML Gateway",
    "description": "",
    "version": "1.0",
    "contact": {}
  },
  "tags": [],
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    },
    "schemas": {
      "Vision.v1.OCRPayloadDTO": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/Vision.v1.OCRGoogleRequestDTO"
          },
          {
            "$ref": "#/components/schemas/Vision.v1.OCRMistralRequestDTO"
          },
          {
            "$ref": "#/components/schemas/Vision.v1.OCRZhipuRequestDTO"
          }
        ]
      },
      "Vision.v1.OCRZhipuRequestDTO": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "zhipu/glm-ocr"
            ],
            "default": "zhipu/glm-ocr",
            "description": "Model ID"
          },
          "document": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "document_url"
                    ],
                    "description": "Type of document."
                  },
                  "document_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of a document file to be processed by the OCR model. Supported file formats: PDF ≤ 50MB."
                  }
                },
                "required": [
                  "type",
                  "document_url"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "image_url"
                    ],
                    "description": "Image URL."
                  },
                  "image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of a single image to be processed by the OCR model. Supported file formats: JPG, PNG. Single image ≤10MB."
                  }
                },
                "required": [
                  "type",
                  "image_url"
                ]
              }
            ],
            "description": "Document to run OCR."
          },
          "pages": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              {
                "nullable": true
              }
            ],
            "description": "Specific pages to process, e.g. \"3\", \"0-2\", [0, 3, 4]."
          },
          "include_image_base64": {
            "type": "boolean",
            "nullable": true,
            "description": "Include base64 images in response."
          },
          "image_limit": {
            "type": "integer",
            "nullable": true,
            "description": "Max images to extract."
          },
          "image_min_size": {
            "type": "integer",
            "nullable": true,
            "description": "Minimum height and width of image to extract."
          },
          "return_crop_images": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether to return screenshot information"
          },
          "need_layout_visualization": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether to return detailed layout image result information"
          }
        },
        "required": [
          "document"
        ]
      }
    }
  }
}