{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v2/generate/audio": {
      "post": {
        "operationId": "_v2_generate_audio",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "minimax/music-cover"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 2000,
                    "description": "A description of the music, specifying style, mood, and scenario. Length: 10–2000 characters."
                  },
                  "reference_audio_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "A URL or a Base64-encoded of the reference audio. Reference audio constraints:\n- Duration: 6 seconds to 6 minutes\n- Size: max 50 MB\n- Format: common audio formats (mp3, wav, flac, etc.)\n"
                  },
                  "lyrics": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 3000
                  },
                  "audio_setting": {
                    "type": "object",
                    "properties": {
                      "sample_rate": {
                        "type": "integer",
                        "description": "The sampling rate of the generated music.",
                        "enum": [
                          16000,
                          24000,
                          32000,
                          44100
                        ],
                        "default": "44100"
                      },
                      "bitrate": {
                        "type": "integer",
                        "description": "The bit rate of the generated music.",
                        "enum": [
                          32000,
                          64000,
                          128000,
                          256000
                        ],
                        "default": "256000"
                      },
                      "format": {
                        "type": "string",
                        "enum": [
                          "mp3",
                          "wav",
                          "pcm"
                        ],
                        "default": "mp3",
                        "description": "The format of the generated music."
                      }
                    }
                  }
                },
                "required": [
                  "model",
                  "prompt",
                  "reference_audio_url"
                ],
                "title": "minimax/music-cover"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the generated audio.",
                      "example": "60ac7c34-3224-4b14-8e7d-0aa0db708325"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "generating",
                        "completed",
                        "error"
                      ],
                      "description": "The current status of the generation task.",
                      "example": "completed"
                    },
                    "audio_file": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL where the file can be downloaded from.",
                          "example": "https://cdn.aimlapi.com/generations/hippopotamus/1757963033314-8ca7729d-b78c-4d4c-9ef9-89b2fb3d07e8.mp3"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "message"
                      ],
                      "description": "Description of the error, if any."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            },
                            "usd_spent": {
                              "type": "number",
                              "description": "The total amount of money spent by the user in USD.",
                              "example": 0.06
                            }
                          },
                          "required": [
                            "credits_used",
                            "usd_spent"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v2/generate/audio' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"minimax/music-cover\",\n      \"prompt\": \"Use the reference audio as the intro as it is. Then gradually begin the vocal section, expanding the arrangement with gentle piano and soft strings.\",\n      \"lyrics\": \"[Intro][Verse]\\nStreetlights flicker, the night breeze sighs\\nShadows stretch as I walk alone\\nAn old coat wraps my silent sorrow\\nWandering, longing, where should I go\\n[Chorus]\\nPushing the wooden door, the aroma spreads\\nIn a familiar corner, a stranger gazes back\\nWarm lights flicker, memories awaken\\nIn this small cafe, I find my way\\n[Verse]\\nRaindrops tap on the windowpane\\nA melody plays, soft and low\\nThe clink of cups, the murmur of dreams\\nIn this haven, I find my home\\n[Chorus]\\nPushing the wooden door, the aroma spreads\\nIn a familiar corner, a stranger gazes back\\nWarm lights flicker, memories awaken\\nIn this small cafe, I find my way\",\n      \"reference_audio_url\": \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/female-vocalization.mp3\"\n    }'"
          },
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v2/generate/audio', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      \"model\": \"minimax/music-cover\",\n      \"prompt\": \"Use the reference audio as the intro as it is. Then gradually begin the vocal section, expanding the arrangement with gentle piano and soft strings.\",\n      \"lyrics\": \"[Intro][Verse]\\nStreetlights flicker, the night breeze sighs\\nShadows stretch as I walk alone\\nAn old coat wraps my silent sorrow\\nWandering, longing, where should I go\\n[Chorus]\\nPushing the wooden door, the aroma spreads\\nIn a familiar corner, a stranger gazes back\\nWarm lights flicker, memories awaken\\nIn this small cafe, I find my way\\n[Verse]\\nRaindrops tap on the windowpane\\nA melody plays, soft and low\\nThe clink of cups, the murmur of dreams\\nIn this haven, I find my home\\n[Chorus]\\nPushing the wooden door, the aroma spreads\\nIn a familiar corner, a stranger gazes back\\nWarm lights flicker, memories awaken\\nIn this small cafe, I find my way\",\n      \"reference_audio_url\": \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/female-vocalization.mp3\"\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v2/generate/audio\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n      \"model\": \"minimax/music-cover\",\n      \"prompt\": \"Use the reference audio as the intro as it is. Then gradually begin the vocal section, expanding the arrangement with gentle piano and soft strings.\",\n      \"lyrics\": \"[Intro][Verse]\\nStreetlights flicker, the night breeze sighs\\nShadows stretch as I walk alone\\nAn old coat wraps my silent sorrow\\nWandering, longing, where should I go\\n[Chorus]\\nPushing the wooden door, the aroma spreads\\nIn a familiar corner, a stranger gazes back\\nWarm lights flicker, memories awaken\\nIn this small cafe, I find my way\\n[Verse]\\nRaindrops tap on the windowpane\\nA melody plays, soft and low\\nThe clink of cups, the murmur of dreams\\nIn this haven, I find my home\\n[Chorus]\\nPushing the wooden door, the aroma spreads\\nIn a familiar corner, a stranger gazes back\\nWarm lights flicker, memories awaken\\nIn this small cafe, I find my way\",\n      \"reference_audio_url\": \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/female-vocalization.mp3\"\n    }\n)\n\ndata = response.json()\nprint(data)"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}