{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/stt/create": {
      "post": {
        "operationId": "_v1_stt_create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "whisper-tiny"
                    ]
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "audio": {
                    "type": "object",
                    "properties": {
                      "buffer": {
                        "anyOf": [
                          {
                            "nullable": true
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "Buffer"
                                ]
                              },
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              }
                            },
                            "required": [
                              "type",
                              "data"
                            ]
                          },
                          {
                            "nullable": true
                          }
                        ]
                      },
                      "mimetype": {
                        "type": "string"
                      },
                      "size": {
                        "type": "integer"
                      },
                      "originalname": {
                        "type": "string"
                      },
                      "encoding": {
                        "type": "string"
                      },
                      "fieldname": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "mimetype",
                      "originalname",
                      "encoding",
                      "fieldname"
                    ],
                    "description": "The audio file to transcribe.",
                    "format": "binary"
                  },
                  "custom_intent": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ],
                    "description": "A custom intent you want the model to detect within your input audio if present. Submit up to 100."
                  },
                  "custom_topic": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ],
                    "description": "A custom topic you want the model to detect within your input audio if present. Submit up to 100."
                  },
                  "custom_intent_mode": {
                    "type": "string",
                    "enum": [
                      "strict",
                      "extended"
                    ],
                    "description": "Sets how the model will interpret strings submitted to the custom_intent param. When strict, the model will only return intents submitted using the custom_intent param. When extended, the model will return its own detected intents in addition those submitted using the custom_intents param."
                  },
                  "custom_topic_mode": {
                    "type": "string",
                    "enum": [
                      "strict",
                      "extended"
                    ],
                    "description": "Sets how the model will interpret strings submitted to the custom_topic param. When strict, the model will only return topics submitted using the custom_topic param. When extended, the model will return its own detected topics in addition to those submitted using the custom_topic param."
                  },
                  "detect_language": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Enables language detection to identify the dominant language spoken in the submitted audio."
                  },
                  "detect_entities": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "When Entity Detection is enabled, the Punctuation feature will be enabled by default."
                  },
                  "detect_topics": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Detects the most important and relevant topics that are referenced in speech within the audio."
                  },
                  "diarize": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Recognizes speaker changes. Each word in the transcript will be assigned a speaker number starting at 0."
                  },
                  "dictation": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Identifies and extracts key entities from content in submitted audio."
                  },
                  "diarize_version": {
                    "type": "string",
                    "description": ""
                  },
                  "extra": {
                    "type": "string",
                    "description": "Arbitrary key-value pairs that are attached to the API response for usage in downstream processing."
                  },
                  "filler_words": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Filler Words can help transcribe interruptions in your audio, like “uh” and “um”."
                  },
                  "intents": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Recognizes speaker intent throughout a transcript or text."
                  },
                  "keywords": {
                    "type": "string",
                    "description": "Keywords can boost or suppress specialized terminology and brands."
                  },
                  "language": {
                    "type": "string",
                    "description": "The BCP-47 language tag that hints at the primary spoken language. Depending on the Model and API endpoint you choose only certain languages are available"
                  },
                  "measurements": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Spoken measurements will be converted to their corresponding abbreviations"
                  },
                  "multi_channel": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Transcribes each audio channel independently"
                  },
                  "numerals": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Numerals converts numbers from written format to numerical format"
                  },
                  "paragraphs": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Splits audio into paragraphs to improve transcript readability"
                  },
                  "profanity_filter": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Profanity Filter looks for recognized profanity and converts it to the nearest recognized non-profane word or removes it from the transcript completely"
                  },
                  "punctuate": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Adds punctuation and capitalization to the transcript"
                  },
                  "search": {
                    "type": "string",
                    "description": "Search for terms or phrases in submitted audio"
                  },
                  "sentiment": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Recognizes the sentiment throughout a transcript or text"
                  },
                  "smart_format": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Applies formatting to transcript output. When set to true, additional formatting will be applied to transcripts to improve readability"
                  },
                  "summarize": {
                    "type": "string",
                    "description": "Summarizes content. For Listen API, supports string version option. For Read API, accepts boolean only."
                  },
                  "tag": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Labels your requests for the purpose of identification during usage reporting"
                  },
                  "topics": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Detects topics throughout a transcript or text"
                  },
                  "utterances": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Segments speech into meaningful semantic units"
                  },
                  "utt_split": {
                    "type": "number",
                    "description": "Seconds to wait before detecting a pause between words in submitted audio"
                  }
                },
                "required": [
                  "model"
                ],
                "title": "whisper-tiny"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "generation_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "generation_id"
                  ]
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v1/stt/create' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"#g1_whisper-tiny\",\n      \"url\": \"https://audio-samples.github.io/samples/mp3/blizzard_primed/sample-0.mp3\"\n    }'"
          },
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v1/stt/create', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      \"model\": \"#g1_whisper-tiny\",\n      \"url\": \"https://audio-samples.github.io/samples/mp3/blizzard_primed/sample-0.mp3\"\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v1/stt/create\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n      \"model\": \"#g1_whisper-tiny\",\n      \"url\": \"https://audio-samples.github.io/samples/mp3/blizzard_primed/sample-0.mp3\"\n    }\n)\n\ndata = response.json()\nprint(data)"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}