{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/responses": {
      "post": {
        "operationId": "_v1_responses",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "gpt-4-0125-preview",
                      "gpt-4-1106-preview"
                    ]
                  },
                  "input": {
                    "anyOf": [
                      {
                        "type": "string",
                        "description": "A text input to the model, equivalent to a text input with the user role."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "message"
                            ],
                            "description": "The type of the message input. Always message."
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "user",
                              "assistant",
                              "system",
                              "developer"
                            ],
                            "description": "The role of the message input."
                          },
                          "content": {
                            "anyOf": [
                              {
                                "type": "string",
                                "description": "A text input to the model."
                              },
                              {
                                "type": "array",
                                "items": {
                                  "oneOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "input_text"
                                          ],
                                          "description": "The type of the input item. Always input_text."
                                        },
                                        "text": {
                                          "type": "string",
                                          "description": "The text input to the model."
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "text"
                                      ],
                                      "description": "A text input to the model."
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "input_image"
                                          ],
                                          "description": "The type of the input item. Always input_image."
                                        },
                                        "detail": {
                                          "type": "string",
                                          "enum": [
                                            "high",
                                            "low",
                                            "auto"
                                          ],
                                          "default": "auto",
                                          "description": "The detail level of the image to be sent to the model. One of high, low, or auto."
                                        },
                                        "image_url": {
                                          "type": "string",
                                          "nullable": true,
                                          "description": "The URL of the image to be sent to the model. A fully qualified URL or base64 encoded image in a data URL."
                                        }
                                      },
                                      "required": [
                                        "type"
                                      ]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "input_file"
                                          ],
                                          "description": "The type of the input item. Always input_file."
                                        },
                                        "file_data": {
                                          "type": "string",
                                          "description": "The content of the file to be sent to the model."
                                        },
                                        "filename": {
                                          "type": "string",
                                          "description": "The name of the file to be sent to the model."
                                        }
                                      },
                                      "required": [
                                        "type"
                                      ]
                                    }
                                  ]
                                },
                                "description": "A list of one or many input items to the model, containing different content types."
                              }
                            ],
                            "description": "Text, image, or audio input to the model, used to generate a response. Can also contain previous assistant responses."
                          }
                        },
                        "required": [
                          "role",
                          "content"
                        ],
                        "description": "A message input to the model with a role indicating instruction following hierarchy. Instructions given with the developer or system role take precedence over instructions given with the user role. Messages with the assistant role are presumed to have been generated by the model in previous interactions."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "message"
                            ],
                            "description": "The type of the message input. Always message."
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "user",
                              "system",
                              "developer"
                            ],
                            "description": "The role of the message input."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "in_progress",
                              "completed",
                              "incomplete"
                            ],
                            "description": "The status of item."
                          },
                          "content": {
                            "type": "array",
                            "items": {
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "input_text"
                                      ],
                                      "description": "The type of the input item. Always input_text."
                                    },
                                    "text": {
                                      "type": "string",
                                      "description": "The text input to the model."
                                    }
                                  },
                                  "required": [
                                    "type",
                                    "text"
                                  ],
                                  "description": "A text input to the model."
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "input_image"
                                      ],
                                      "description": "The type of the input item. Always input_image."
                                    },
                                    "detail": {
                                      "type": "string",
                                      "enum": [
                                        "high",
                                        "low",
                                        "auto"
                                      ],
                                      "default": "auto",
                                      "description": "The detail level of the image to be sent to the model. One of high, low, or auto."
                                    },
                                    "image_url": {
                                      "type": "string",
                                      "nullable": true,
                                      "description": "The URL of the image to be sent to the model. A fully qualified URL or base64 encoded image in a data URL."
                                    }
                                  },
                                  "required": [
                                    "type"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "input_file"
                                      ],
                                      "description": "The type of the input item. Always input_file."
                                    },
                                    "file_data": {
                                      "type": "string",
                                      "description": "The content of the file to be sent to the model."
                                    },
                                    "filename": {
                                      "type": "string",
                                      "description": "The name of the file to be sent to the model."
                                    }
                                  },
                                  "required": [
                                    "type"
                                  ]
                                }
                              ]
                            },
                            "description": "A list of one or many input items to the model, containing different content types."
                          }
                        },
                        "required": [
                          "role",
                          "content"
                        ],
                        "description": "A message input to the model with a role indicating instruction following hierarchy. Instructions given with the developer or system role take precedence over instructions given with the user role."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique ID of the output message."
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "assistant"
                            ],
                            "description": "The role of the output message. Always assistant."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "in_progress",
                              "completed",
                              "incomplete"
                            ],
                            "description": "The status of the message input."
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "message"
                            ],
                            "description": "The type of the output message. Always message."
                          },
                          "content": {
                            "type": "array",
                            "items": {
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "annotations": {
                                      "type": "array",
                                      "items": {
                                        "oneOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "end_index": {
                                                "type": "integer",
                                                "description": "The index of the last character of the URL citation in the message."
                                              },
                                              "start_index": {
                                                "type": "integer",
                                                "description": "The index of the first character of the URL citation in the message."
                                              },
                                              "title": {
                                                "type": "string",
                                                "description": "The title of the web resource."
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "url_citation"
                                                ],
                                                "description": "The type of the URL citation. Always url_citation."
                                              },
                                              "url": {
                                                "type": "string",
                                                "format": "uri",
                                                "description": "The URL of the web resource."
                                              }
                                            },
                                            "required": [
                                              "end_index",
                                              "start_index",
                                              "title",
                                              "type",
                                              "url"
                                            ],
                                            "description": "A citation for a web resource used to generate a model response."
                                          }
                                        ]
                                      },
                                      "description": "The annotations of the text output."
                                    },
                                    "text": {
                                      "type": "string",
                                      "description": "The text output from the model."
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "output_text"
                                      ],
                                      "description": "The type of the output text. Always output_text."
                                    },
                                    "logprobs": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "bytes": {
                                            "type": "array",
                                            "items": {
                                              "type": "integer"
                                            }
                                          },
                                          "logprob": {
                                            "type": "number"
                                          },
                                          "token": {
                                            "type": "string"
                                          },
                                          "top_logprobs": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "bytes": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "integer"
                                                  }
                                                },
                                                "logprob": {
                                                  "type": "number"
                                                },
                                                "token": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "bytes",
                                                "logprob",
                                                "token"
                                              ]
                                            }
                                          }
                                        },
                                        "required": [
                                          "bytes",
                                          "logprob",
                                          "token",
                                          "top_logprobs"
                                        ]
                                      }
                                    }
                                  },
                                  "required": [
                                    "annotations",
                                    "text",
                                    "type"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "refusal": {
                                      "type": "string",
                                      "description": "The refusal explanationfrom the model."
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "refusal"
                                      ],
                                      "description": "The type of the refusal. Always refusal."
                                    }
                                  },
                                  "required": [
                                    "refusal",
                                    "type"
                                  ]
                                }
                              ],
                              "description": "The content of the output message."
                            }
                          }
                        },
                        "required": [
                          "id",
                          "role",
                          "status",
                          "type",
                          "content"
                        ],
                        "description": "An output message from the model."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "arguments": {
                            "type": "string",
                            "description": "A JSON string of the arguments to pass to the function."
                          },
                          "call_id": {
                            "type": "string",
                            "description": "The unique ID of the function tool call generated by the model."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the function to run."
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "function_call"
                            ],
                            "description": "The type of the function tool call. Always function_call."
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique ID of the function tool call."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "in_progress",
                              "completed",
                              "incomplete"
                            ],
                            "description": "The status of the item."
                          }
                        },
                        "required": [
                          "arguments",
                          "call_id",
                          "name",
                          "type"
                        ],
                        "description": "A tool call to run a function."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "call_id": {
                            "type": "string",
                            "description": "The unique ID of the function tool call generated by the model."
                          },
                          "output": {
                            "type": "string",
                            "description": "A JSON string of the output of the function tool call."
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "function_call_output"
                            ],
                            "description": "The type of the function tool call output. Always function_call_output."
                          },
                          "id": {
                            "type": "string",
                            "nullable": true,
                            "description": "The unique ID of the function tool call output. Populated when this item is returned via API."
                          },
                          "status": {
                            "type": "string",
                            "nullable": true,
                            "enum": [
                              "in_progress",
                              "completed",
                              "incomplete"
                            ],
                            "description": "The status of the item."
                          }
                        },
                        "required": [
                          "call_id",
                          "output",
                          "type"
                        ],
                        "description": "The output of a function tool call."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "The code to run, or null if not available."
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique ID of the code interpreter tool call."
                          },
                          "outputs": {
                            "type": "array",
                            "nullable": true,
                            "items": {
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "logs": {
                                      "type": "string",
                                      "description": "The logs output from the code interpreter."
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "logs"
                                      ],
                                      "description": "The type of the output. Always 'logs'."
                                    }
                                  },
                                  "required": [
                                    "logs",
                                    "type"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "image"
                                      ]
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "type",
                                    "url"
                                  ]
                                }
                              ]
                            },
                            "description": "The outputs generated by the code interpreter, such as logs or images. Can be null if no outputs are available."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "in_progress",
                              "completed",
                              "interpreting"
                            ],
                            "description": "The status of the code interpreter tool call."
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "code_interpreter_call"
                            ],
                            "description": "The type of the code interpreter tool call. Always code_interpreter_call."
                          },
                          "container_id": {
                            "type": "string",
                            "description": "The ID of the container used to run the code."
                          }
                        },
                        "required": [
                          "code",
                          "id",
                          "outputs",
                          "status",
                          "type",
                          "container_id"
                        ],
                        "description": "A tool call to run code."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique ID of the list."
                          },
                          "server_label": {
                            "type": "string",
                            "description": "The label of the MCP server."
                          },
                          "tools": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "input_schema": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "nullable": true
                                  },
                                  "description": "The JSON schema describing the tool's input."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name of the tool."
                                },
                                "annotations": {
                                  "type": "object",
                                  "nullable": true,
                                  "additionalProperties": {
                                    "nullable": true
                                  },
                                  "description": "Additional annotations about the tool."
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "The description of the tool."
                                }
                              },
                              "required": [
                                "input_schema",
                                "name"
                              ]
                            },
                            "description": "The tools available on the server."
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "mcp_list_tools"
                            ],
                            "description": "The type of the item. Always mcp_list_tools."
                          },
                          "error": {
                            "type": "string",
                            "nullable": true,
                            "description": "Error message if the server could not list tools."
                          }
                        },
                        "required": [
                          "id",
                          "server_label",
                          "tools",
                          "type"
                        ],
                        "description": "A list of tools available on an MCP server."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "arguments": {
                            "type": "string",
                            "description": "A JSON string of arguments for the tool."
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique ID of the approval request."
                          },
                          "name": {
                            "type": "string"
                          },
                          "server_label": {
                            "type": "string",
                            "description": "The name of the tool to run."
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "mcp_approval_request"
                            ],
                            "description": "The type of the item. Always mcp_approval_request."
                          }
                        },
                        "required": [
                          "arguments",
                          "id",
                          "name",
                          "server_label",
                          "type"
                        ],
                        "description": "A request for human approval of a tool invocation."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "approval_request_id": {
                            "type": "string",
                            "description": "The ID of the approval request being answered."
                          },
                          "approve": {
                            "type": "boolean",
                            "description": "Whether the request was approved."
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "mcp_approval_response"
                            ],
                            "description": "The type of the item. Always mcp_approval_response."
                          },
                          "id": {
                            "type": "string",
                            "nullable": true,
                            "description": "The unique ID of the approval response."
                          },
                          "reason": {
                            "type": "string",
                            "nullable": true,
                            "description": "Optional reason for the decision."
                          }
                        },
                        "required": [
                          "approval_request_id",
                          "approve",
                          "type"
                        ],
                        "description": "A response to an MCP approval request."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "arguments": {
                            "type": "string",
                            "description": "A JSON string of the arguments passed to the tool."
                          },
                          "id": {
                            "type": "string",
                            "description": "The unique ID of the tool call."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the tool that was run."
                          },
                          "server_label": {
                            "type": "string",
                            "description": "The label of the MCP server running the tool."
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "mcp_call"
                            ],
                            "description": "The type of the item. Always mcp_call."
                          },
                          "error": {
                            "type": "string",
                            "nullable": true,
                            "description": "The error from the tool call, if any."
                          },
                          "output": {
                            "type": "string",
                            "nullable": true,
                            "description": "The output from the tool call."
                          }
                        },
                        "required": [
                          "arguments",
                          "id",
                          "name",
                          "server_label",
                          "type"
                        ],
                        "description": "An invocation of a tool on an MCP server."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID of the item to reference."
                          },
                          "type": {
                            "type": "string",
                            "nullable": true,
                            "enum": [
                              "item_reference"
                            ],
                            "description": "The type of item to reference. Always item_reference."
                          }
                        },
                        "required": [
                          "id"
                        ],
                        "description": "An internal identifier for an item to reference."
                      }
                    ],
                    "description": "Text, image, or file inputs to the model, used to generate a response."
                  },
                  "include": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "string",
                      "enum": [
                        "message.input_image.image_url",
                        "computer_call_output.output.image_url",
                        "reasoning.encrypted_content",
                        "code_interpreter_call.outputs"
                      ]
                    },
                    "description": "Specify additional output data to include in the model response. Currently supported values are:\n- code_interpreter_call.outputs: Includes the outputs of python code execution in code interpreter tool call items.\n- computer_call_output.output.image_url: Include image urls from the computer call output.\n- file_search_call.results: Include the search results of the file search tool call.\n- message.output_text.logprobs: Include logprobs with assistant messages.\n- reasoning.encrypted_content: Includes an encrypted version of reasoning tokens in reasoning item outputs. This enables reasoning items to be used in multi-turn conversations when using the Responses API statelessly (like when the store parameter is set to false, or when an organization is enrolled in the zero data retention program).\n"
                  },
                  "max_output_tokens": {
                    "type": "integer",
                    "description": "An upper bound for the number of tokens that can be generated for a response, including visible output tokens and reasoning tokens."
                  },
                  "previous_response_id": {
                    "type": "string",
                    "nullable": true,
                    "description": "The unique ID of the previous response to the model. Use this to create multi-turn conversations."
                  },
                  "prompt": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier of the prompt template to use."
                      },
                      "variables": {
                        "type": "object",
                        "nullable": true,
                        "additionalProperties": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "input_text"
                                      ],
                                      "description": "The type of the input item. Always input_text."
                                    },
                                    "text": {
                                      "type": "string",
                                      "description": "The text input to the model."
                                    }
                                  },
                                  "required": [
                                    "type",
                                    "text"
                                  ],
                                  "description": "A text input to the model."
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "input_image"
                                      ],
                                      "description": "The type of the input item. Always input_image."
                                    },
                                    "detail": {
                                      "type": "string",
                                      "enum": [
                                        "high",
                                        "low",
                                        "auto"
                                      ],
                                      "default": "auto",
                                      "description": "The detail level of the image to be sent to the model. One of high, low, or auto."
                                    },
                                    "image_url": {
                                      "type": "string",
                                      "nullable": true,
                                      "description": "The URL of the image to be sent to the model. A fully qualified URL or base64 encoded image in a data URL."
                                    }
                                  },
                                  "required": [
                                    "type"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "input_file"
                                      ],
                                      "description": "The type of the input item. Always input_file."
                                    },
                                    "file_data": {
                                      "type": "string",
                                      "description": "The content of the file to be sent to the model."
                                    },
                                    "filename": {
                                      "type": "string",
                                      "description": "The name of the file to be sent to the model."
                                    }
                                  },
                                  "required": [
                                    "type"
                                  ]
                                }
                              ]
                            }
                          ]
                        },
                        "description": "Optional map of values to substitute in for variables in your prompt. The substitution values can either be strings, or other Response input types like images or files."
                      },
                      "version": {
                        "type": "string",
                        "nullable": true,
                        "description": "Optional version of the prompt template."
                      }
                    },
                    "required": [
                      "id"
                    ],
                    "description": "Reference to a prompt template and its variables."
                  },
                  "store": {
                    "type": "boolean",
                    "nullable": true,
                    "default": false,
                    "description": "Whether to store the generated model response for later retrieval via API."
                  },
                  "stream": {
                    "type": "boolean",
                    "nullable": true,
                    "default": false,
                    "description": "If set to true, the model response data will be streamed to the client as it is generated using server-sent events. "
                  },
                  "text": {
                    "type": "object",
                    "properties": {
                      "format": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "text"
                                ],
                                "description": "The type of response format being defined. Always text."
                              }
                            },
                            "required": [
                              "type"
                            ],
                            "additionalProperties": false,
                            "description": "Default response format. Used to generate text responses."
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "json_object"
                                ],
                                "description": "The type of response format being defined. Always json_object."
                              }
                            },
                            "required": [
                              "type"
                            ],
                            "additionalProperties": false,
                            "description": "An older method of generating JSON responses. Using json_schema is recommended for models that support it. Note that the model will not generate JSON without a system or user message instructing it to do so."
                          },
                          {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the response format. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64."
                              },
                              "schema": {
                                "type": "object",
                                "additionalProperties": {
                                  "nullable": true
                                },
                                "description": "The schema for the response format, described as a JSON Schema object."
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "json_schema"
                                ]
                              },
                              "strict": {
                                "type": "boolean",
                                "nullable": true,
                                "description": "Whether to enable strict schema adherence when generating the output. If set to True, the model will always follow the exact schema defined in the schema field. Only a subset of JSON Schema is supported when strict is True."
                              },
                              "description": {
                                "type": "string",
                                "description": "A description of what the response format is for, used by the model to determine how to respond in the format."
                              }
                            },
                            "required": [
                              "name",
                              "schema",
                              "type"
                            ],
                            "description": "JSON Schema response format. Used to generate structured JSON responses."
                          }
                        ],
                        "description": "An object specifying the format that the model must output."
                      }
                    },
                    "required": [
                      "format"
                    ],
                    "description": "Configuration options for a text response from the model. Can be plain text or structured JSON data."
                  },
                  "truncation": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "disabled"
                    ],
                    "default": "disabled",
                    "description": "The truncation strategy to use for the model response.\n- auto: If the context of this response and previous ones exceeds the model's context window size, the model will truncate the response to fit the context window by dropping input items in the middle of the conversation.\n- disabled (default): If a model response will exceed the context window size for a model, the request will fail with a 400 error.\n"
                  },
                  "tools": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The name of the function to call."
                            },
                            "parameters": {
                              "type": "object",
                              "additionalProperties": {
                                "nullable": true
                              },
                              "description": "A JSON schema object describing the parameters of the function."
                            },
                            "strict": {
                              "type": "boolean",
                              "description": "Whether to enforce strict parameter validation."
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "function"
                              ],
                              "description": "The type of the function tool. Always function."
                            },
                            "description": {
                              "type": "string",
                              "description": "A description of the function. Used by the model to determine whether or not to call the function."
                            }
                          },
                          "required": [
                            "name",
                            "parameters",
                            "strict",
                            "type"
                          ],
                          "description": "Defines a function in your own code the model can choose to call."
                        },
                        {
                          "type": "object",
                          "properties": {
                            "server_label": {
                              "type": "string",
                              "description": "A label for this MCP server, used to identify it in tool calls."
                            },
                            "server_url": {
                              "type": "string",
                              "description": "The URL for the MCP server."
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "mcp"
                              ],
                              "description": "The type of the MCP tool. Always mcp."
                            },
                            "allowed_tools": {
                              "anyOf": [
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "A string array of allowed tool names."
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "tool_names": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      },
                                      "description": "List of allowed tool names."
                                    }
                                  },
                                  "description": "A filter object to specify which tools are allowed."
                                },
                                {
                                  "nullable": true
                                }
                              ],
                              "description": "List of allowed tool names or a filter object."
                            },
                            "headers": {
                              "type": "object",
                              "nullable": true,
                              "additionalProperties": {
                                "type": "string"
                              },
                              "description": "Optional HTTP headers to send to the MCP server. Use for authentication or other purposes."
                            },
                            "require_approval": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "always",
                                    "never"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "always": {
                                      "type": "object",
                                      "properties": {
                                        "tool_names": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "description": "List of tools that require approval."
                                        }
                                      },
                                      "description": "A list of tools that always require approval."
                                    },
                                    "never": {
                                      "type": "object",
                                      "properties": {
                                        "tool_names": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "description": "List of tools that do not require approval."
                                        }
                                      },
                                      "description": "A list of tools that never require approval."
                                    }
                                  }
                                },
                                {
                                  "nullable": true
                                }
                              ],
                              "description": "Specify which of the MCP server's tools require approval."
                            }
                          },
                          "required": [
                            "server_label",
                            "server_url",
                            "type"
                          ],
                          "description": "Give the model access to additional tools via remote Model Context Protocol (MCP) servers."
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "code_interpreter"
                              ],
                              "description": "The type of the code interpreter tool. Always code_interpreter."
                            },
                            "container": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "auto"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "type"
                                  ]
                                }
                              ],
                              "description": "The container ID."
                            }
                          },
                          "required": [
                            "type",
                            "container"
                          ],
                          "description": "A tool that runs Python code to help generate a response to a prompt."
                        }
                      ]
                    },
                    "description": "An array of tools the model may call while generating a response. You can specify which tool to use by setting the tool_choice parameter."
                  },
                  "tool_choice": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "none",
                          "auto",
                          "required"
                        ],
                        "description": "Controls which (if any) tool is called by the model.\n\nnone means the model will not call any tool and instead generates a message.\n\nauto means the model can pick between generating a message or calling one or more tools.\n\nrequired means the model must call one or more tools."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "web_search_preview",
                              "web_search_preview_2025_03_11",
                              "computer_use_preview",
                              "code_interpreter",
                              "mcp"
                            ]
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "description": "Indicates that the model should use a built-in tool to generate a response."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the function to call."
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "function"
                            ],
                            "description": "For function calling, the type is always function."
                          }
                        },
                        "required": [
                          "name",
                          "type"
                        ]
                      }
                    ],
                    "description": "How the model should select which tool (or tools) to use when generating a response."
                  }
                },
                "required": [
                  "model",
                  "input"
                ],
                "title": "gpt-4-0125-preview"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "background": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether to run the model response in the background.",
                      "example": false
                    },
                    "created_at": {
                      "type": "number",
                      "description": "Unix timestamp (in seconds) of when this Response was created.",
                      "example": 1762343744
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The error code for the response."
                        },
                        "message": {
                          "type": "string",
                          "description": "A human-readable description of the error."
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "description": "An error object returned when the model fails to generate a Response.",
                      "example": null
                    },
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for this Response.",
                      "example": "resp_68963fb142d08197b4d3ae3ad852542c054845c6ea84caa2"
                    },
                    "incomplete_details": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "reason": {
                          "type": "string",
                          "description": "The reason why the response is incomplete."
                        }
                      },
                      "description": "Details about why the response is incomplete.",
                      "example": null
                    },
                    "instructions": {
                      "anyOf": [
                        {
                          "type": "string",
                          "description": "A text input to the model, equivalent to a text input with the developer role."
                        },
                        {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "message"
                                    ],
                                    "description": "The type of the message input. Always message."
                                  },
                                  "role": {
                                    "type": "string",
                                    "enum": [
                                      "user",
                                      "assistant",
                                      "system",
                                      "developer"
                                    ],
                                    "description": "The role of the message input."
                                  },
                                  "content": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "description": "A text input to the model."
                                      },
                                      {
                                        "type": "array",
                                        "items": {
                                          "oneOf": [
                                            {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string",
                                                  "enum": [
                                                    "input_text"
                                                  ],
                                                  "description": "The type of the input item. Always input_text."
                                                },
                                                "text": {
                                                  "type": "string",
                                                  "description": "The text input to the model."
                                                }
                                              },
                                              "required": [
                                                "type",
                                                "text"
                                              ],
                                              "description": "A text input to the model."
                                            },
                                            {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string",
                                                  "enum": [
                                                    "input_image"
                                                  ],
                                                  "description": "The type of the input item. Always input_image."
                                                },
                                                "detail": {
                                                  "type": "string",
                                                  "enum": [
                                                    "high",
                                                    "low",
                                                    "auto"
                                                  ],
                                                  "default": "auto",
                                                  "description": "The detail level of the image to be sent to the model. One of high, low, or auto."
                                                },
                                                "image_url": {
                                                  "type": "string",
                                                  "nullable": true,
                                                  "description": "The URL of the image to be sent to the model. A fully qualified URL or base64 encoded image in a data URL."
                                                }
                                              },
                                              "required": [
                                                "type"
                                              ]
                                            },
                                            {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string",
                                                  "enum": [
                                                    "input_file"
                                                  ],
                                                  "description": "The type of the input item. Always input_file."
                                                },
                                                "file_data": {
                                                  "type": "string",
                                                  "description": "The content of the file to be sent to the model."
                                                },
                                                "filename": {
                                                  "type": "string",
                                                  "description": "The name of the file to be sent to the model."
                                                }
                                              },
                                              "required": [
                                                "type"
                                              ]
                                            }
                                          ]
                                        },
                                        "description": "A list of one or many input items to the model, containing different content types."
                                      }
                                    ],
                                    "description": "Text, image, or audio input to the model, used to generate a response. Can also contain previous assistant responses."
                                  }
                                },
                                "required": [
                                  "role",
                                  "content"
                                ],
                                "description": "A message input to the model with a role indicating instruction following hierarchy. Instructions given with the developer or system role take precedence over instructions given with the user role. Messages with the assistant role are presumed to have been generated by the model in previous interactions."
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "message"
                                    ],
                                    "description": "The type of the message input. Always message."
                                  },
                                  "role": {
                                    "type": "string",
                                    "enum": [
                                      "user",
                                      "system",
                                      "developer"
                                    ],
                                    "description": "The role of the message input."
                                  },
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "in_progress",
                                      "completed",
                                      "incomplete"
                                    ],
                                    "description": "The status of item."
                                  },
                                  "content": {
                                    "type": "array",
                                    "items": {
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "input_text"
                                              ],
                                              "description": "The type of the input item. Always input_text."
                                            },
                                            "text": {
                                              "type": "string",
                                              "description": "The text input to the model."
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "text"
                                          ],
                                          "description": "A text input to the model."
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "input_image"
                                              ],
                                              "description": "The type of the input item. Always input_image."
                                            },
                                            "detail": {
                                              "type": "string",
                                              "enum": [
                                                "high",
                                                "low",
                                                "auto"
                                              ],
                                              "default": "auto",
                                              "description": "The detail level of the image to be sent to the model. One of high, low, or auto."
                                            },
                                            "image_url": {
                                              "type": "string",
                                              "nullable": true,
                                              "description": "The URL of the image to be sent to the model. A fully qualified URL or base64 encoded image in a data URL."
                                            }
                                          },
                                          "required": [
                                            "type"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "input_file"
                                              ],
                                              "description": "The type of the input item. Always input_file."
                                            },
                                            "file_data": {
                                              "type": "string",
                                              "description": "The content of the file to be sent to the model."
                                            },
                                            "filename": {
                                              "type": "string",
                                              "description": "The name of the file to be sent to the model."
                                            }
                                          },
                                          "required": [
                                            "type"
                                          ]
                                        }
                                      ]
                                    },
                                    "description": "A list of one or many input items to the model, containing different content types."
                                  }
                                },
                                "required": [
                                  "role",
                                  "content"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "The unique ID of the output message."
                                  },
                                  "role": {
                                    "type": "string",
                                    "enum": [
                                      "assistant"
                                    ],
                                    "description": "The role of the output message. Always assistant."
                                  },
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "in_progress",
                                      "completed",
                                      "incomplete"
                                    ],
                                    "description": "The status of the message input."
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "message"
                                    ],
                                    "description": "The type of the output message. Always message."
                                  },
                                  "content": {
                                    "type": "array",
                                    "items": {
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "annotations": {
                                              "type": "array",
                                              "items": {
                                                "oneOf": [
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "end_index": {
                                                        "type": "integer",
                                                        "description": "The index of the last character of the URL citation in the message."
                                                      },
                                                      "start_index": {
                                                        "type": "integer",
                                                        "description": "The index of the first character of the URL citation in the message."
                                                      },
                                                      "title": {
                                                        "type": "string",
                                                        "description": "The title of the web resource."
                                                      },
                                                      "type": {
                                                        "type": "string",
                                                        "enum": [
                                                          "url_citation"
                                                        ],
                                                        "description": "The type of the URL citation. Always url_citation."
                                                      },
                                                      "url": {
                                                        "type": "string",
                                                        "format": "uri",
                                                        "description": "The URL of the web resource."
                                                      }
                                                    },
                                                    "required": [
                                                      "end_index",
                                                      "start_index",
                                                      "title",
                                                      "type",
                                                      "url"
                                                    ],
                                                    "description": "A citation for a web resource used to generate a model response."
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "file_id": {
                                                        "type": "string"
                                                      },
                                                      "index": {
                                                        "type": "integer"
                                                      },
                                                      "type": {
                                                        "type": "string",
                                                        "enum": [
                                                          "file_citation"
                                                        ]
                                                      }
                                                    },
                                                    "required": [
                                                      "file_id",
                                                      "index",
                                                      "type"
                                                    ]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "container_id": {
                                                        "type": "string"
                                                      },
                                                      "start_index": {
                                                        "type": "integer"
                                                      },
                                                      "end_index": {
                                                        "type": "integer"
                                                      },
                                                      "file_id": {
                                                        "type": "string"
                                                      },
                                                      "type": {
                                                        "type": "string",
                                                        "enum": [
                                                          "container_file_citation"
                                                        ]
                                                      }
                                                    },
                                                    "required": [
                                                      "container_id",
                                                      "start_index",
                                                      "end_index",
                                                      "file_id",
                                                      "type"
                                                    ]
                                                  },
                                                  {
                                                    "type": "object",
                                                    "properties": {
                                                      "file_id": {
                                                        "type": "string"
                                                      },
                                                      "index": {
                                                        "type": "integer"
                                                      },
                                                      "type": {
                                                        "type": "string",
                                                        "enum": [
                                                          "file_path"
                                                        ]
                                                      }
                                                    },
                                                    "required": [
                                                      "file_id",
                                                      "index",
                                                      "type"
                                                    ]
                                                  }
                                                ]
                                              },
                                              "description": "The annotations of the text output."
                                            },
                                            "text": {
                                              "type": "string",
                                              "description": "The text output from the model."
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "output_text"
                                              ],
                                              "description": "The type of the output text. Always output_text."
                                            },
                                            "logprobs": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "bytes": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "integer"
                                                    }
                                                  },
                                                  "logprob": {
                                                    "type": "number"
                                                  },
                                                  "token": {
                                                    "type": "string"
                                                  },
                                                  "top_logprobs": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object",
                                                      "properties": {
                                                        "bytes": {
                                                          "type": "array",
                                                          "items": {
                                                            "type": "integer"
                                                          }
                                                        },
                                                        "logprob": {
                                                          "type": "number"
                                                        },
                                                        "token": {
                                                          "type": "string"
                                                        }
                                                      },
                                                      "required": [
                                                        "bytes",
                                                        "logprob",
                                                        "token"
                                                      ]
                                                    }
                                                  }
                                                },
                                                "required": [
                                                  "bytes",
                                                  "logprob",
                                                  "token",
                                                  "top_logprobs"
                                                ]
                                              }
                                            }
                                          },
                                          "required": [
                                            "annotations",
                                            "text",
                                            "type"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "refusal": {
                                              "type": "string",
                                              "description": "The refusal explanationfrom the model."
                                            },
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "refusal"
                                              ],
                                              "description": "The type of the refusal. Always refusal."
                                            }
                                          },
                                          "required": [
                                            "refusal",
                                            "type"
                                          ]
                                        }
                                      ],
                                      "description": "The content of the output message."
                                    }
                                  }
                                },
                                "required": [
                                  "id",
                                  "role",
                                  "status",
                                  "type",
                                  "content"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "queries": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "in_progress",
                                      "searching",
                                      "incomplete",
                                      "failed",
                                      "completed"
                                    ]
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "file_search_call"
                                    ]
                                  },
                                  "results": {
                                    "type": "array",
                                    "nullable": true,
                                    "items": {
                                      "type": "object",
[...]
