{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "operationId": "_v1_chat_completions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "openai/gpt-5-2025-08-07"
                    ]
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "user"
                              ],
                              "description": "The role of the author of the message — in this case, the user"
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "text"
                                            ],
                                            "description": "The type of the content part."
                                          },
                                          "text": {
                                            "type": "string",
                                            "description": "The text content."
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "text"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "image_url"
                                            ]
                                          },
                                          "image_url": {
                                            "type": "object",
                                            "properties": {
                                              "url": {
                                                "type": "string",
                                                "format": "uri",
                                                "description": "Either a URL of the image or the base64 encoded image data. "
                                              },
                                              "detail": {
                                                "type": "string",
                                                "enum": [
                                                  "low",
                                                  "high",
                                                  "auto"
                                                ],
                                                "description": "Specifies the detail level of the image. Currently supports JPG/JPEG, PNG, GIF, and WEBP formats."
                                              }
                                            },
                                            "required": [
                                              "url"
                                            ]
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "image_url"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "file"
                                            ],
                                            "description": "The type of the content part."
                                          },
                                          "file": {
                                            "type": "object",
                                            "properties": {
                                              "file_data": {
                                                "type": "string",
                                                "description": "The file data, encoded in base64 and passed to the model as a string. Only PDF format is supported.\n        - Maximum size per file: Up to 512 MB and up to 2 million tokens.\n        - Maximum number of files: Up to 20 files can be attached to a single GPT application or Assistant. This limit applies throughout the application's lifetime.\n        - Maximum total file storage per user: 10 GB."
                                              },
                                              "filename": {
                                                "type": "string",
                                                "description": "The file name specified by the user. This name can be used to reference the file when interacting with the model, especially if multiple files are uploaded."
                                              }
                                            }
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "file"
                                        ]
                                      }
                                    ]
                                  }
                                }
                              ],
                              "description": "The contents of the user message."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            }
                          },
                          "required": [
                            "role",
                            "content"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "text"
                                        ],
                                        "description": "The type of the content part."
                                      },
                                      "text": {
                                        "type": "string",
                                        "description": "The text content."
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text"
                                    ]
                                  }
                                }
                              ],
                              "description": "The contents of the developer message."
                            },
                            "role": {
                              "type": "string",
                              "enum": [
                                "developer"
                              ],
                              "description": "The role of the author of the message — in this case, the developer."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            }
                          },
                          "required": [
                            "content",
                            "role"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "system"
                              ],
                              "description": "The role of the author of the message — in this case, the system."
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "text"
                                        ],
                                        "description": "The type of the content part."
                                      },
                                      "text": {
                                        "type": "string",
                                        "description": "The text content."
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text"
                                    ]
                                  }
                                }
                              ],
                              "description": "The contents of the system message."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            }
                          },
                          "required": [
                            "role",
                            "content"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "tool"
                              ],
                              "description": "The role of the author of the message — in this case, the tool."
                            },
                            "content": {
                              "type": "string",
                              "description": "The contents of the tool message."
                            },
                            "tool_call_id": {
                              "type": "string",
                              "description": "Tool call that this message is responding to."
                            },
                            "name": {
                              "type": "string",
                              "nullable": true,
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            }
                          },
                          "required": [
                            "role",
                            "content",
                            "tool_call_id"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "assistant"
                              ],
                              "description": "The role of the author of the message — in this case, the Assistant."
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "description": "The contents of the Assistant message."
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "text"
                                            ],
                                            "description": "The type of the content part."
                                          },
                                          "text": {
                                            "type": "string",
                                            "description": "The text content."
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "text"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "refusal": {
                                            "type": "string",
                                            "description": "The refusal message generated by the model."
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "refusal"
                                            ],
                                            "description": "The type of the content part."
                                          }
                                        },
                                        "required": [
                                          "refusal",
                                          "type"
                                        ]
                                      }
                                    ]
                                  },
                                  "description": "An array of content parts with a defined type. Can be one or more of type text, or exactly one of type refusal."
                                }
                              ],
                              "description": "The contents of the Assistant message. Required unless tool_calls or function_call is specified."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            },
                            "tool_calls": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "The ID of the tool call."
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "function"
                                    ],
                                    "description": "The type of the tool. Currently, only function is supported."
                                  },
                                  "function": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "description": "The name of the function to call."
                                      },
                                      "arguments": {
                                        "type": "string",
                                        "description": "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                                      }
                                    },
                                    "required": [
                                      "name",
                                      "arguments"
                                    ],
                                    "description": "The function that the model called."
                                  }
                                },
                                "required": [
                                  "id",
                                  "type",
                                  "function"
                                ]
                              },
                              "description": "The tool calls generated by the model, such as function calls."
                            },
                            "refusal": {
                              "type": "string",
                              "nullable": true,
                              "description": "The refusal message by the Assistant."
                            }
                          },
                          "required": [
                            "role"
                          ]
                        }
                      ]
                    },
                    "description": "A list of messages comprising the conversation so far. Depending on the model you use, different message types (modalities) are supported, like text, documents (txt, pdf), images, and audio."
                  },
                  "max_completion_tokens": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "An upper bound for the number of tokens that can be generated for a completion, including visible output tokens and reasoning tokens."
                  },
                  "max_tokens": {
                    "type": "number",
                    "minimum": 1,
                    "description": "The maximum number of tokens that can be generated in the chat completion. This value can be used to control costs for text generated via API."
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false,
                    "description": "If set to True, the model response data will be streamed to the client as it is generated using server-sent events."
                  },
                  "stream_options": {
                    "type": "object",
                    "properties": {
                      "include_usage": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "include_usage"
                    ]
                  },
                  "tools": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "function"
                          ],
                          "description": "The type of the tool. Currently, only function is supported."
                        },
                        "function": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string",
                              "description": "A description of what the function does, used by the model to choose when and how to call the function."
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64."
                            },
                            "parameters": {
                              "type": "object",
                              "additionalProperties": {
                                "nullable": true,
                                "description": "The parameters the functions accepts, described as a JSON Schema object."
                              }
                            },
                            "strict": {
                              "type": "boolean",
                              "nullable": true,
                              "description": "Whether to enable strict schema adherence when generating the function call. If set to True, the model will follow the exact schema defined in the parameters field. Only a subset of JSON Schema is supported when strict is True."
                            }
                          },
                          "required": [
                            "name",
                            "parameters"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "type",
                        "function"
                      ],
                      "additionalProperties": false
                    },
                    "description": "A list of tools the model may call. Currently, only functions are supported as a tool. Use this to provide a list of functions the model may generate JSON inputs for. A max of 128 functions are supported."
                  },
                  "tool_choice": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "none",
                          "auto",
                          "required"
                        ],
                        "description": "none means the model will not call any tool and instead generates a message. auto means the model can pick between generating a message or calling one or more tools. required means the model must call one or more tools."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "function"
                            ],
                            "description": "The type of the tool. Currently, only function is supported."
                          },
                          "function": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the function to call."
                              }
                            },
                            "required": [
                              "name"
                            ]
                          }
                        },
                        "required": [
                          "type",
                          "function"
                        ],
                        "description": "Specifies a tool the model should use. Use to force the model to call a specific function."
                      }
                    ],
                    "description": "Controls which (if any) tool is called by the model. none means the model will not call any tool and instead generates a message. auto means the model can pick between generating a message or calling one or more tools. required means the model must call one or more tools. Specifying a particular tool via {\"type\": \"function\", \"function\": {\"name\": \"my_function\"}} forces the model to call that tool.\n  none is the default when no tools are present. auto is the default if tools are present."
                  },
                  "parallel_tool_calls": {
                    "type": "boolean",
                    "description": "Whether to enable parallel function calling during tool use."
                  },
                  "n": {
                    "type": "integer",
                    "nullable": true,
                    "minimum": 1,
                    "description": "How many chat completion choices to generate for each input message. Note that you will be charged based on the number of generated tokens across all of the choices. Keep n as 1 to minimize costs."
                  },
                  "seed": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "This feature is in Beta. If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same seed and parameters should return the same result."
                  },
                  "reasoning_effort": {
                    "type": "string",
                    "enum": [
                      "low",
                      "medium",
                      "high"
                    ],
                    "description": "Constrains effort on reasoning for reasoning models. Currently supported values are low, medium, and high. Reducing reasoning effort can result in faster responses and fewer tokens used on reasoning in a response."
                  },
                  "response_format": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ],
                            "description": "The type of response format being defined. Always text."
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false,
                        "description": "Default response format. Used to generate text responses."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "json_object"
                            ],
                            "description": "The type of response format being defined. Always json_object."
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false,
                        "description": "An older method of generating JSON responses. Using json_schema is recommended for models that support it. Note that the model will not generate JSON without a system or user message instructing it to do so."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "json_schema"
                            ],
                            "description": "The type of response format being defined. Always json_schema."
                          },
                          "json_schema": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the response format. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64."
                              },
                              "schema": {
                                "type": "object",
                                "additionalProperties": {
                                  "nullable": true
                                },
                                "description": "The schema for the response format, described as a JSON Schema object."
                              },
                              "strict": {
                                "type": "boolean",
                                "nullable": true,
                                "description": "Whether to enable strict schema adherence when generating the output. If set to True, the model will always follow the exact schema defined in the schema field. Only a subset of JSON Schema is supported when strict is True."
                              },
                              "description": {
                                "type": "string",
                                "description": "A description of what the response format is for, used by the model to determine how to respond in the format."
                              }
                            },
                            "required": [
                              "name"
                            ],
                            "additionalProperties": false,
                            "description": "JSON Schema response format. Used to generate structured JSON responses."
                          }
                        },
                        "required": [
                          "type",
                          "json_schema"
                        ],
                        "additionalProperties": false,
                        "description": "JSON Schema response format. Used to generate structured JSON responses."
                      }
                    ],
                    "description": "An object specifying the format that the model must output."
                  }
                },
                "required": [
                  "model",
                  "messages"
                ],
                "title": "openai/gpt-5-2025-08-07"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A unique identifier for the chat completion.",
                      "example": "chatcmpl-CQ9FPg3osank0dx0k46Z53LTqtXMl"
                    },
                    "object": {
                      "type": "string",
                      "enum": [
                        "chat.completion"
                      ],
                      "description": "The object type.",
                      "example": "chat.completion"
                    },
                    "created": {
                      "type": "number",
                      "description": "The Unix timestamp (in seconds) of when the chat completion was created.",
                      "example": 1762343744
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "number",
                            "description": "The index of the choice in the list of choices.",
                            "example": 0
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string",
                                "description": "The role of the author of this message.",
                                "example": "assistant"
                              },
                              "content": {
                                "type": "string",
                                "description": "The contents of the message.",
                                "example": "Hello! I'm just a program, so I don't have feelings, but I'm here and ready to help you. How can I assist you today?"
                              },
                              "refusal": {
                                "type": "string",
                                "nullable": true,
                                "description": "The refusal message generated by the model.",
                                "example": null
                              },
                              "annotations": {
                                "type": "array",
                                "nullable": true,
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "url_citation"
                                      ],
                                      "description": "The type of the URL citation. Always url_citation."
                                    },
                                    "url_citation": {
                                      "type": "object",
                                      "properties": {
                                        "end_index": {
                                          "type": "integer",
                                          "description": "The index of the last character of the URL citation in the message."
                                        },
                                        "start_index": {
                                          "type": "integer",
                                          "description": "The index of the first character of the URL citation in the message."
                                        },
                                        "title": {
                                          "type": "string",
                                          "description": "The title of the web resource."
                                        },
                                        "url": {
                                          "type": "string",
                                          "description": "The URL of the web resource."
                                        }
                                      },
                                      "required": [
                                        "end_index",
                                        "start_index",
                                        "title",
                                        "url"
                                      ],
                                      "description": "A URL citation when using web search."
                                    }
                                  },
                                  "required": [
                                    "type",
                                    "url_citation"
                                  ]
                                },
                                "description": "Annotations for the message, when applicable, as when using the web search tool.",
                                "example": null
                              },
                              "audio": {
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Unique identifier for this audio response."
                                  },
                                  "data": {
                                    "type": "string",
                                    "description": "Base64 encoded audio bytes generated by the model, in the format specified in the request."
                                  },
                                  "transcript": {
                                    "type": "string",
                                    "description": "Transcript of the audio generated by the model."
                                  },
                                  "expires_at": {
                                    "type": "integer",
                                    "description": "The Unix timestamp (in seconds) for when this audio response will no longer be accessible on the server for use in multi-turn conversations."
                                  }
                                },
                                "required": [
                                  "id",
                                  "data",
                                  "transcript",
                                  "expires_at"
                                ],
                                "description": "A chat completion message generated by the model.",
                                "example": null
                              },
                              "tool_calls": {
                                "type": "array",
                                "nullable": true,
                                "items": {
                                  "oneOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "The ID of the tool call."
                                        },
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "function"
                                          ],
                                          "description": "The type of the tool."
                                        },
                                        "function": {
                                          "type": "object",
                                          "properties": {
                                            "arguments": {
                                              "type": "string",
                                              "description": "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                                            },
                                            "name": {
                                              "type": "string",
                                              "description": "The name of the function to call."
                                            }
                                          },
                                          "required": [
                                            "arguments",
                                            "name"
                                          ],
                                          "description": "The function that the model called."
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "type",
                                        "function"
                                      ]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "The ID of the tool call."
                                        },
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "custom"
                                          ],
                                          "description": "The type of the tool."
                                        },
                                        "custom": {
                                          "type": "object",
                                          "properties": {
                                            "input": {
                                              "type": "string",
                                              "description": "The input for the custom tool call generated by the model."
                                            },
                                            "name": {
                                              "type": "string",
                                              "description": "The name of the custom tool to call."
                                            }
                                          },
                                          "required": [
                                            "input",
                                            "name"
                                          ],
                                          "description": "The custom tool that the model called."
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "type",
                                        "custom"
                                      ]
                                    }
                                  ]
                                },
                                "description": "The tool calls generated by the model, such as function calls.",
                                "example": null
                              }
                            },
                            "required": [
                              "role",
                              "content"
                            ],
                            "description": "A chat completion message generated by the model."
                          },
                          "finish_reason": {
                            "type": "string",
                            "enum": [
                              "stop",
                              "length",
                              "content_filter",
                              "tool_calls"
                            ],
                            "description": "The reason the model stopped generating tokens. This will be stop if the model hit a natural stop point or a provided stop sequence, length if the maximum number of tokens specified in the request was reached, content_filter if content was omitted due to a flag from our content filters, tool_calls if the model called a tool"
                          },
                          "logprobs": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "content": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "bytes": {
                                      "type": "array",
                                      "items": {
                                        "type": "integer"
                                      },
                                      "description": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be null if there is no bytes representation for the token."
                                    },
                                    "logprob": {
                                      "type": "number",
                                      "description": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value -9999.0 is used to signify that the token is very unlikely."
                                    },
                                    "token": {
                                      "type": "string",
                                      "description": "The token."
                                    },
                                    "top_logprobs": {
                                      "type": "array",
                                      "nullable": true,
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "bytes": {
                                            "type": "array",
                                            "nullable": true,
                                            "items": {
                                              "type": "integer"
                                            },
                                            "description": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be null if there is no bytes representation for the token."
                                          },
                                          "logprob": {
                                            "type": "number",
                                            "description": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value -9999.0 is used to signify that the token is very unlikely."
                                          },
                                          "token": {
                                            "type": "string",
                                            "description": "The token."
                                          }
                                        },
                                        "required": [
                                          "logprob",
                                          "token"
                                        ]
                                      },
                                      "description": "List of the most likely tokens and their log probability, at this token position. In rare cases, there may be fewer than the number of requested top_logprobs returned."
                                    }
                                  },
                                  "required": [
                                    "bytes",
                                    "logprob",
                                    "token"
                                  ]
                                },
                                "description": "A list of message content tokens with log probability information."
                              },
                              "refusal": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "bytes": {
                                      "type": "array",
                                      "items": {
                                        "type": "integer"
                                      },
                                      "description": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be null if there is no bytes representation for the token."
                                    },
                                    "logprob": {
                                      "type": "number",
                                      "description": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value -9999.0 is used to signify that the token is very unlikely."
                                    },
                                    "token": {
                                      "type": "string",
                                      "description": "The token."
                                    },
                                    "top_logprobs": {
                                      "type": "array",
                                      "nullable": true,
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "bytes": {
                                            "type": "array",
                                            "nullable": true,
                                            "items": {
                                              "type": "integer"
                                            },
                                            "description": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be null if there is no bytes representation for the token."
                                          },
                                          "logprob": {
                                            "type": "number",
                                            "description": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value -9999.0 is used to signify that the token is very unlikely."
                                          },
                                          "token": {
                                            "type": "string",
                                            "description": "The token."
                                          }
                                        },
                                        "required": [
                                          "logprob",
                                          "token"
                                        ]
                                      },
                                      "description": "List of the most likely tokens and their log probability, at this token position. In rare cases, there may be fewer than the number of requested top_logprobs returned."
                                    }
                                  },
                                  "required": [
                                    "bytes",
                                    "logprob",
                                    "token"
                                  ]
                                },
                                "description": "A list of message refusal tokens with log probability information."
                              }
                            },
                            "required": [
                              "content",
                              "refusal"
                            ],
                            "description": "Log probability information for the choice.",
                            "example": null
                          }
                        },
                        "required": [
                          "index",
                          "message",
                          "finish_reason"
                        ]
                      }
                    },
                    "model": {
                      "type": "string",
                      "description": "The model used for the chat completion.",
                      "example": "openai/gpt-5-2025-08-07"
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": {
                          "type": "number",
                          "description": "Number of tokens in the prompt.",
                          "example": 137
                        },
                        "completion_tokens": {
                          "type": "number",
                          "description": "Number of tokens in the generated completion.",
                          "example": 914
                        },
                        "total_tokens": {
                          "type": "number",
                          "description": "Total number of tokens used in the request (prompt + completion).",
                          "example": 1051
                        },
                        "completion_tokens_details": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "accepted_prediction_tokens": {
                              "type": "integer",
                              "nullable": true,
                              "description": "When using Predicted Outputs, the number of tokens in the prediction that appeared in the completion."
                            },
                            "audio_tokens": {
                              "type": "integer",
                              "nullable": true,
                              "description": "Audio input tokens generated by the model."
                            },
                            "reasoning_tokens": {
                              "type": "integer",
                              "nullable": true,
                              "description": "Tokens generated by the model for reasoning."
                            },
                            "rejected_prediction_tokens": {
                              "type": "integer",
                              "nullable": true,
                              "description": "When using Predicted Outputs, the number of tokens in the prediction that did not appear in the completion. However, like reasoning tokens, these tokens are still counted in the total completion tokens for purposes of billing, output, and context window limits."
                            }
                          },
                          "description": "Breakdown of tokens used in a completion.",
                          "example": null
                        },
                        "prompt_tokens_details": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "audio_tokens": {
                              "type": "integer",
                              "nullable": true,
                              "description": "Audio input tokens present in the prompt."
                            },
                            "cached_tokens": {
                              "type": "integer",
                              "nullable": true,
                              "description": "Cached tokens present in the prompt."
                            }
                          },
                          "description": "Breakdown of tokens used in the prompt.",
                          "example": null
                        }
                      },
                      "required": [
                        "prompt_tokens",
                        "completion_tokens",
                        "total_tokens"
                      ],
                      "description": "Usage statistics for the completion request."
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "created",
                    "choices",
                    "model",
                    "usage"
                  ]
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A unique identifier for the chat completion."
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "delta": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "content": {
                                "type": "string",
                                "description": "The contents of the chunk message."
                              },
                              "refusal": {
                                "type": "string",
                                "nullable": true,
                                "description": "The refusal message generated by the model."
                              },
                              "role": {
                                "type": "string",
                                "enum": [
                                  "user",
                                  "assistant",
                                  "developer",
                                  "system",
                                  "tool"
                                ],
                                "description": "The role of the author of this message."
                              },
                              "tool_calls": {
                                "type": "array",
                                "nullable": true,
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "index": {
                                      "type": "number"
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The ID of the tool call."
                                    },
                                    "function": {
                                      "type": "object",
                                      "properties": {
                                        "arguments": {
                                          "type": "string",
                                          "description": "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                                        },
                                        "name": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "arguments",
                                        "name"
                                      ],
                                      "description": "The function that the model called."
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "function"
                                      ],
                                      "description": "The type of the tool."
                                    }
                                  },
                                  "required": [
                                    "index",
                                    "id",
                                    "function",
                                    "type"
                                  ]
                                },
                                "description": "The tool calls generated by the model, such as function calls."
                              }
                            },
                            "required": [
                              "content",
                              "role"
                            ],
                            "description": "A chat completion delta generated by streamed model responses."
                          },
                          "finish_reason": {
                            "type": "string",
                            "enum": [
                              "length",
                              "function_call",
                              "stop",
                              "tool_calls",
                              "content_filter"
                            ]
                          },
                          "index": {
                            "type": "number",
                            "description": "The index of the choice in the list of choices."
                          },
                          "logprobs": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "content": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "token": {
                                      "type": "string",
                                      "description": "The token."
                                    },
                                    "bytes": {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      },
                                      "description": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be null if there is no bytes representation for the token."
                                    },
                                    "logprob": {
                                      "type": "number",
                                      "description": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value -9999.0 is used to signify that the token is very unlikely."
                                    },
                                    "top_logprobs": {
                                      "type": "array",
                                      "nullable": true,
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "token": {
                                            "type": "string",
                                            "description": "The token."
                                          },
                                          "bytes": {
                                            "type": "array",
                                            "items": {
                                              "type": "number"
                                            },
                                            "description": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be null if there is no bytes representation for the token."
                                          },
                                          "logprob": {
                                            "type": "number",
                                            "description": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value -9999.0 is used to signify that the token is very unlikely."
                                          }
                                        },
                                        "required": [
                                          "token",
                                          "bytes",
                                          "logprob"
                                        ]
                                      },
                                      "description": "List of the most likely tokens and their log probability, at this token position. In rare cases, there may be fewer than the number of requested top_logprobs returned."
                                    }
                                  },
                                  "required": [
                                    "token",
                                    "bytes",
                                    "logprob"
                                  ]
                                }
                              },
                              "refusal": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "token": {
                                      "type": "string",
                                      "description": "The token."
                                    },
                                    "bytes": {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      },
                                      "description": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be null if there is no bytes representation for the token."
                                    },
                                    "logprob": {
                                      "type": "number",
                                      "description": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value -9999.0 is used to signify that the token is very unlikely."
                                    },
                                    "top_logprobs": {
                                      "type": "array",
                                      "nullable": true,
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "token": {
                                            "type": "string",
                                            "description": "The token."
                                          },
                                          "bytes": {
                                            "type": "array",
                                            "items": {
                                              "type": "number"
                                            },
                                            "description": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be null if there is no bytes representation for the token."
                                          },
                                          "logprob": {
                                            "type": "number",
                                            "description": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value -9999.0 is used to signify that the token is very unlikely."
                                          }
                                        },
                                        "required": [
                                          "token",
                                          "bytes",
                                          "logprob"
                                        ]
                                      },
                                      "description": "List of the most likely tokens and their log probability, at this token position. In rare cases, there may be fewer than the number of requested top_logprobs returned."
                                    }
                                  },
                                  "required": [
                                    "token",
                                    "bytes",
                                    "logprob"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "content",
                              "refusal"
                            ],
                            "description": "Log probability information for the choice."
                          }
                        },
                        "required": [
                          "finish_reason",
                          "index"
                        ]
                      },
                      "description": "A list of chat completion choices. Can be more than one if n is greater than 1."
                    },
                    "created": {
                      "type": "number",
                      "description": "The Unix timestamp (in seconds) of when the chat completion was created."
                    },
                    "model": {
                      "type": "string",
                      "description": "The model used for the chat completion."
                    },
                    "object": {
                      "type": "string",
                      "enum": [
                        "chat.completion.chunk"
                      ],
                      "description": "The object type."
                    },
                    "service_tier": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "auto",
                        "default",
                        "flex",
                        "scale",
                        "priority"
                      ],
                      "description": "Specifies the processing type used for serving the request."
                    },
                    "usage": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "prompt_tokens": {
                          "type": "number",
                          "description": "Number of tokens in the prompt.",
                          "example": 137
                        },
                        "completion_tokens": {
                          "type": "number",
                          "description": "Number of tokens in the generated completion.",
                          "example": 914
                        },
                        "total_tokens": {
                          "type": "number",
                          "description": "Total number of tokens used in the request (prompt + completion).",
                          "example": 1051
                        },
                        "completion_tokens_details": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "accepted_prediction_tokens": {
                              "type": "integer",
                              "nullable": true,
                              "description": "When using Predicted Outputs, the number of tokens in the prediction that appeared in the completion."
                            },
                            "audio_tokens": {
                              "type": "integer",
                              "nullable": true,
                              "description": "Audio input tokens generated by the model."
                            },
                            "reasoning_tokens": {
                              "type": "integer",
                              "nullable": true,
                              "description": "Tokens generated by the model for reasoning."
                            },
                            "rejected_prediction_tokens": {
                              "type": "integer",
                              "nullable": true,
                              "description": "When using Predicted Outputs, the number of tokens in the prediction that did not appear in the completion. However, like reasoning tokens, these tokens are still counted in the total completion tokens for purposes of billing, output, and context window limits."
                            }
                          },
                          "description": "Breakdown of tokens used in a completion.",
                          "example": null
                        },
                        "prompt_tokens_details": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "audio_tokens": {
                              "type": "integer",
                              "nullable": true,
                              "description": "Audio input tokens present in the prompt."
                            },
                            "cached_tokens": {
                              "type": "integer",
                              "nullable": true,
                              "description": "Cached tokens present in the prompt."
                            }
                          },
                          "description": "Breakdown of tokens used in the prompt.",
                          "example": null
                        }
                      },
                      "required": [
                        "prompt_tokens",
                        "completion_tokens",
                        "total_tokens"
                      ],
                      "description": "Usage statistics for the completion request."
                    }
                  },
                  "required": [
                    "id",
                    "choices",
                    "created",
                    "model",
                    "object"
                  ]
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v1/chat/completions', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: 'openai/gpt-5-2025-08-07',\n      messages:[\n          {\n              role:'user',\n              content: 'Hello'\n          }\n      ],\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v1/chat/completions\",\n    headers={\n        \"Content-Type\":\"application/json\", \n        \"Authorization\":\"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n        \"model\":\"openai/gpt-5-2025-08-07\",\n        \"messages\":[\n            {\n                \"role\":\"user\",\n                \"content\":\"Hello\"\n            }\n        ],\n    }\n)\n\ndata = response.json()\nprint(data)"
          },
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v1/chat/completions' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"model\": \"openai/gpt-5-2025-08-07\",\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": \"Hello\"\n      }\n    ]\n  }'"
          },
          {
            "lang": "HTTP",
            "source": "POST /v1/chat/completions HTTP/1.1\nHost: api.aimlapi.com\nAuthorization: Bearer <YOUR_AIMLAPI_KEY>\nContent-Type: application/json\nAccept: */*\nContent-Length: 59\n\n{\n  \"model\": \"openai/gpt-5-2025-08-07\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Hello\"\n    }\n  ]\n}"
          }
        ]
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "_chat_completions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "openai/gpt-5-2025-08-07"
                    ]
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "user"
                              ],
                              "description": "The role of the author of the message — in this case, the user"
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "text"
                                            ],
                                            "description": "The type of the content part."
                                          },
                                          "text": {
                                            "type": "string",
                                            "description": "The text content."
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "text"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "image_url"
                                            ]
                                          },
                                          "image_url": {
                                            "type": "object",
                                            "properties": {
                                              "url": {
                                                "type": "string",
                                                "format": "uri",
                                                "description": "Either a URL of the image or the base64 encoded image data. "
                                              },
                                              "detail": {
                                                "type": "string",
                                                "enum": [
                                                  "low",
                                                  "high",
                                                  "auto"
                                                ],
                                                "description": "Specifies the detail level of the image. Currently supports JPG/JPEG, PNG, GIF, and WEBP formats."
                                              }
                                            },
                                            "required": [
                                              "url"
                                            ]
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "image_url"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "file"
                                            ],
                                            "description": "The type of the content part."
                                          },
                                          "file": {
                                            "type": "object",
                                            "properties": {
                                              "file_data": {
                                                "type": "string",
                                                "description": "The file data, encoded in base64 and passed to the model as a string. Only PDF format is supported.\n        - Maximum size per file: Up to 512 MB and up to 2 million tokens.\n        - Maximum number of files: Up to 20 files can be attached to a single GPT application or Assistant. This limit applies throughout the application's lifetime.\n        - Maximum total file storage per user: 10 GB."
                                              },
                                              "filename": {
                                                "type": "string",
                                                "description": "The file name specified by the user. This name can be used to reference the file when interacting with the model, especially if multiple files are uploaded."
                                              }
                                            }
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "file"
                                        ]
                                      }
                                    ]
                                  }
                                }
                              ],
                              "description": "The contents of the user message."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            }
                          },
                          "required": [
                            "role",
                            "content"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "text"
                                        ],
                                        "description": "The type of the content part."
                                      },
                                      "text": {
                                        "type": "string",
                                        "description": "The text content."
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text"
                                    ]
                                  }
                                }
                              ],
                              "description": "The contents of the developer message."
                            },
                            "role": {
                              "type": "string",
                              "enum": [
                                "developer"
                              ],
                              "description": "The role of the author of the message — in this case, the developer."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            }
                          },
                          "required": [
                            "content",
                            "role"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "system"
                              ],
                              "description": "The role of the author of the message — in this case, the system."
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "text"
                                        ],
                                        "description": "The type of the content part."
                                      },
                                      "text": {
                                        "type": "string",
                                        "description": "The text content."
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text"
                                    ]
                                  }
                                }
                              ],
                              "description": "The contents of the system message."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            }
                          },
                          "required": [
                            "role",
                            "content"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "tool"
                              ],
                              "description": "The role of the author of the message — in this case, the tool."
                            },
                            "content": {
                              "type": "string",
                              "description": "The contents of the tool message."
                            },
                            "tool_call_id": {
                              "type": "string",
                              "description": "Tool call that this message is responding to."
                            },
                            "name": {
                              "type": "string",
                              "nullable": true,
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            }
                          },
                          "required": [
                            "role",
                            "content",
                            "tool_call_id"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "assistant"
                              ],
                              "description": "The role of the author of the message — in this case, the Assistant."
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "description": "The contents of the Assistant message."
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "text"
                                            ],
                                            "description": "The type of the content part."
                                          },
                                          "text": {
                                            "type": "string",
                                            "description": "The text content."
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "text"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "refusal": {
                                            "type": "string",
                                            "description": "The refusal message generated by the model."
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "refusal"
                                            ],
                                            "description": "The type of the content part."
                                          }
                                        },
                                        "required": [
                                          "refusal",
                                          "type"
                                        ]
                                      }
                                    ]
                                  },
                                  "description": "An array of content parts with a defined type. Can be one or more of type text, or exactly one of type refusal."
                                }
                              ],
                              "description": "The contents of the Assistant message. Required unless tool_calls or function_call is specified."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            },
                            "tool_calls": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
[...]
