{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v2/video/generations": {
      "post": {
        "operationId": "_v2_video_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "luma/ray-3.2"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Text description of the video to generate."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "video",
                      "video_edit",
                      "video_reframe"
                    ],
                    "default": "video",
                    "description": "Generation kind: \"video\" (generate / extend), \"video_edit\", or \"video_reframe\"."
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "360p",
                      "540p",
                      "720p",
                      "1080p"
                    ],
                    "default": "720p",
                    "description": "Output resolution."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Clip duration in seconds.",
                    "enum": [
                      5,
                      10
                    ],
                    "default": "5"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "9:16",
                      "3:4",
                      "1:1",
                      "4:3",
                      "16:9",
                      "21:9"
                    ],
                    "default": "16:9",
                    "description": "Output aspect ratio."
                  },
                  "loop": {
                    "type": "boolean",
                    "default": false,
                    "description": "Seamlessly loop the video (creation only)."
                  },
                  "hdr": {
                    "type": "boolean",
                    "default": false,
                    "description": "Generate HDR output (5s, 720p/1080p only)."
                  },
                  "exr_export": {
                    "type": "boolean",
                    "default": false,
                    "description": "Export EXR frames (requires hdr)."
                  },
                  "image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Start-frame image URL for image-to-video / extend."
                  },
                  "last_image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "End-frame image URL (first-last-frame)."
                  },
                  "video_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Source video URL for editing or reframing."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ],
                "title": "luma/ray-3.2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the generated video.",
                      "example": "60ac7c34-3224-4b14-8e7d-0aa0db708325"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "generating",
                        "completed",
                        "error"
                      ],
                      "description": "The current status of the generation task.",
                      "example": "completed"
                    },
                    "video": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL where the file can be downloaded from.",
                          "example": "https://cdn.aimlapi.com/generations/hedgehog/1759866285599-0cdfb138-c03a-49d4-a601-4f6413e27b15.mp4"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "message"
                      ],
                      "description": "Description of the error, if any."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            },
                            "usd_spent": {
                              "type": "number",
                              "description": "The total amount of money spent by the user in USD.",
                              "example": 0.06
                            }
                          },
                          "required": [
                            "credits_used",
                            "usd_spent"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            },
            "description": "Successful response."
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request POST \\\n  --url 'https://api.aimlapi.com/v2/video/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\"model\": \"luma/ray-3.2\", \"prompt\": \"Describe what you want the model to generate.\", \"duration\": \"5\", \"image_url\": \"https://example.com/input.jpg\"}'"
          },
          {
            "lang": "JavaScript",
            "source": "const response = await fetch('https://api.aimlapi.com/v2/video/generations', {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n  \"model\": \"luma/ray-3.2\",\n  \"prompt\": \"Describe what you want the model to generate.\",\n  \"duration\": \"5\",\n  \"image_url\": \"https://example.com/input.jpg\"\n}),\n});\n\nconsole.log(await response.json());"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v2/video/generations\",\n    headers={\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n        \"Content-Type\": \"application/json\",\n    },\n    json={'model': 'luma/ray-3.2', 'prompt': 'Describe what you want the model to generate.', 'duration': '5', 'image_url': 'https://example.com/input.jpg'},\n)\n\nprint(response.json())"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}
