{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v2/video/generations": {
      "post": {
        "operationId": "_v2_video_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "runway/act_two"
                    ]
                  },
                  "character": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "video"
                            ]
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "required": [
                          "type",
                          "url"
                        ],
                        "description": "A video of your character. In the output, the character will use the reference video performance in its original animated environment and some of the character's own movements."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "image"
                            ]
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "required": [
                          "type",
                          "url"
                        ],
                        "description": "An image of your character. In the output, the character will use the reference video performance in its original static environment."
                      }
                    ],
                    "description": "The character to control. You can either provide a video or an image. A visually recognizable face must be visible and stay within the frame."
                  },
                  "reference": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "video"
                        ]
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    },
                    "required": [
                      "type",
                      "url"
                    ],
                    "description": "Passing a video reference allows the model to emulate the style or content of the reference in the output."
                  },
                  "frame_size": {
                    "type": "string",
                    "enum": [
                      "1280:720",
                      "720:1280",
                      "1104:832",
                      "832:1104",
                      "960:960",
                      "1584:672",
                      "848:480",
                      "640:480"
                    ],
                    "default": "1280:720",
                    "description": "The width and height of the video."
                  },
                  "body_control": {
                    "type": "boolean",
                    "description": "A boolean indicating whether to enable body control. When enabled, non-facial movements and gestures will be applied to the character in addition to facial expressions."
                  },
                  "expression_intensity": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5,
                    "default": 3,
                    "description": "An integer between 1 and 5 (inclusive). A larger value increases the intensity of the character's expression."
                  },
                  "seed": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295,
                    "description": "Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen."
                  }
                },
                "required": [
                  "model",
                  "character",
                  "reference"
                ],
                "title": "runway/act_two"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the generated video.",
                      "example": "60ac7c34-3224-4b14-8e7d-0aa0db708325"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "generating",
                        "completed",
                        "error"
                      ],
                      "description": "The current status of the generation task.",
                      "example": "completed"
                    },
                    "video": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL where the file can be downloaded from.",
                          "example": "https://cdn.aimlapi.com/generations/hedgehog/1759866285599-0cdfb138-c03a-49d4-a601-4f6413e27b15.mp4"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "message"
                      ],
                      "description": "Description of the error, if any."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "credits_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v2/video/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"runway/act_two\",\n      \"character\": {\n        \"type\": \"image\",\n        \"url\": \"https://fs.tonkosti.ru/33/ol/33olc2eyzj6s4w8ksg8kkc0gg.jpg\"\n      },\n      \"reference\": {\n        \"type\": \"video\",\n        \"url\": \"https://videos.pexels.com/video-files/3044160/3044160-uhd_2560_1440_24fps.mp4\"\n      }\n    }'"
          },
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v2/video/generations', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      \"model\": \"runway/act_two\",\n      \"character\": {\n        \"type\": \"image\",\n        \"url\": \"https://fs.tonkosti.ru/33/ol/33olc2eyzj6s4w8ksg8kkc0gg.jpg\"\n      },\n      \"reference\": {\n        \"type\": \"video\",\n        \"url\": \"https://videos.pexels.com/video-files/3044160/3044160-uhd_2560_1440_24fps.mp4\"\n      }\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v2/video/generations\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n      \"model\": \"runway/act_two\",\n      \"character\": {\n        \"type\": \"image\",\n        \"url\": \"https://fs.tonkosti.ru/33/ol/33olc2eyzj6s4w8ksg8kkc0gg.jpg\"\n      },\n      \"reference\": {\n        \"type\": \"video\",\n        \"url\": \"https://videos.pexels.com/video-files/3044160/3044160-uhd_2560_1440_24fps.mp4\"\n      }\n    }\n)\n\ndata = response.json()\nprint(data)"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}