{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v2/video/generations": {
      "post": {
        "operationId": "_v2_video_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "gen3a_turbo"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "maxLength": 1000,
                    "description": "The text description of the scene, subject, or action to generate in the video."
                  },
                  "image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "A HTTPS URL or data URI containing an encoded image to be used as the first frame of the generated video."
                  },
                  "tail_image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "A HTTPS URL or data URI containing an encoded image to be used as the last frame of the generated video."
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "16:9",
                      "9:16"
                    ],
                    "default": "16:9",
                    "description": "The aspect ratio of the generated video."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "The length of the output video in seconds.",
                    "enum": [
                      5,
                      10
                    ],
                    "default": "5"
                  },
                  "seed": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295,
                    "description": "Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen."
                  }
                },
                "required": [
                  "model",
                  "image_url"
                ],
                "title": "gen3a_turbo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the generated video.",
                      "example": "60ac7c34-3224-4b14-8e7d-0aa0db708325"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "generating",
                        "completed",
                        "error"
                      ],
                      "description": "The current status of the generation task.",
                      "example": "completed"
                    },
                    "video": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL where the file can be downloaded from.",
                          "example": "https://cdn.aimlapi.com/generations/hedgehog/1759866285599-0cdfb138-c03a-49d4-a601-4f6413e27b15.mp4"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "message"
                      ],
                      "description": "Description of the error, if any."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "credits_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v2/video/generations', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      \"model\": \"gen3a_turbo\",\n      \"prompt\": \"The camera moves down, dives underwater and moves through a dark, moody world of greenish light and drifting plants. Giant white koi fish emerge from the shadows and turn curiously toward the camera as it passes, their scales shimmering faintly in the murky depths.\",\n      \"image_url\": \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/landscape.jpg\",\n      \"tail_image_url\": \"https://cdn.aimlapi.com/assets/content/white-fish.png\"\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v2/video/generations\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n      \"model\": \"gen3a_turbo\",\n      \"prompt\": \"The camera moves down, dives underwater and moves through a dark, moody world of greenish light and drifting plants. Giant white koi fish emerge from the shadows and turn curiously toward the camera as it passes, their scales shimmering faintly in the murky depths.\",\n      \"image_url\": \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/landscape.jpg\",\n      \"tail_image_url\": \"https://cdn.aimlapi.com/assets/content/white-fish.png\"\n    }\n)\n\ndata = response.json()\nprint(data)"
          },
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v2/video/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"gen3a_turbo\",\n      \"prompt\": \"The camera moves down, dives underwater and moves through a dark, moody world of greenish light and drifting plants. Giant white koi fish emerge from the shadows and turn curiously toward the camera as it passes, their scales shimmering faintly in the murky depths.\",\n      \"image_url\": \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/landscape.jpg\",\n      \"tail_image_url\": \"https://cdn.aimlapi.com/assets/content/white-fish.png\"\n    }'"
          },
          {
            "lang": "HTTP",
            "source": "POST /v2/video/generations HTTP/1.1\nHost: api.aimlapi.com\nAuthorization: Bearer <YOUR_AIMLAPI_KEY>\nContent-Type: application/json\nAccept: */*\n\n{\n  \"model\": \"gen3a_turbo\",\n  \"prompt\": \"The camera moves down, dives underwater and moves through a dark, moody world of greenish light and drifting plants. Giant white koi fish emerge from the shadows and turn curiously toward the camera as it passes, their scales shimmering faintly in the murky depths.\",\n  \"image_url\": \"https://raw.githubusercontent.com/aimlapi/api-docs/main/reference-files/landscape.jpg\",\n  \"tail_image_url\": \"https://cdn.aimlapi.com/assets/content/white-fish.png\"\n}"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}