{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/images/generations": {
      "post": {
        "operationId": "_v1_images_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "alibaba/qwen-image-3"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "maxLength": 800,
                    "description": "The text prompt describing the content, style, or composition of the image to be generated."
                  },
                  "image_size": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "width": {
                            "type": "integer",
                            "minimum": 384,
                            "maximum": 2048,
                            "default": 1024
                          },
                          "height": {
                            "type": "integer",
                            "minimum": 384,
                            "maximum": 2048,
                            "default": 1024
                          }
                        },
                        "description": "For both height and width, the value must be a multiple of 32."
                      },
                      {
                        "type": "string",
                        "enum": [
                          "square_hd",
                          "square",
                          "portrait_4_3",
                          "portrait_16_9",
                          "landscape_4_3",
                          "landscape_16_9"
                        ],
                        "description": "The size of the generated image."
                      }
                    ],
                    "default": "square_hd"
                  },
                  "negative_prompt": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "The description of elements to avoid in the generated image."
                  },
                  "num_images": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 4,
                    "default": 1,
                    "description": "The number of images to generate."
                  },
                  "output_format": {
                    "type": "string",
                    "enum": [
                      "jpeg",
                      "png",
                      "webp"
                    ],
                    "default": "png",
                    "description": "The format of the generated image."
                  },
                  "seed": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 2147483647,
                    "description": "The same seed and the same prompt given to the same version of the model will output the same image every time."
                  },
                  "enable_prompt_expansion": {
                    "type": "boolean",
                    "default": true,
                    "description": "If set to True, prompt will be upsampled with more details."
                  },
                  "enable_safety_checker": {
                    "type": "boolean",
                    "default": true,
                    "description": "If set to True, the safety checker will be enabled."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ],
                "title": "alibaba/qwen-image-3"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "nullable": true,
                            "description": "The URL where the file can be downloaded from.",
                            "example": "https://cdn.aimlapi.com/generations/hedgehog/1749730923700-29fe35d2-4aef-4bc5-a911-6c39884d16a8.png"
                          },
                          "b64_json": {
                            "type": "string",
                            "nullable": true,
                            "description": "The base64-encoded JSON of the generated image.",
                            "example": null
                          }
                        }
                      },
                      "description": "The list of generated images."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            },
                            "usd_spent": {
                              "type": "number",
                              "description": "The total amount of money spent by the user in USD.",
                              "example": 0.06
                            }
                          },
                          "required": [
                            "credits_used",
                            "usd_spent"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  }
                }
              }
            },
            "description": "Successful response."
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request POST \\\n  --url 'https://api.aimlapi.com/v1/images/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\"model\": \"alibaba/qwen-image-3\", \"prompt\": \"Describe what you want the model to generate.\"}'"
          },
          {
            "lang": "JavaScript",
            "source": "const response = await fetch('https://api.aimlapi.com/v1/images/generations', {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n  \"model\": \"alibaba/qwen-image-3\",\n  \"prompt\": \"Describe what you want the model to generate.\"\n}),\n});\n\nconsole.log(await response.json());"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v1/images/generations\",\n    headers={\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n        \"Content-Type\": \"application/json\",\n    },\n    json={'model': 'alibaba/qwen-image-3', 'prompt': 'Describe what you want the model to generate.'},\n)\n\nprint(response.json())"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}
