{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/images/generations": {
      "post": {
        "operationId": "_v1_images_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "imagen-3.0-generate-002"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "maxLength": 400,
                    "description": "The text prompt describing the content, style, or composition of the image to be generated."
                  },
                  "convert_base64_to_url": {
                    "type": "boolean",
                    "default": true,
                    "description": "If True, the URL to the image will be returned; otherwise, the file will be provided in base64 format."
                  },
                  "num_images": {
                    "type": "integer",
                    "maximum": 4,
                    "default": 1,
                    "description": "The number of images to generate."
                  },
                  "seed": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295,
                    "description": "The same seed and the same prompt given to the same version of the model will output the same image every time."
                  },
                  "enhance_prompt": {
                    "type": "boolean",
                    "default": true,
                    "description": "Optional parameter to use an LLM-based prompt rewriting feature for higher-quality images that better match the original prompt. Disabling it may affect image quality and prompt alignment."
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "1:1",
                      "9:16",
                      "16:9",
                      "3:4",
                      "4:3"
                    ],
                    "default": "1:1",
                    "description": "The aspect ratio of the generated image."
                  },
                  "person_generation": {
                    "type": "string",
                    "enum": [
                      "dont_allow",
                      "allow_adult"
                    ],
                    "default": "allow_adult",
                    "description": "Allow generation of people."
                  },
                  "safety_setting": {
                    "type": "string",
                    "enum": [
                      "block_low_and_above",
                      "block_medium_and_above",
                      "block_only_high"
                    ],
                    "default": "block_medium_and_above",
                    "description": "Adds a filter level to safety filtering."
                  },
                  "add_watermark": {
                    "type": "boolean",
                    "default": false,
                    "description": "Add an invisible watermark to the generated images."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ],
                "title": "imagen-3.0-generate-002"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "nullable": true,
                            "description": "The URL where the file can be downloaded from.",
                            "example": "https://cdn.aimlapi.com/generations/hedgehog/1749730923700-29fe35d2-4aef-4bc5-a911-6c39884d16a8.png"
                          },
                          "b64_json": {
                            "type": "string",
                            "nullable": true,
                            "description": "The base64-encoded JSON of the generated image.",
                            "example": null
                          }
                        }
                      },
                      "description": "The list of generated images."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "tokens_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "tokens_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  }
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v1/images/generations', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: 'imagen-3.0-generate-002',\n      prompt: 'A T-Rex relaxing on a beach, lying on a sun lounger and wearing sunglasses.',\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v1/images/generations\",\n    headers={\n        \"Content-Type\":\"application/json\", \n        \"Authorization\":\"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n        \"model\":\"imagen-3.0-generate-002\",\n        \"prompt\": \"A T-Rex relaxing on a beach, lying on a sun lounger and wearing sunglasses.\"\n    }\n)\n\ndata = response.json()\nprint(data)"
          },
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v1/images/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"model\": \"imagen-3.0-generate-002\",\n    \"prompt\": \"A T-Rex relaxing on a beach, lying on a sun lounger and wearing sunglasses.\"\n  }'"
          },
          {
            "lang": "HTTP",
            "source": "POST /v1/images/generations HTTP/1.1\nHost: api.aimlapi.com\nAuthorization: Bearer <YOUR_AIMLAPI_KEY>\nContent-Type: application/json\nAccept: */*\n\n{\n  \"model\": \"imagen-3.0-generate-002\",\n  \"prompt\": \"A T-Rex relaxing on a beach, lying on a sun lounger and wearing sunglasses.\"\n}"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}