{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/tts": {
      "post": {
        "operationId": "_tts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "microsoft/vibevoice-1.5b"
                    ]
                  },
                  "script": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 5000,
                    "description": "The script to convert to speech. Can be formatted with \"Speaker X:\" prefixes for multi-speaker dialogues."
                  },
                  "speakers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "preset": {
                          "type": "string",
                          "enum": [
                            "Alice [EN]",
                            "Alice [EN] (Background Music)",
                            "Carter [EN]",
                            "Frank [EN]",
                            "Maya [EN]",
                            "Anchen [ZH] (Background Music)",
                            "Bowen [ZH]",
                            "Xinran [ZH]"
                          ],
                          "description": "Default voice preset to use for the speaker. Not used if audio_url is provided."
                        },
                        "audio_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL to a voice sample audio file. If provided, preset will be ignored."
                        }
                      }
                    },
                    "minItems": 1,
                    "maxItems": 4,
                    "default": [
                      {
                        "preset": "Alice [EN]"
                      }
                    ],
                    "description": "List of speakers to use for the script. If not provided, will be inferred from the script or voice samples."
                  },
                  "seed": {
                    "type": "integer",
                    "description": "If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same seed and parameters should return the same result. Determinism is not guaranteed."
                  },
                  "cfg_scale": {
                    "type": "number",
                    "minimum": 0.1,
                    "maximum": 2,
                    "default": 1.3,
                    "description": "The CFG (Classifier Free Guidance) scale is a measure of how close you want the model to stick to your prompt."
                  },
                  "stream": {
                    "type": "boolean",
                    "enum": [
                      false
                    ],
                    "default": false
                  }
                },
                "required": [
                  "model",
                  "script"
                ],
                "title": "microsoft/vibevoice-1.5b"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "audio": {
                      "type": "string",
                      "format": "uri"
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "credits_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  },
                  "required": [
                    "audio"
                  ]
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Audio stream"
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v1/tts' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"microsoft/vibevoice-1.5b\",\n      \"script\": \"Hello\"\n    }'"
          },
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v1/tts', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      \"model\": \"microsoft/vibevoice-1.5b\",\n      \"script\": \"Hello\"\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v1/tts\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n      \"model\": \"microsoft/vibevoice-1.5b\",\n      \"script\": \"Hello\"\n    }\n)\n\ndata = response.json()\nprint(data)"
          }
        ]
      }
    },
    "/v1/tts": {
      "post": {
        "operationId": "_v1_tts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "microsoft/vibevoice-1.5b"
                    ]
                  },
                  "script": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 5000,
                    "description": "The script to convert to speech. Can be formatted with \"Speaker X:\" prefixes for multi-speaker dialogues."
                  },
                  "speakers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "preset": {
                          "type": "string",
                          "enum": [
                            "Alice [EN]",
                            "Alice [EN] (Background Music)",
                            "Carter [EN]",
                            "Frank [EN]",
                            "Maya [EN]",
                            "Anchen [ZH] (Background Music)",
                            "Bowen [ZH]",
                            "Xinran [ZH]"
                          ],
                          "description": "Default voice preset to use for the speaker. Not used if audio_url is provided."
                        },
                        "audio_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL to a voice sample audio file. If provided, preset will be ignored."
                        }
                      }
                    },
                    "minItems": 1,
                    "maxItems": 4,
                    "default": [
                      {
                        "preset": "Alice [EN]"
                      }
                    ],
                    "description": "List of speakers to use for the script. If not provided, will be inferred from the script or voice samples."
                  },
                  "seed": {
                    "type": "integer",
                    "description": "If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same seed and parameters should return the same result. Determinism is not guaranteed."
                  },
                  "cfg_scale": {
                    "type": "number",
                    "minimum": 0.1,
                    "maximum": 2,
                    "default": 1.3,
                    "description": "The CFG (Classifier Free Guidance) scale is a measure of how close you want the model to stick to your prompt."
                  },
                  "stream": {
                    "type": "boolean",
                    "enum": [
                      false
                    ],
                    "default": false
                  }
                },
                "required": [
                  "model",
                  "script"
                ],
                "title": "microsoft/vibevoice-1.5b"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "audio": {
                      "type": "string",
                      "format": "uri"
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "credits_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  },
                  "required": [
                    "audio"
                  ]
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Audio stream"
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v1/tts' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"microsoft/vibevoice-1.5b\",\n      \"script\": \"Hello\"\n    }'"
          },
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v1/tts', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      \"model\": \"microsoft/vibevoice-1.5b\",\n      \"script\": \"Hello\"\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v1/tts\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n      \"model\": \"microsoft/vibevoice-1.5b\",\n      \"script\": \"Hello\"\n    }\n)\n\ndata = response.json()\nprint(data)"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}