{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v2/video/generations": {
      "post": {
        "operationId": "_v2_video_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "alibaba/wan2.6-t2v"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "The text description of the scene, subject, or action to generate in the video."
                  },
                  "audio_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL of the audio file. The model will use this audio to generate the video."
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "16:9",
                      "9:16",
                      "1:1",
                      "4:3",
                      "3:4"
                    ],
                    "default": "16:9",
                    "description": "The aspect ratio of the generated video."
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "720p",
                      "1080p"
                    ],
                    "default": "1080p",
                    "description": "An enumeration where the short side of the video frame determines the resolution."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "The length of the output video in seconds.",
                    "enum": [
                      5,
                      10,
                      15
                    ],
                    "default": "10"
                  },
                  "negative_prompt": {
                    "type": "string",
                    "description": "The description of elements to avoid in the generated video."
                  },
                  "shot_type": {
                    "type": "string",
                    "enum": [
                      "single",
                      "multi"
                    ],
                    "default": "single",
                    "description": "Specifies the shot type of the generated video, that is, whether the video consists of a single continuous shot or multiple switched shots.\nThis parameter takes effect only when \"prompt_extend\" is set to 'true':\n- single: (default) Outputs a single-shot video.\n- multi: Outputs a multi-shot video."
                  },
                  "generate_audio": {
                    "type": "boolean",
                    "default": true,
                    "description": "Specifies whether to automatically add audio to the generated video.\nThis parameter takes effect only when 'audio_url' is not provided."
                  },
                  "seed": {
                    "type": "integer",
                    "description": "Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen."
                  },
                  "enhance_prompt": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to enable prompt expansion."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ],
                "title": "alibaba/wan2.6-t2v"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the generated video.",
                      "example": "60ac7c34-3224-4b14-8e7d-0aa0db708325"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "generating",
                        "completed",
                        "error"
                      ],
                      "description": "The current status of the generation task.",
                      "example": "completed"
                    },
                    "video": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL where the file can be downloaded from.",
                          "example": "https://cdn.aimlapi.com/generations/hedgehog/1759866285599-0cdfb138-c03a-49d4-a601-4f6413e27b15.mp4"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "message"
                      ],
                      "description": "Description of the error, if any."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "credits_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v2/video/generations', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      \"model\": \"alibaba/wan2.6-t2v\",\n      \"prompt\": \"A racoon is happily eating an ice cream. Suddenly, he pauses, looks directly into the camera, and says with full confidence: ’Hello, two-legged!’ His lip movements perfectly match the speech. Then, in a strong Irish accent, he adds: ’Wanna some?’ — while extending the half-eaten ice cream toward the camera.\"\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v2/video/generations\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n      \"model\": \"alibaba/wan2.6-t2v\",\n      \"prompt\": \"A racoon is happily eating an ice cream. Suddenly, he pauses, looks directly into the camera, and says with full confidence: ’Hello, two-legged!’ His lip movements perfectly match the speech. Then, in a strong Irish accent, he adds: ’Wanna some?’ — while extending the half-eaten ice cream toward the camera.\"\n    }\n)\n\ndata = response.json()\nprint(data)"
          },
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v2/video/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"alibaba/wan2.6-t2v\",\n      \"prompt\": \"A racoon is happily eating an ice cream. Suddenly, he pauses, looks directly into the camera, and says with full confidence: ’Hello, two-legged!’ His lip movements perfectly match the speech. Then, in a strong Irish accent, he adds: ’Wanna some?’ — while extending the half-eaten ice cream toward the camera.\"\n    }'"
          },
          {
            "lang": "HTTP",
            "source": "POST /v2/video/generations HTTP/1.1\nHost: api.aimlapi.com\nAuthorization: Bearer <YOUR_AIMLAPI_KEY>\nContent-Type: application/json\nAccept: */*\n\n{\n  \"model\": \"alibaba/wan2.6-t2v\",\n  \"prompt\": \"A racoon is happily eating an ice cream. Suddenly, he pauses, looks directly into the camera, and says with full confidence: ’Hello, two-legged!’ His lip movements perfectly match the speech. Then, in a strong Irish accent, he adds: ’Wanna some?’ — while extending the half-eaten ice cream toward the camera.\"\n}"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}