{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v2/video/generations": {
      "post": {
        "operationId": "_v2_video_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "alibaba/wan2.2-vace-fun-a14b-reframe"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "The text description of the scene, subject, or action to generate in the video."
                  },
                  "video_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "A HTTPS URL pointing to a video or a data URI containing a video. This video will be used as a reference during generation."
                  },
                  "negative_prompt": {
                    "type": "string",
                    "default": "letterboxing, borders, black bars, bright colors, overexposed, static, blurred details, subtitles, style, artwork, painting, picture, still, overall gray, worst quality, low quality, JPEG compression residue, ugly, incomplete, extra fingers, poorly drawn hands, poorly drawn faces, deformed, disfigured, malformed limbs, fused fingers, still picture, cluttered background, three legs, many people in the background, walking backwards",
                    "description": "The description of elements to avoid in the generated video."
                  },
                  "match_input_num_frames": {
                    "type": "boolean"
                  },
                  "num_frames": {
                    "type": "integer",
                    "minimum": 17,
                    "maximum": 241,
                    "default": 81,
                    "description": "Number of frames to generate."
                  },
                  "match_input_frames_per_second": {
                    "type": "boolean",
                    "description": "Whether to match the input video's frames per second (FPS)."
                  },
                  "frames_per_second": {
                    "type": "integer",
                    "minimum": 5,
                    "maximum": 30,
                    "default": 16,
                    "description": "Frames per second of the generated video."
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "480p",
                      "580p",
                      "720p"
                    ],
                    "default": "480p",
                    "description": "The resolution of the output video, where the number refers to the short side in pixels."
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "16:9",
                      "1:1",
                      "9:16"
                    ],
                    "default": "auto",
                    "description": "The aspect ratio of the generated video."
                  },
                  "num_inference_steps": {
                    "type": "integer",
                    "default": 30,
                    "description": "Number of inference steps for sampling. Higher values give better quality but take longer."
                  },
                  "guidance_scale": {
                    "type": "number",
                    "default": 5,
                    "description": "Classifier-free guidance scale. Controls prompt adherence / creativity."
                  },
                  "shift": {
                    "type": "number",
                    "default": 5,
                    "description": "Noise schedule shift parameter. Affects temporal dynamics."
                  },
                  "enable_safety_checker": {
                    "type": "boolean",
                    "description": "If set to true, the safety checker will be enabled."
                  },
                  "enable_prompt_expansion": {
                    "type": "boolean",
                    "description": "Whether to enable prompt expansion."
                  },
                  "preprocess": {
                    "type": "boolean",
                    "description": "Whether to preprocess the input video."
                  },
                  "acceleration": {
                    "type": "string",
                    "enum": [
                      "none",
                      "regular"
                    ],
                    "default": "regular",
                    "description": "Acceleration to use for inference."
                  },
                  "video_quality": {
                    "type": "string",
                    "enum": [
                      "low",
                      "medium",
                      "high",
                      "maximum"
                    ],
                    "default": "high",
                    "description": "The quality of the generated video."
                  },
                  "video_write_mode": {
                    "type": "string",
                    "enum": [
                      "fast",
                      "balanced",
                      "small"
                    ],
                    "default": "balanced",
                    "description": "The method used to write the video."
                  },
                  "num_interpolated_frames": {
                    "type": "integer",
                    "description": "Number of frames to interpolate between the original frames."
                  },
                  "temporal_downsample_factor": {
                    "type": "integer",
                    "description": "Temporal downsample factor for the video."
                  },
                  "enable_auto_downsample": {
                    "type": "boolean",
                    "description": "The minimum frames per second to downsample the video to."
                  },
                  "auto_downsample_min_fps": {
                    "type": "number",
                    "default": 15,
                    "description": "The minimum frames per second to downsample the video to."
                  },
                  "interpolator_model": {
                    "type": "string",
                    "enum": [
                      "rife",
                      "film"
                    ],
                    "default": "film",
                    "description": "The model to use for interpolation. Rife, or film are available."
                  },
                  "sync_mode": {
                    "type": "boolean",
                    "description": "The synchronization mode for audio and video. Loose or tight are available."
                  },
                  "zoom_factor": {
                    "type": "number",
                    "description": "Zoom factor for the video. When this value is greater than 0, the video will be zoomed in by this factor (in relation to the canvas size,) cutting off the edges of the video. A value of 0 means no zoom"
                  },
                  "trim_borders": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to trim borders from the video"
                  }
                },
                "required": [
                  "model",
                  "video_url"
                ],
                "title": "alibaba/wan2.2-vace-fun-a14b-reframe"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the generated video.",
                      "example": "60ac7c34-3224-4b14-8e7d-0aa0db708325"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "generating",
                        "completed",
                        "error"
                      ],
                      "description": "The current status of the generation task.",
                      "example": "completed"
                    },
                    "video": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL where the file can be downloaded from.",
                          "example": "https://cdn.aimlapi.com/generations/hedgehog/1759866285599-0cdfb138-c03a-49d4-a601-4f6413e27b15.mp4"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "message"
                      ],
                      "description": "Description of the error, if any."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "credits_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v2/video/generations', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      \"model\": \"alibaba/wan2.2-vace-fun-a14b-reframe\",\n      \"video_url\": \"https://zovi0.github.io/public_misc/kling-v2-master-t2v-racoon.mp4\",\n      \"prompt\": \"Add a small fairy as a rider on the raccoon’s back. She must have a black-and-golden face and a cloak in the colors of a dark emerald tropical butterfly with bright blue shimmering spots.\"\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v2/video/generations\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n      \"model\": \"alibaba/wan2.2-vace-fun-a14b-reframe\",\n      \"video_url\": \"https://zovi0.github.io/public_misc/kling-v2-master-t2v-racoon.mp4\",\n      \"prompt\": \"Add a small fairy as a rider on the raccoon’s back. She must have a black-and-golden face and a cloak in the colors of a dark emerald tropical butterfly with bright blue shimmering spots.\"\n    }\n)\n\ndata = response.json()\nprint(data)"
          },
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v2/video/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"alibaba/wan2.2-vace-fun-a14b-reframe\",\n      \"video_url\": \"https://zovi0.github.io/public_misc/kling-v2-master-t2v-racoon.mp4\",\n      \"prompt\": \"Add a small fairy as a rider on the raccoon’s back. She must have a black-and-golden face and a cloak in the colors of a dark emerald tropical butterfly with bright blue shimmering spots.\"\n    }'"
          },
          {
            "lang": "HTTP",
            "source": "POST /v2/video/generations HTTP/1.1\nHost: api.aimlapi.com\nAuthorization: Bearer <YOUR_AIMLAPI_KEY>\nContent-Type: application/json\nAccept: */*\n\n{\n  \"model\": \"alibaba/wan2.2-vace-fun-a14b-reframe\",\n  \"video_url\": \"https://zovi0.github.io/public_misc/kling-v2-master-t2v-racoon.mp4\",\n  \"prompt\": \"Add a small fairy as a rider on the raccoon’s back. She must have a black-and-golden face and a cloak in the colors of a dark emerald tropical butterfly with bright blue shimmering spots.\"\n}"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}