{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "operationId": "_v1_chat_completions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "anthracite-org/magnum-v4-72b"
                    ]
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "user"
                              ],
                              "description": "The role of the author of the message — in this case, the user"
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "text"
                                            ],
                                            "description": "The type of the content part."
                                          },
                                          "text": {
                                            "type": "string",
                                            "description": "The text content."
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "text"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "file"
                                            ],
                                            "description": "The type of the content part."
                                          },
                                          "file": {
                                            "type": "object",
                                            "properties": {
                                              "file_data": {
                                                "type": "string",
                                                "description": "The file data, encoded in base64 and passed to the model as a string. Only PDF format is supported.\n        - Maximum size per file: Up to 512 MB and up to 2 million tokens.\n        - Maximum number of files: Up to 20 files can be attached to a single GPT application or Assistant. This limit applies throughout the application's lifetime.\n        - Maximum total file storage per user: 10 GB."
                                              },
                                              "filename": {
                                                "type": "string",
                                                "description": "The file name specified by the user. This name can be used to reference the file when interacting with the model, especially if multiple files are uploaded."
                                              }
                                            }
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "file"
                                        ]
                                      }
                                    ]
                                  }
                                }
                              ],
                              "description": "The contents of the user message."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            }
                          },
                          "required": [
                            "role",
                            "content"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "text"
                                        ],
                                        "description": "The type of the content part."
                                      },
                                      "text": {
                                        "type": "string",
                                        "description": "The text content."
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text"
                                    ]
                                  }
                                }
                              ],
                              "description": "The contents of the developer message."
                            },
                            "role": {
                              "type": "string",
                              "enum": [
                                "developer"
                              ],
                              "description": "The role of the author of the message — in this case, the developer."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            }
                          },
                          "required": [
                            "content",
                            "role"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "system"
                              ],
                              "description": "The role of the author of the message — in this case, the system."
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "text"
                                        ],
                                        "description": "The type of the content part."
                                      },
                                      "text": {
                                        "type": "string",
                                        "description": "The text content."
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text"
                                    ]
                                  }
                                }
                              ],
                              "description": "The contents of the system message."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            }
                          },
                          "required": [
                            "role",
                            "content"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "assistant"
                              ],
                              "description": "The role of the author of the message — in this case, the Assistant."
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "description": "The contents of the Assistant message."
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "text"
                                        ],
                                        "description": "The type of the content part."
                                      },
                                      "text": {
                                        "type": "string",
                                        "description": "The text content."
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text"
                                    ]
                                  },
                                  "description": "An array of content parts with a defined type. Can be one or more of type text, or exactly one of type refusal."
                                }
                              ],
                              "description": "The contents of the Assistant message. Required unless tool_calls or function_call is specified."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            }
                          },
                          "required": [
                            "role"
                          ]
                        }
                      ]
                    },
                    "description": "A list of messages comprising the conversation so far. Depending on the model you use, different message types (modalities) are supported, like text, documents (txt, pdf), images, and audio."
                  },
                  "max_completion_tokens": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "An upper bound for the number of tokens that can be generated for a completion, including visible output tokens and reasoning tokens."
                  },
                  "max_tokens": {
                    "type": "number",
                    "minimum": 1,
                    "description": "The maximum number of tokens that can be generated in the chat completion. This value can be used to control costs for text generated via API."
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false,
                    "description": "If set to True, the model response data will be streamed to the client as it is generated using server-sent events."
                  },
                  "stream_options": {
                    "type": "object",
                    "properties": {
                      "include_usage": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "include_usage"
                    ]
                  },
                  "temperature": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 2,
                    "description": "What sampling temperature to use. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. We generally recommend altering this or top_p but not both."
                  },
                  "top_p": {
                    "type": "number",
                    "minimum": 0.01,
                    "maximum": 1,
                    "description": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered.\n  We generally recommend altering this or temperature but not both."
                  },
                  "seed": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "This feature is in Beta. If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same seed and parameters should return the same result."
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "nullable": true,
                    "minimum": -2,
                    "maximum": 2,
                    "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim."
                  },
                  "prediction": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "content"
                        ],
                        "description": "The type of the predicted content you want to provide."
                      },
                      "content": {
                        "anyOf": [
                          {
                            "type": "string",
                            "description": "The content used for a Predicted Output. This is often the text of a file you are regenerating with minor changes."
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "text"
                                  ],
                                  "description": "The type of the content part."
                                },
                                "text": {
                                  "type": "string",
                                  "description": "The text content."
                                }
                              },
                              "required": [
                                "type",
                                "text"
                              ]
                            },
                            "description": "An array of content parts with a defined type. Supported options differ based on the model being used to generate the response. Can contain text inputs."
                          }
                        ],
                        "description": "The content that should be matched when generating a model response. If generated tokens would match this content, the entire model response can be returned much more quickly."
                      }
                    },
                    "required": [
                      "type",
                      "content"
                    ],
                    "description": "Configuration for a Predicted Output, which can greatly improve response times when large parts of the model response are known ahead of time."
                  },
                  "presence_penalty": {
                    "type": "number",
                    "nullable": true,
                    "minimum": -2,
                    "maximum": 2,
                    "description": "Positive values penalize new tokens based on whether they appear in the text so far, increasing the model's likelihood to talk about new topics."
                  },
                  "stop": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "nullable": true
                      }
                    ],
                    "description": "Up to 4 sequences where the API will stop generating further tokens. The returned text will not contain the stop sequence."
                  },
                  "logit_bias": {
                    "type": "object",
                    "nullable": true,
                    "additionalProperties": {
                      "type": "number",
                      "minimum": -100,
                      "maximum": 100
                    },
                    "description": "Modify the likelihood of specified tokens appearing in the completion.\n  \n  Accepts a JSON object that maps tokens (specified by their token ID in the tokenizer) to an associated bias value from -100 to 100. Mathematically, the bias is added to the logits generated by the model prior to sampling. The exact effect will vary per model, but values between -1 and 1 should decrease or increase likelihood of selection; values like -100 or 100 should result in a ban or exclusive selection of the relevant token."
                  },
                  "response_format": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ],
                            "description": "The type of response format being defined. Always text."
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false,
                        "description": "Default response format. Used to generate text responses."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "json_object"
                            ],
                            "description": "The type of response format being defined. Always json_object."
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false,
                        "description": "An older method of generating JSON responses. Using json_schema is recommended for models that support it. Note that the model will not generate JSON without a system or user message instructing it to do so."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "json_schema"
                            ],
                            "description": "The type of response format being defined. Always json_schema."
                          },
                          "json_schema": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the response format. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64."
                              },
                              "schema": {
                                "type": "object",
                                "additionalProperties": {
                                  "nullable": true
                                },
                                "description": "The schema for the response format, described as a JSON Schema object."
                              },
                              "strict": {
                                "type": "boolean",
                                "nullable": true,
                                "description": "Whether to enable strict schema adherence when generating the output. If set to True, the model will always follow the exact schema defined in the schema field. Only a subset of JSON Schema is supported when strict is True."
                              },
                              "description": {
                                "type": "string",
                                "description": "A description of what the response format is for, used by the model to determine how to respond in the format."
                              }
                            },
                            "required": [
                              "name"
                            ],
                            "additionalProperties": false,
                            "description": "JSON Schema response format. Used to generate structured JSON responses."
                          }
                        },
                        "required": [
                          "type",
                          "json_schema"
                        ],
                        "additionalProperties": false,
                        "description": "JSON Schema response format. Used to generate structured JSON responses."
                      }
                    ],
                    "description": "An object specifying the format that the model must output."
                  },
                  "min_p": {
                    "type": "number",
                    "minimum": 0.001,
                    "maximum": 0.999,
                    "description": "A number between 0.001 and 0.999 that can be used as an alternative to top_p and top_k."
                  },
                  "top_k": {
                    "type": "number",
                    "description": "Only sample from the top K options for each subsequent token. Used to remove \"long tail\" low probability responses. Recommended for advanced use cases only. You usually only need to use temperature."
                  },
                  "repetition_penalty": {
                    "type": "number",
                    "nullable": true,
                    "description": "A number that controls the diversity of generated text by reducing the likelihood of repeated sequences. Higher values decrease repetition."
                  },
                  "top_a": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Alternate top sampling parameter."
                  }
                },
                "required": [
                  "model",
                  "messages"
                ],
                "title": "anthracite-org/magnum-v4-72b"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A unique identifier for the chat completion."
                    },
                    "object": {
                      "type": "string",
                      "const": "chat.completion",
                      "description": "The object type."
                    },
                    "created": {
                      "type": "number",
                      "description": "The Unix timestamp (in seconds) of when the chat completion was created."
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "number",
                            "description": "The index of the choice in the list of choices."
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string",
                                "description": "The role of the author of this message."
                              },
                              "content": {
                                "type": "string",
                                "description": "The contents of the message."
                              },
                              "refusal": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "The refusal message generated by the model."
                              },
                              "annotations": {
                                "anyOf": [
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "const": "url_citation",
                                          "description": "The type of the URL citation. Always url_citation."
                                        },
                                        "url_citation": {
                                          "type": "object",
                                          "properties": {
                                            "end_index": {
                                              "type": "integer",
                                              "description": "The index of the last character of the URL citation in the message."
                                            },
                                            "start_index": {
                                              "type": "integer",
                                              "description": "The index of the first character of the URL citation in the message."
                                            },
                                            "title": {
                                              "type": "string",
                                              "description": "The title of the web resource."
                                            },
                                            "url": {
                                              "type": "string",
                                              "description": "The URL of the web resource."
                                            }
                                          },
                                          "required": [
                                            "end_index",
                                            "start_index",
                                            "title",
                                            "url"
                                          ],
                                          "additionalProperties": false,
                                          "description": "A URL citation when using web search."
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "url_citation"
                                      ],
                                      "additionalProperties": false
                                    }
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Annotations for the message, when applicable, as when using the web search tool."
                              },
                              "audio": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "Unique identifier for this audio response."
                                      },
                                      "data": {
                                        "type": "string",
                                        "description": "Base64 encoded audio bytes generated by the model, in the format specified in the request."
                                      },
                                      "transcript": {
                                        "type": "string",
                                        "description": "Transcript of the audio generated by the model."
                                      },
                                      "expires_at": {
                                        "type": "integer",
                                        "description": "The Unix timestamp (in seconds) for when this audio response will no longer be accessible on the server for use in multi-turn conversations."
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "data",
                                      "transcript",
                                      "expires_at"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "A chat completion message generated by the model."
                              },
                              "tool_calls": {
                                "anyOf": [
                                  {
                                    "type": "array",
                                    "items": {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "string",
                                              "description": "The ID of the tool call."
                                            },
                                            "type": {
                                              "type": "string",
                                              "const": "function",
                                              "description": "The type of the tool."
                                            },
                                            "function": {
                                              "type": "object",
                                              "properties": {
                                                "arguments": {
                                                  "type": "string",
                                                  "description": "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                                                },
                                                "name": {
                                                  "type": "string",
                                                  "description": "The name of the function to call."
                                                }
                                              },
                                              "required": [
                                                "arguments",
                                                "name"
                                              ],
                                              "additionalProperties": false,
                                              "description": "The function that the model called."
                                            }
                                          },
                                          "required": [
                                            "id",
                                            "type",
                                            "function"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "string",
                                              "description": "The ID of the tool call."
                                            },
                                            "type": {
                                              "type": "string",
                                              "const": "custom",
                                              "description": "The type of the tool."
                                            },
                                            "custom": {
                                              "type": "object",
                                              "properties": {
                                                "input": {
                                                  "type": "string",
                                                  "description": "The input for the custom tool call generated by the model."
                                                },
                                                "name": {
                                                  "type": "string",
                                                  "description": "The name of the custom tool to call."
                                                }
                                              },
                                              "required": [
                                                "input",
                                                "name"
                                              ],
                                              "additionalProperties": false,
                                              "description": "The custom tool that the model called."
                                            }
                                          },
                                          "required": [
                                            "id",
                                            "type",
                                            "custom"
                                          ],
                                          "additionalProperties": false
                                        }
                                      ]
                                    }
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "The tool calls generated by the model, such as function calls."
                              }
                            },
                            "required": [
                              "role",
                              "content"
                            ],
                            "additionalProperties": false,
                            "description": "A chat completion message generated by the model."
                          },
                          "finish_reason": {
                            "type": "string",
                            "enum": [
                              "stop",
                              "length",
                              "content_filter",
                              "tool_calls"
                            ],
                            "description": "The reason the model stopped generating tokens. This will be stop if the model hit a natural stop point or a provided stop sequence, length if the maximum number of tokens specified in the request was reached, content_filter if content was omitted due to a flag from our content filters, tool_calls if the model called a tool"
                          },
                          "logprobs": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "bytes": {
                                          "type": "array",
                                          "items": {
                                            "type": "integer"
                                          },
                                          "description": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be null if there is no bytes representation for the token."
                                        },
                                        "logprob": {
                                          "type": "number",
                                          "description": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value -9999.0 is used to signify that the token is very unlikely."
                                        },
                                        "token": {
                                          "type": "string",
                                          "description": "The token."
                                        },
                                        "top_logprobs": {
                                          "anyOf": [
                                            {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "bytes": {
                                                    "anyOf": [
                                                      {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "integer"
                                                        }
                                                      },
                                                      {
                                                        "type": "null"
                                                      }
                                                    ],
                                                    "description": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be null if there is no bytes representation for the token."
                                                  },
                                                  "logprob": {
                                                    "type": "number",
                                                    "description": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value -9999.0 is used to signify that the token is very unlikely."
                                                  },
                                                  "token": {
                                                    "type": "string",
                                                    "description": "The token."
                                                  }
                                                },
                                                "required": [
                                                  "logprob",
                                                  "token"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ],
                                          "description": "List of the most likely tokens and their log probability, at this token position. In rare cases, there may be fewer than the number of requested top_logprobs returned."
                                        }
                                      },
                                      "required": [
                                        "bytes",
                                        "logprob",
                                        "token"
                                      ],
                                      "additionalProperties": false
                                    },
                                    "description": "A list of message content tokens with log probability information."
                                  },
                                  "refusal": {
                                    "type": "array",
                                    "items": {
                                      "$ref": "#/properties/choices/items/properties/logprobs/anyOf/0/properties/content/items"
                                    },
                                    "description": "A list of message refusal tokens with log probability information."
                                  }
                                },
                                "required": [
                                  "content",
                                  "refusal"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Log probability information for the choice."
                          }
                        },
                        "required": [
                          "index",
                          "message",
                          "finish_reason"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "model": {
                      "type": "string",
                      "description": "The model used for the chat completion."
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": {
                          "type": "number",
                          "description": "Number of tokens in the prompt."
                        },
                        "completion_tokens": {
                          "type": "number",
                          "description": "Number of tokens in the generated completion."
                        },
                        "total_tokens": {
                          "type": "number",
                          "description": "Total number of tokens used in the request (prompt + completion)."
                        },
                        "completion_tokens_details": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "accepted_prediction_tokens": {
                                  "anyOf": [
                                    {
                                      "type": "integer"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ],
                                  "description": "When using Predicted Outputs, the number of tokens in the prediction that appeared in the completion."
                                },
                                "audio_tokens": {
                                  "anyOf": [
                                    {
                                      "type": "integer"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ],
                                  "description": "Audio input tokens generated by the model."
                                },
                                "reasoning_tokens": {
                                  "anyOf": [
                                    {
                                      "type": "integer"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ],
                                  "description": "Tokens generated by the model for reasoning."
                                },
                                "rejected_prediction_tokens": {
                                  "anyOf": [
                                    {
                                      "type": "integer"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ],
                                  "description": "When using Predicted Outputs, the number of tokens in the prediction that did not appear in the completion. However, like reasoning tokens, these tokens are still counted in the total completion tokens for purposes of billing, output, and context window limits."
                                }
                              },
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Breakdown of tokens used in a completion."
                        },
                        "prompt_tokens_details": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "audio_tokens": {
                                  "anyOf": [
                                    {
                                      "type": "integer"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ],
                                  "description": "Audio input tokens present in the prompt."
                                },
                                "cached_tokens": {
                                  "anyOf": [
                                    {
                                      "type": "integer"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ],
                                  "description": "Cached tokens present in the prompt."
                                }
                              },
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Breakdown of tokens used in the prompt."
                        }
                      },
                      "required": [
                        "prompt_tokens",
                        "completion_tokens",
                        "total_tokens"
                      ],
                      "additionalProperties": false,
                      "description": "Usage statistics for the completion request."
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "created",
                    "choices",
                    "model",
                    "usage"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A unique identifier for the chat completion."
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "delta": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "string",
                                    "description": "The contents of the chunk message."
                                  },
                                  "refusal": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "description": "The refusal message generated by the model."
                                  },
                                  "role": {
                                    "type": "string",
                                    "enum": [
                                      "user",
                                      "assistant",
                                      "developer",
                                      "system",
                                      "tool"
                                    ],
                                    "description": "The role of the author of this message."
                                  },
                                  "tool_calls": {
                                    "anyOf": [
                                      {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "index": {
                                              "type": "number"
                                            },
                                            "id": {
                                              "type": "string",
                                              "description": "The ID of the tool call."
                                            },
                                            "function": {
                                              "type": "object",
                                              "properties": {
                                                "arguments": {
                                                  "type": "string",
                                                  "description": "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                                                },
                                                "name": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "arguments",
                                                "name"
                                              ],
                                              "additionalProperties": false,
                                              "description": "The function that the model called."
                                            },
                                            "type": {
                                              "type": "string",
                                              "const": "function",
                                              "description": "The type of the tool."
                                            }
                                          },
                                          "required": [
                                            "index",
                                            "id",
                                            "function",
                                            "type"
                                          ],
                                          "additionalProperties": false
                                        }
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ],
                                    "description": "The tool calls generated by the model, such as function calls."
                                  }
                                },
                                "required": [
                                  "content",
                                  "role"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "A chat completion delta generated by streamed model responses."
                          },
                          "finish_reason": {
                            "type": "string",
                            "enum": [
                              "length",
                              "function_call",
                              "stop",
                              "tool_calls",
                              "content_filter"
                            ]
                          },
                          "index": {
                            "type": "number",
                            "description": "The index of the choice in the list of choices."
                          },
                          "logprobs": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "token": {
                                          "type": "string",
                                          "description": "The token."
                                        },
                                        "bytes": {
                                          "type": "array",
                                          "items": {
                                            "type": "number"
                                          },
                                          "description": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be null if there is no bytes representation for the token."
                                        },
                                        "logprob": {
                                          "type": "number",
                                          "description": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value -9999.0 is used to signify that the token is very unlikely."
                                        },
                                        "top_logprobs": {
                                          "anyOf": [
                                            {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "token": {
                                                    "type": "string",
                                                    "description": "The token."
                                                  },
                                                  "bytes": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "number"
                                                    },
                                                    "description": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be null if there is no bytes representation for the token."
                                                  },
                                                  "logprob": {
                                                    "type": "number",
                                                    "description": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value -9999.0 is used to signify that the token is very unlikely."
                                                  }
                                                },
                                                "required": [
                                                  "token",
                                                  "bytes",
                                                  "logprob"
                                                ],
                                                "additionalProperties": false
                                              }
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ],
                                          "description": "List of the most likely tokens and their log probability, at this token position. In rare cases, there may be fewer than the number of requested top_logprobs returned."
                                        }
                                      },
                                      "required": [
                                        "token",
                                        "bytes",
                                        "logprob"
                                      ],
                                      "additionalProperties": false
                                    }
                                  },
                                  "refusal": {
                                    "type": "array",
                                    "items": {
                                      "$ref": "#/properties/choices/items/properties/logprobs/anyOf/0/properties/content/items"
                                    }
                                  }
                                },
                                "required": [
                                  "content",
                                  "refusal"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Log probability information for the choice."
                          }
                        },
                        "required": [
                          "finish_reason",
                          "index"
                        ],
                        "additionalProperties": false
                      },
                      "description": "A list of chat completion choices. Can be more than one if n is greater than 1."
                    },
                    "created": {
                      "type": "number",
                      "description": "The Unix timestamp (in seconds) of when the chat completion was created."
                    },
                    "model": {
                      "type": "string",
                      "description": "The model used for the chat completion."
                    },
                    "object": {
                      "type": "string",
                      "const": "chat.completion.chunk",
                      "description": "The object type."
                    },
                    "service_tier": {
                      "anyOf": [
                        {
                          "type": "string",
                          "enum": [
                            "auto",
                            "default",
                            "flex",
                            "scale",
                            "priority"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Specifies the processing type used for serving the request."
                    },
                    "usage": {
                      "anyOf": [
                        {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "prompt_tokens": {
                                  "type": "number",
                                  "description": "Number of tokens in the prompt."
                                },
                                "completion_tokens": {
                                  "type": "number",
                                  "description": "Number of tokens in the generated completion."
                                },
                                "total_tokens": {
                                  "type": "number",
                                  "description": "Total number of tokens used in the request (prompt + completion)."
                                },
                                "completion_tokens_details": {
                                  "anyOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "accepted_prediction_tokens": {
                                          "anyOf": [
                                            {
                                              "type": "integer"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ],
                                          "description": "When using Predicted Outputs, the number of tokens in the prediction that appeared in the completion."
                                        },
                                        "audio_tokens": {
                                          "anyOf": [
                                            {
                                              "type": "integer"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ],
                                          "description": "Audio input tokens generated by the model."
                                        },
                                        "reasoning_tokens": {
                                          "anyOf": [
                                            {
                                              "type": "integer"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ],
                                          "description": "Tokens generated by the model for reasoning."
                                        },
                                        "rejected_prediction_tokens": {
                                          "anyOf": [
                                            {
                                              "type": "integer"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ],
                                          "description": "When using Predicted Outputs, the number of tokens in the prediction that did not appear in the completion. However, like reasoning tokens, these tokens are still counted in the total completion tokens for purposes of billing, output, and context window limits."
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ],
                                  "description": "Breakdown of tokens used in a completion."
                                },
                                "prompt_tokens_details": {
                                  "anyOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "audio_tokens": {
                                          "anyOf": [
                                            {
                                              "type": "integer"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ],
                                          "description": "Audio input tokens present in the prompt."
                                        },
                                        "cached_tokens": {
                                          "anyOf": [
                                            {
                                              "type": "integer"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ],
                                          "description": "Cached tokens present in the prompt."
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ],
                                  "description": "Breakdown of tokens used in the prompt."
                                }
                              },
                              "required": [
                                "prompt_tokens",
                                "completion_tokens",
                                "total_tokens"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Usage statistics for the completion request."
                    }
                  },
                  "required": [
                    "id",
                    "choices",
                    "created",
                    "model",
                    "object"
                  ],
                  "additionalProperties": false,
                  "$schema": "http://json-schema.org/draft-07/schema#"
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v1/chat/completions', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: 'anthracite-org/magnum-v4-72b',\n      messages:[\n          {\n              role:'user',\n              content: 'Hello'\n          }\n      ],\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v1/chat/completions\",\n    headers={\n        \"Content-Type\":\"application/json\", \n        \"Authorization\":\"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n        \"model\":\"anthracite-org/magnum-v4-72b\",\n        \"messages\":[\n            {\n                \"role\":\"user\",\n                \"content\":\"Hello\"\n            }\n        ],\n    }\n)\n\ndata = response.json()\nprint(data)"
          },
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v1/chat/completions' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"model\": \"anthracite-org/magnum-v4-72b\",\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": \"hi\"\n      }\n    ]\n  }'"
          },
          {
            "lang": "HTTP",
            "source": "POST /v1/chat/completions HTTP/1.1\nHost: api.aimlapi.com\nAuthorization: Bearer <YOUR_AIMLAPI_KEY>\nContent-Type: application/json\nAccept: */*\nContent-Length: 59\n\n{\n  \"model\": \"anthracite-org/magnum-v4-72b\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"hi\"\n    }\n  ]\n}"
          }
        ]
      }
    },
    "/chat/completions": {
      "post": {
        "operationId": "_chat_completions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "anthracite-org/magnum-v4-72b"
                    ]
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "user"
                              ],
                              "description": "The role of the author of the message — in this case, the user"
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "text"
                                            ],
                                            "description": "The type of the content part."
                                          },
                                          "text": {
                                            "type": "string",
                                            "description": "The text content."
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "text"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "file"
                                            ],
                                            "description": "The type of the content part."
                                          },
                                          "file": {
                                            "type": "object",
                                            "properties": {
                                              "file_data": {
                                                "type": "string",
                                                "description": "The file data, encoded in base64 and passed to the model as a string. Only PDF format is supported.\n        - Maximum size per file: Up to 512 MB and up to 2 million tokens.\n        - Maximum number of files: Up to 20 files can be attached to a single GPT application or Assistant. This limit applies throughout the application's lifetime.\n        - Maximum total file storage per user: 10 GB."
                                              },
                                              "filename": {
                                                "type": "string",
                                                "description": "The file name specified by the user. This name can be used to reference the file when interacting with the model, especially if multiple files are uploaded."
                                              }
                                            }
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "file"
                                        ]
                                      }
                                    ]
                                  }
                                }
                              ],
                              "description": "The contents of the user message."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            }
                          },
                          "required": [
                            "role",
                            "content"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "text"
                                        ],
                                        "description": "The type of the content part."
                                      },
                                      "text": {
                                        "type": "string",
                                        "description": "The text content."
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text"
                                    ]
                                  }
                                }
                              ],
                              "description": "The contents of the developer message."
                            },
                            "role": {
                              "type": "string",
                              "enum": [
                                "developer"
                              ],
                              "description": "The role of the author of the message — in this case, the developer."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            }
                          },
                          "required": [
                            "content",
                            "role"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "system"
                              ],
                              "description": "The role of the author of the message — in this case, the system."
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "text"
                                        ],
                                        "description": "The type of the content part."
                                      },
                                      "text": {
                                        "type": "string",
                                        "description": "The text content."
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text"
                                    ]
                                  }
                                }
                              ],
                              "description": "The contents of the system message."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            }
                          },
                          "required": [
                            "role",
                            "content"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "enum": [
                                "assistant"
                              ],
                              "description": "The role of the author of the message — in this case, the Assistant."
                            },
                            "content": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "description": "The contents of the Assistant message."
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "text"
                                        ],
                                        "description": "The type of the content part."
                                      },
                                      "text": {
                                        "type": "string",
                                        "description": "The text content."
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text"
                                    ]
                                  },
                                  "description": "An array of content parts with a defined type. Can be one or more of type text, or exactly one of type refusal."
                                }
                              ],
                              "description": "The contents of the Assistant message. Required unless tool_calls or function_call is specified."
                            },
                            "name": {
                              "type": "string",
                              "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                            }
                          },
                          "required": [
                            "role"
                          ]
                        }
                      ]
                    },
                    "description": "A list of messages comprising the conversation so far. Depending on the model you use, different message types (modalities) are supported, like text, documents (txt, pdf), images, and audio."
                  },
                  "max_completion_tokens": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "An upper bound for the number of tokens that can be generated for a completion, including visible output tokens and reasoning tokens."
                  },
                  "max_tokens": {
                    "type": "number",
                    "minimum": 1,
                    "description": "The maximum number of tokens that can be generated in the chat completion. This value can be used to control costs for text generated via API."
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false,
                    "description": "If set to True, the model response data will be streamed to the client as it is generated using server-sent events."
                  },
                  "stream_options": {
                    "type": "object",
                    "properties": {
                      "include_usage": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "include_usage"
                    ]
                  },
                  "temperature": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 2,
                    "description": "What sampling temperature to use. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. We generally recommend altering this or top_p but not both."
                  },
                  "top_p": {
                    "type": "number",
                    "minimum": 0.01,
                    "maximum": 1,
                    "description": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered.\n  We generally recommend altering this or temperature but not both."
                  },
                  "seed": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "This feature is in Beta. If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same seed and parameters should return the same result."
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "nullable": true,
                    "minimum": -2,
                    "maximum": 2,
                    "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim."
                  },
                  "prediction": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "content"
                        ],
                        "description": "The type of the predicted content you want to provide."
                      },
                      "content": {
                        "anyOf": [
                          {
                            "type": "string",
                            "description": "The content used for a Predicted Output. This is often the text of a file you are regenerating with minor changes."
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "text"
                                  ],
                                  "description": "The type of the content part."
                                },
                                "text": {
                                  "type": "string",
                                  "description": "The text content."
                                }
                              },
                              "required": [
                                "type",
                                "text"
                              ]
                            },
                            "description": "An array of content parts with a defined type. Supported options differ based on the model being used to generate the response. Can contain text inputs."
                          }
                        ],
                        "description": "The content that should be matched when generating a model response. If generated tokens would match this content, the entire model response can be returned much more quickly."
                      }
                    },
                    "required": [
                      "type",
                      "content"
                    ],
                    "description": "Configuration for a Predicted Output, which can greatly improve response times when large parts of the model response are known ahead of time."
                  },
                  "presence_penalty": {
                    "type": "number",
                    "nullable": true,
                    "minimum": -2,
                    "maximum": 2,
                    "description": "Positive values penalize new tokens based on whether they appear in the text so far, increasing the model's likelihood to talk about new topics."
                  },
                  "stop": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "nullable": true
                      }
                    ],
                    "description": "Up to 4 sequences where the API will stop generating further tokens. The returned text will not contain the stop sequence."
                  },
                  "logit_bias": {
                    "type": "object",
                    "nullable": true,
                    "additionalProperties": {
                      "type": "number",
                      "minimum": -100,
                      "maximum": 100
                    },
                    "description": "Modify the likelihood of specified tokens appearing in the completion.\n  \n  Accepts a JSON object that maps tokens (specified by their token ID in the tokenizer) to an associated bias value from -100 to 100. Mathematically, the bias is added to the logits generated by the model prior to sampling. The exact effect will vary per model, but values between -1 and 1 should decrease or increase likelihood of selection; values like -100 or 100 should result in a ban or exclusive selection of the relevant token."
                  },
                  "response_format": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "text"
                            ],
                            "description": "The type of response format being defined. Always text."
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false,
                        "description": "Default response format. Used to generate text responses."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "json_object"
                            ],
                            "description": "The type of response format being defined. Always json_object."
                          }
                        },
                        "required": [
                          "type"
                        ],
                        "additionalProperties": false,
                        "description": "An older method of generating JSON responses. Using json_schema is recommended for models that support it. Note that the model will not generate JSON without a system or user message instructing it to do so."
                      },
                      {
[...]
