{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/stt/create": {
      "post": {
        "operationId": "_v1_stt_create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "aai/universal"
                    ]
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the input audio file."
                  },
                  "audio": {
                    "type": "object",
                    "properties": {
                      "buffer": {
                        "anyOf": [
                          {
                            "nullable": true
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "Buffer"
                                ]
                              },
                              "data": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              }
                            },
                            "required": [
                              "type",
                              "data"
                            ]
                          },
                          {
                            "nullable": true
                          }
                        ]
                      },
                      "mimetype": {
                        "type": "string"
                      },
                      "size": {
                        "type": "integer"
                      },
                      "originalname": {
                        "type": "string"
                      },
                      "encoding": {
                        "type": "string"
                      },
                      "fieldname": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "mimetype",
                      "originalname",
                      "encoding",
                      "fieldname"
                    ],
                    "description": "The audio file to transcribe.",
                    "format": "binary"
                  },
                  "audio_start_from": {
                    "type": "integer",
                    "nullable": true,
                    "description": "The point in time, in milliseconds, in the file at which the transcription was started."
                  },
                  "audio_end_at": {
                    "type": "integer",
                    "nullable": true,
                    "description": "The point in time, in milliseconds, in the file at which the transcription was terminated."
                  },
                  "language_code": {
                    "type": "string",
                    "description": "The language of your audio file. Possible values are found in Supported Languages. The default value is 'en_us'."
                  },
                  "language_confidence_threshold": {
                    "type": "number",
                    "nullable": true,
                    "minimum": 0,
                    "maximum": 1,
                    "description": "The confidence threshold for the automatically detected language. An error will be returned if the language confidence is below this threshold. Defaults to 0."
                  },
                  "language_detection": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Enable Automatic language detection, either true or false. Available for universal model only."
                  },
                  "punctuate": {
                    "type": "boolean",
                    "nullable": true,
                    "default": null,
                    "description": "Adds punctuation and capitalization to the transcript"
                  },
                  "format_text": {
                    "type": "boolean",
                    "nullable": true,
                    "default": true,
                    "description": "Enable Text Formatting, can be true or false."
                  },
                  "disfluencies": {
                    "type": "boolean",
                    "nullable": true,
                    "default": false,
                    "description": "Transcribe Filler Words, like \"umm\", in your media file; can be true or false."
                  },
                  "multichannel": {
                    "type": "boolean",
                    "nullable": true,
                    "default": false,
                    "description": "Enable Multichannel transcription, can be true or false."
                  },
                  "speaker_labels": {
                    "type": "boolean",
                    "nullable": true,
                    "default": null,
                    "description": "Enable Speaker diarization, can be true or false."
                  },
                  "speakers_expected": {
                    "type": "integer",
                    "nullable": true,
                    "default": null,
                    "description": "Tell the speaker label model how many speakers it should attempt to identify. See Speaker diarization for more details."
                  },
                  "content_safety": {
                    "type": "boolean",
                    "nullable": true,
                    "default": false,
                    "description": "Enable Content Moderation, can be true or false."
                  },
                  "iab_categories": {
                    "type": "boolean",
                    "nullable": true,
                    "default": false,
                    "description": "Enable Topic Detection, can be true or false."
                  },
                  "custom_spelling": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "from": {
                          "type": "string"
                        },
                        "to": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "from",
                        "to"
                      ]
                    },
                    "description": "Customize how words are spelled and formatted using to and from values."
                  },
                  "auto_highlights": {
                    "type": "boolean",
                    "nullable": true,
                    "default": false,
                    "description": "Enable Key Phrases, either true or false."
                  },
                  "word_boost": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The list of custom vocabulary to boost transcription probability for."
                  },
                  "boost_param": {
                    "type": "string",
                    "enum": [
                      "low",
                      "default",
                      "high"
                    ],
                    "description": "How much to boost specified words. Allowed values: low, default, high."
                  },
                  "filter_profanity": {
                    "type": "boolean",
                    "nullable": true,
                    "default": false,
                    "description": "Filter profanity from the transcribed text, can be true or false."
                  },
                  "redact_pii": {
                    "type": "boolean",
                    "nullable": true,
                    "default": false,
                    "description": "Redact PII from the transcribed text using the Redact PII model, can be true or false."
                  },
                  "redact_pii_audio": {
                    "type": "boolean",
                    "nullable": true,
                    "default": false,
                    "description": "Generate a copy of the original media file with spoken PII \"beeped\" out, can be true or false. See PII redaction for more details."
                  },
                  "redact_pii_audio_quality": {
                    "type": "string",
                    "enum": [
                      "mp3",
                      "wav"
                    ],
                    "description": "Controls the filetype of the audio created by redact_pii_audio. Currently supports mp3 (default) and wav. See PII redaction for more details."
                  },
                  "redact_pii_policies": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "account_number",
                        "banking_information",
                        "blood_type",
                        "credit_card_cvv",
                        "credit_card_expiration",
                        "credit_card_number",
                        "date",
                        "date_interval",
                        "date_of_birth",
                        "drivers_license",
                        "drug",
                        "duration",
                        "email_address",
                        "event",
                        "filename",
                        "gender_sexuality",
                        "healthcare_number",
                        "injury",
                        "ip_address",
                        "language",
                        "location",
                        "marital_status",
                        "medical_condition",
                        "medical_process",
                        "money_amount",
                        "nationality",
                        "number_sequence",
                        "occupation",
                        "organization",
                        "passport_number",
                        "password",
                        "person_age",
                        "person_name",
                        "phone_number",
                        "physical_attribute",
                        "political_affiliation",
                        "religion",
                        "statistics",
                        "time",
                        "url",
                        "us_social_security_number",
                        "username",
                        "vehicle_id",
                        "zodiac_sign"
                      ]
                    },
                    "description": "The list of PII Redaction policies to enable. See PII redaction for more details."
                  },
                  "redact_pii_sub": {
                    "type": "string",
                    "enum": [
                      "entity_name",
                      "hash"
                    ],
                    "description": "The replacement logic for detected PII, can be `entity_type` or `hash`. See PII redaction for more details."
                  },
                  "sentiment_analysis": {
                    "type": "boolean",
                    "nullable": true,
                    "default": false,
                    "description": "Enable Sentiment Analysis, can be true or false."
                  },
                  "entity_detection": {
                    "type": "boolean",
                    "nullable": true,
                    "default": false,
                    "description": "Enable Entity Detection, can be true or false."
                  },
                  "summarization": {
                    "type": "boolean",
                    "nullable": true,
                    "default": false,
                    "description": "Enable Summarization, can be true or false."
                  },
                  "summary_model": {
                    "type": "string",
                    "enum": [
                      "informative",
                      "conversational",
                      "catchy"
                    ],
                    "description": "The model to summarize the transcript. Allowed values: informative, conversational, catchy."
                  },
                  "summary_type": {
                    "type": "string",
                    "enum": [
                      "bullets",
                      "bullets_verbose",
                      "gist",
                      "headline",
                      "paragraph"
                    ],
                    "description": "The type of summary. Allowed values: bullets, bullets_verbose, gist, headline, paragraph."
                  },
                  "auto_chapters": {
                    "type": "boolean",
                    "nullable": true,
                    "default": false,
                    "description": "Enable Auto Chapters, either true or false."
                  },
                  "speech_threshold": {
                    "type": "number",
                    "nullable": true,
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Reject audio files that contain less than this fraction of speech. Valid values are in the range [0, 1] inclusive."
                  }
                },
                "required": [
                  "model"
                ],
                "title": "aai/universal"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "generation_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "generation_id"
                  ]
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v1/stt/create' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"aai/universal\",\n      \"url\": \"https://audio-samples.github.io/samples/mp3/blizzard_primed/sample-0.mp3\"\n    }'"
          },
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v1/stt/create', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      \"model\": \"aai/universal\",\n      \"url\": \"https://audio-samples.github.io/samples/mp3/blizzard_primed/sample-0.mp3\"\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v1/stt/create\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n      \"model\": \"aai/universal\",\n      \"url\": \"https://audio-samples.github.io/samples/mp3/blizzard_primed/sample-0.mp3\"\n    }\n)\n\ndata = response.json()\nprint(data)"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}