.snippet-viewer-footer {
  display: flex;
  align-items: center;
  background-color: #30363b;
  border-radius: 0px 0px 4px 4px;

  font-family: Inter, sans-serif;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px -1px 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;

  padding: 0.25rem 0.25rem;
  gap: 0.5rem;
}

.snippet-viewer-footer__link {
  color: #9ecbff;
  margin-left: auto;
}

.snippet-viewer-footer__link > svg {
  transform: translateY(3px);
  margin-left: 0.25rem;
}

.snippet-viewer-footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.1rem 0.25rem;

  background-color: #24292e;
  min-width: 80px;

  border: 0;

  color: #9ecbff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;

  transform: scale(1);
  transition: transform 0.1s ease-out, color 0.1s ease-out, background-color 0.1s ease-out, outline 0.1s ease-out;

  box-shadow: #9ecbff5b 0px 0px 2px;
}

.snippet-viewer-footer__btn:hover:not(:active) {
  color: #24292e;
  background-color: #9ecbff;
}
.snippet-viewer-footer__btn:active {
  transform: scale(0.9);
}
