{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v2/video/generations": {
      "post": {
        "operationId": "_v2_video_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "google/veo3-1-extend-video"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "The text description of the scene, subject, or action to generate in the video."
                  },
                  "video_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "A HTTPS URL pointing to a video or a data URI containing a video. This video will be used as a reference during generation."
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "16:9",
                      "9:16"
                    ],
                    "default": "auto",
                    "description": "The aspect ratio of the generated video."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "The length of the output video in seconds.",
                    "enum": [
                      7
                    ],
                    "default": "7"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "720p"
                    ],
                    "default": "720p"
                  },
                  "generate_audio": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to generate audio for the video."
                  },
                  "auto_fix": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to automatically attempt to fix prompts that fail content policy or other validation checks by rewriting them."
                  }
                },
                "required": [
                  "model",
                  "prompt",
                  "video_url"
                ],
                "title": "google/veo3-1-extend-video"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the generated video.",
                      "example": "60ac7c34-3224-4b14-8e7d-0aa0db708325"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "generating",
                        "completed",
                        "error"
                      ],
                      "description": "The current status of the generation task.",
                      "example": "completed"
                    },
                    "video": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL where the file can be downloaded from.",
                          "example": "https://cdn.aimlapi.com/generations/hedgehog/1759866285599-0cdfb138-c03a-49d4-a601-4f6413e27b15.mp4"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "message"
                      ],
                      "description": "Description of the error, if any."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "credits_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v2/video/generations', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      \"model\": \"google/veo3-1-extend-video\",\n      \"video_url\": \"https://zovi0.github.io/public_misc/kling-v2-master-t2v-racoon.mp4\",\n      \"prompt\": \"Add a small fairy as a rider on the raccoon’s back. She must have a black-and-golden face and a cloak in the colors of a dark emerald tropical butterfly with bright blue shimmering spots.\"\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v2/video/generations\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n      \"model\": \"google/veo3-1-extend-video\",\n      \"video_url\": \"https://zovi0.github.io/public_misc/kling-v2-master-t2v-racoon.mp4\",\n      \"prompt\": \"Add a small fairy as a rider on the raccoon’s back. She must have a black-and-golden face and a cloak in the colors of a dark emerald tropical butterfly with bright blue shimmering spots.\"\n    }\n)\n\ndata = response.json()\nprint(data)"
          },
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v2/video/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"google/veo3-1-extend-video\",\n      \"video_url\": \"https://zovi0.github.io/public_misc/kling-v2-master-t2v-racoon.mp4\",\n      \"prompt\": \"Add a small fairy as a rider on the raccoon’s back. She must have a black-and-golden face and a cloak in the colors of a dark emerald tropical butterfly with bright blue shimmering spots.\"\n    }'"
          },
          {
            "lang": "HTTP",
            "source": "POST /v2/video/generations HTTP/1.1\nHost: api.aimlapi.com\nAuthorization: Bearer <YOUR_AIMLAPI_KEY>\nContent-Type: application/json\nAccept: */*\n\n{\n  \"model\": \"google/veo3-1-extend-video\",\n  \"video_url\": \"https://zovi0.github.io/public_misc/kling-v2-master-t2v-racoon.mp4\",\n  \"prompt\": \"Add a small fairy as a rider on the raccoon’s back. She must have a black-and-golden face and a cloak in the colors of a dark emerald tropical butterfly with bright blue shimmering spots.\"\n}"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}