{
  "paths": {
    "/v2/video/generations": {
      "get": {
        "x-hideTryItPanel": true,
        "operationId": "VideoControllerV2_pollVideo_v2",
        "parameters": [
          {
            "name": "generation_id",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated video",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Video.v2.PollVideoResponseDTO"
                }
              }
            }
          }
        },
        "tags": [
          "Video Models"
        ]
      }
    }
  },
  "openapi": "3.0.0",
  "info": {
    "title": "AI/ML Gateway",
    "description": "",
    "version": "1.0",
    "contact": {}
  },
  "tags": [],
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    },
    "schemas": {
      "Video.v2.PollVideoResponseDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the generated video.",
            "example": "60ac7c34-3224-4b14-8e7d-0aa0db708325"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "generating",
              "completed",
              "error"
            ],
            "description": "The current status of the generation task.",
            "example": "completed"
          },
          "video": {
            "type": "object",
            "nullable": true,
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "The URL where the file can be downloaded from.",
                "example": "https://cdn.aimlapi.com/generations/hedgehog/1759866285599-0cdfb138-c03a-49d4-a601-4f6413e27b15.mp4"
              },
              "duration": {
                "type": "number",
                "nullable": true,
                "description": "The duration of the video.",
                "example": 8
              }
            },
            "required": [
              "url"
            ]
          },
          "duration": {
            "type": "number",
            "nullable": true,
            "description": "The duration of the video.",
            "example": 8
          },
          "error": {
            "nullable": true,
            "description": "Description of the error, if any."
          },
          "meta": {
            "type": "object",
            "nullable": true,
            "properties": {
              "usage": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "tokens_used": {
                    "type": "number",
                    "description": "The number of tokens consumed during generation.",
                    "example": 120000
                  }
                },
                "required": [
                  "tokens_used"
                ]
              }
            },
            "description": "Additional details about the generation."
          }
        },
        "required": [
          "id",
          "status"
        ]
      },
      "Video.v2.PollVideoDTO": {
        "type": "object",
        "properties": {
          "generation_id": {
            "type": "string"
          }
        },
        "required": [
          "generation_id"
        ]
      },
      "Google.v2.PollGenerationPayloadDTO": {
        "type": "object",
        "properties": {
          "generation_id": {
            "type": "string"
          }
        },
        "required": [
          "generation_id"
        ]
      },
      "Bytedance.v2.SubmitGenerationPayloadDTO": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "enum": [
                  "bytedance/seedance-1-0-lite-t2v"
                ]
              },
              "prompt": {
                "type": "string",
                "description": "The text description of the scene, subject, or action to generate in the video."
              },
              "resolution": {
                "type": "string",
                "enum": [
                  "480p",
                  "720p"
                ],
                "default": "720p",
                "description": "An enumeration where the short side of the video frame determines the resolution."
              },
              "aspect_ratio": {
                "type": "string",
                "enum": [
                  "16:9",
                  "4:3",
                  "1:1",
                  "3:4",
                  "9:16"
                ],
                "default": "16:9",
                "description": "The aspect ratio of the generated video."
              },
              "duration": {
                "type": "integer",
                "description": "The length of the output video in seconds.",
                "enum": [
                  5,
                  10
                ]
              },
              "seed": {
                "type": "integer",
                "description": "Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen."
              },
              "camera_fixed": {
                "type": "boolean",
                "default": false,
                "description": "Whether to fix the camera position.\n- true: Fix the camera position. The platform will append instructions to fix the camera position in the user's prompt, but the actual effect is not guaranteed.\n- false: Do not fix the camera position."
              },
              "watermark": {
                "type": "boolean",
                "default": false,
                "description": "Whether the video contains a watermark.",
                "deprecated": true
              }
            },
            "required": [
              "model",
              "prompt"
            ]
          },
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "enum": [
                  "bytedance/seedance-1-0-pro-t2v"
                ]
              },
              "prompt": {
                "type": "string",
                "description": "The text description of the scene, subject, or action to generate in the video."
              },
              "resolution": {
                "type": "string",
                "enum": [
                  "480p",
                  "720p"
                ],
                "default": "720p",
                "description": "An enumeration where the short side of the video frame determines the resolution."
              },
              "aspect_ratio": {
                "type": "string",
                "enum": [
                  "16:9",
                  "4:3",
                  "1:1",
                  "3:4",
                  "9:16"
                ],
                "default": "16:9",
                "description": "The aspect ratio of the generated video."
              },
              "duration": {
                "type": "integer",
                "description": "The length of the output video in seconds.",
                "enum": [
                  5,
                  10
                ]
              },
              "seed": {
                "type": "integer",
                "description": "Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen."
              },
              "camera_fixed": {
                "type": "boolean",
                "default": false,
                "description": "Whether to fix the camera position.\n- true: Fix the camera position. The platform will append instructions to fix the camera position in the user's prompt, but the actual effect is not guaranteed.\n- false: Do not fix the camera position."
              },
              "watermark": {
                "type": "boolean",
                "default": false,
                "description": "Whether the video contains a watermark.",
                "deprecated": true
              }
            },
            "required": [
              "model",
              "prompt"
            ]
          },
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "enum": [
                  "bytedance/seedance-1-0-lite-i2v"
                ]
              },
              "image_url": {
                "type": "string",
                "format": "uri",
                "description": "A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video."
              },
              "prompt": {
                "type": "string",
                "description": "The text description of the scene, subject, or action to generate in the video."
              },
              "resolution": {
                "type": "string",
                "enum": [
                  "480p",
                  "720p"
                ],
                "default": "720p",
                "description": "An enumeration where the short side of the video frame determines the resolution."
              },
              "duration": {
                "type": "integer",
                "description": "The length of the output video in seconds.",
                "enum": [
                  5,
                  10
                ]
              },
              "seed": {
                "type": "integer",
                "description": "Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen."
              },
              "camera_fixed": {
                "type": "boolean",
                "default": false,
                "description": "Whether to fix the camera position.\n- true: Fix the camera position. The platform will append instructions to fix the camera position in the user's prompt, but the actual effect is not guaranteed.\n- false: Do not fix the camera position."
              },
              "watermark": {
                "type": "boolean",
                "default": false,
                "description": "Whether the video contains a watermark.",
                "deprecated": true
              }
            },
            "required": [
              "model",
              "image_url",
              "prompt"
            ]
          },
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "enum": [
                  "bytedance/seedance-1-0-pro-i2v"
                ]
              },
              "image_url": {
                "type": "string",
                "format": "uri",
                "description": "A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video."
              },
              "prompt": {
                "type": "string",
                "description": "The text description of the scene, subject, or action to generate in the video."
              },
              "resolution": {
                "type": "string",
                "enum": [
                  "480p",
                  "720p"
                ],
                "default": "720p",
                "description": "An enumeration where the short side of the video frame determines the resolution."
              },
              "duration": {
                "type": "integer",
                "description": "The length of the output video in seconds.",
                "enum": [
                  5,
                  10
                ]
              },
              "seed": {
                "type": "integer",
                "description": "Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen."
              },
              "camera_fixed": {
                "type": "boolean",
                "default": false,
                "description": "Whether to fix the camera position.\n- true: Fix the camera position. The platform will append instructions to fix the camera position in the user's prompt, but the actual effect is not guaranteed.\n- false: Do not fix the camera position."
              },
              "watermark": {
                "type": "boolean",
                "default": false,
                "description": "Whether the video contains a watermark.",
                "deprecated": true
              }
            },
            "required": [
              "model",
              "image_url",
              "prompt"
            ]
          },
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "enum": [
                  "bytedance/seedance-1-0-pro-fast"
                ]
              },
              "image_url": {
                "type": "string",
                "format": "uri",
                "description": "A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video."
              },
              "prompt": {
                "type": "string",
                "description": "The text description of the scene, subject, or action to generate in the video."
              },
              "resolution": {
                "type": "string",
                "enum": [
                  "480p",
                  "720p"
                ],
                "default": "720p",
                "description": "An enumeration where the short side of the video frame determines the resolution."
              },
              "aspect_ratio": {
                "type": "string",
                "enum": [
                  "16:9",
                  "4:3",
                  "1:1",
                  "3:4",
                  "9:16"
                ],
                "default": "16:9",
                "description": "The aspect ratio of the generated video."
              },
              "duration": {
                "type": "integer",
                "description": "The length of the output video in seconds.",
                "enum": [
                  5,
                  10
                ]
              },
              "seed": {
                "type": "integer",
                "description": "Varying the seed integer is a way to get different results for the same other request parameters. Using the same value for an identical request will produce similar results. If unspecified, a random number is chosen."
              },
              "camera_fixed": {
                "type": "boolean",
                "default": false,
                "description": "Whether to fix the camera position.\n- true: Fix the camera position. The platform will append instructions to fix the camera position in the user's prompt, but the actual effect is not guaranteed.\n- false: Do not fix the camera position."
              }
            },
            "required": [
              "model",
              "prompt"
            ]
          }
        ]
      },
      "Bytedance.v2.PollGenerationPayloadDTO": {
        "type": "object",
        "properties": {
          "generation_id": {
            "type": "string"
          }
        },
        "required": [
          "generation_id"
        ]
      },
      "Pixverse.v2.SubmitGenerationPayloadDTO": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/Pixverse.v2.pixverseTransition"
          },
          {
            "$ref": "#/components/schemas/Pixverse.v2.pixverseImageToVideo"
          },
          {
            "$ref": "#/components/schemas/Pixverse.v2.pixverseTextToVideo"
          }
        ],
        "discriminator": {
          "propertyName": "model",
          "mapping": {
            "pixverse/v5/transition": "#/components/schemas/Pixverse.v2.pixverseTransition",
            "pixverse/v5/image-to-video": "#/components/schemas/Pixverse.v2.pixverseImageToVideo",
            "pixverse/v5/text-to-video": "#/components/schemas/Pixverse.v2.pixverseTextToVideo"
          }
        }
      },
      "Pixverse.v2.PollGenerationPayloadDTO": {
        "type": "object",
        "properties": {
          "generation_id": {
            "type": "string"
          }
        },
        "required": [
          "generation_id"
        ]
      },
      "Audio.v2.SubmitGenerationPayloadDTO": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "enum": [
                  "elevenlabs/eleven_music"
                ]
              },
              "prompt": {
                "type": "string",
                "maxLength": 2000,
                "description": "A text description that can define the genre, mood, instruments, vocals, tempo, structure, and even lyrics of the track. It can be high-level (“peaceful meditation with voiceover”) or detailed (“solo piano in C minor, 90 BPM, raw and emotional”). Use keywords to control genre, emotional tone, vocals (e.g., a cappella, two singers harmonizing), structure (e.g., “lyrics begin at 15 seconds”), or provide custom lyrics directly in the prompt."
              },
              "music_length_ms": {
                "type": "integer",
                "minimum": 10000,
                "maximum": 300000,
                "default": 10000,
                "description": "The length of the song to generate in milliseconds. This parameter may not always be respected by the model, and the actual audio length can differ."
              }
            },
            "required": [
              "model",
              "prompt"
            ]
          },
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "enum": [
                  "stable-audio"
                ]
              },
              "prompt": {
                "type": "string",
                "description": "The prompt to generate audio."
              },
              "seconds_start": {
                "type": "integer",
                "maximum": 47,
                "minimum": 1,
                "description": "The start point of the audio clip to generate."
              },
              "seconds_total": {
                "type": "integer",
                "maximum": 47,
                "minimum": 1,
                "default": 30,
                "description": "The duration of the audio clip to generate."
              },
              "steps": {
                "type": "integer",
                "minimum": 1,
                "maximum": 1000,
                "default": 100,
                "description": "The number of steps to denoise the audio."
              }
            },
            "required": [
              "model",
              "prompt"
            ]
          },
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "enum": [
                  "minimax-music"
                ]
              },
              "prompt": {
                "type": "string",
                "description": "Lyrics with optional formatting. You can use a newline to separate each line of lyrics. You can use two newlines to add a pause between lines. You can use double hash marks (##) at the beginning and end of the lyrics to add accompaniment. Maximum 600 characters."
              },
              "reference_audio_url": {
                "type": "string",
                "format": "uri",
                "description": "Reference song, should contain music and vocals. Must be a .wav or .mp3 file longer than 15 seconds."
              }
            },
            "required": [
              "model",
              "prompt",
              "reference_audio_url"
            ]
          },
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "enum": [
                  "google/lyria2"
                ]
              },
              "prompt": {
                "type": "string",
                "description": "The prompt to generate audio."
              },
              "negative_prompt": {
                "type": "string",
                "description": "A description of what to exclude from the generated audio"
              },
              "seed": {
                "type": "integer",
                "minimum": 0,
                "description": "A seed for deterministic generation. If provided, the model will attempt to produce the same audio given the same prompt and other parameters."
              }
            },
            "required": [
              "model",
              "prompt"
            ]
          },
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "enum": [
                  "minimax/music-1.5"
                ]
              },
              "prompt": {
                "type": "string",
                "minLength": 10,
                "maxLength": 300,
                "description": "A description of the music, specifying style, mood, and scenario. Length: 10–300 characters."
              },
              "lyrics": {
                "type": "string",
                "minLength": 10,
                "maxLength": 3000,
                "description": "Lyrics of the song. Use (\n) to separate lines. You may add structure tags like [Intro], [Verse], [Chorus], [Bridge], [Outro] to enhance the arrangement. Length: 10–3000 characters.",
                "example": "[Verse]\nStreetlights flicker, the night breeze sighs\nShadows stretch as I walk alone\nAn old coat wraps my silent sorrow\nWandering, longing, where should I go\n[Chorus]\nPushing the wooden door, the aroma spreads\nIn a familiar corner, a stranger gazes"
              },
              "audio_setting": {
                "type": "object",
                "properties": {
                  "sample_rate": {
                    "type": "integer",
                    "description": "The sampling rate of the generated music.",
                    "enum": [
                      16000,
                      24000,
                      32000,
                      44100
                    ]
                  },
                  "bitrate": {
                    "type": "integer",
                    "description": "The bit rate of the generated music.",
                    "enum": [
                      32000,
                      64000,
                      128000,
                      256000
                    ]
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "mp3",
                      "wav",
                      "pcm"
                    ],
                    "description": "The format of the generated music."
                  }
                },
                "required": [
                  "format"
                ]
              }
            },
            "required": [
              "model",
              "prompt",
              "lyrics"
            ]
          },
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "enum": [
                  "minimax/music-2.0"
                ]
              },
              "prompt": {
                "type": "string",
                "minLength": 10,
                "maxLength": 2000,
                "description": "A description of the music, specifying style, mood, and scenario. Length: 10–2000 characters."
              },
              "lyrics": {
                "type": "string",
                "minLength": 10,
                "maxLength": 3000,
                "description": "Lyrics of the song. Use (\n) to separate lines. You may add structure tags like [Intro], [Verse], [Chorus], [Bridge], [Outro] to enhance the arrangement. Length: 10–3000 characters.",
                "example": "[Verse]\nStreetlights flicker, the night breeze sighs\nShadows stretch as I walk alone\nAn old coat wraps my silent sorrow\nWandering, longing, where should I go\n[Chorus]\nPushing the wooden door, the aroma spreads\nIn a familiar corner, a stranger gazes"
              },
              "audio_setting": {
                "type": "object",
                "properties": {
                  "sample_rate": {
                    "type": "integer",
                    "description": "The sampling rate of the generated music.",
                    "enum": [
                      16000,
                      24000,
                      32000,
                      44100
                    ]
                  },
                  "bitrate": {
                    "type": "integer",
                    "description": "The bit rate of the generated music.",
                    "enum": [
                      32000,
                      64000,
                      128000,
                      256000
                    ]
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "mp3",
                      "wav",
                      "pcm"
                    ],
                    "description": "The format of the generated music."
                  }
                },
                "required": [
                  "format"
                ]
              }
            },
            "required": [
              "model",
              "prompt",
              "lyrics"
            ]
          }
        ]
      },
      "Audio.v2.SubmitGenerationResponseDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the generated audio.",
            "example": "60ac7c34-3224-4b14-8e7d-0aa0db708325"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "generating",
              "completed",
              "error"
            ],
            "description": "The current status of the generation task.",
            "example": "queued"
          },
          "meta": {
            "type": "object",
            "nullable": true,
            "properties": {
              "usage": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "tokens_used": {
                    "type": "number",
                    "description": "The number of tokens consumed during generation.",
                    "example": 120000
                  }
                },
                "required": [
                  "tokens_used"
                ]
              }
            },
            "description": "Additional details about the generation."
          }
        },
        "required": [
          "id",
          "status"
        ]
      },
      "Audio.v2.PollGenerationPayloadDTO": {
        "type": "object",
        "properties": {
          "generation_id": {
            "type": "string"
          }
        },
        "required": [
          "generation_id"
        ]
      },
      "Audio.v2.PollGenerationResponseDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the generated audio.",
            "example": "60ac7c34-3224-4b14-8e7d-0aa0db708325"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "generating",
              "completed",
              "error"
            ],
            "description": "The current status of the generation task.",
            "example": "completed"
          },
          "audio_file": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "The URL where the file can be downloaded from.",
                "example": "https://cdn.aimlapi.com/generations/hippopotamus/1757963033314-8ca7729d-b78c-4d4c-9ef9-89b2fb3d07e8.mp3"
              }
            },
            "required": [
              "url"
            ]
          },
          "error": {
            "nullable": true,
            "description": "Description of the error, if any."
          }
        },
        "required": [
          "id",
          "status"
        ]
      }
    }
  }
}