.snippet-viewer-tab {
  color: white;
  background-color: #24292e;
  padding: 0.25rem 0.5rem;
  border: 0px solid;
  border-bottom: 1.5px solid transparent;

  cursor: pointer;
  transition: border-color 0.1s ease-out, color 0.1s ease-out;
  user-select: none;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.snippet-viewer-tab:last-child {
  border-radius: 0px 4px 0px 0px;
}

.snippet-viewer-tab:first-child {
  border-radius: 4px 0px 0px 0px;
}

.snippet-viewer-tab_active {
  color: #9ecbff;
  border-bottom: 1.5px solid #9ecbff;
}
