{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/tts": {
      "post": {
        "operationId": "_v1_tts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "elevenlabs/eleven_multilingual_v2"
                    ]
                  },
                  "text": {
                    "type": "string",
                    "description": "The text content to be converted to speech."
                  },
                  "voice": {
                    "type": "string",
                    "enum": [
                      "Rachel",
                      "Drew",
                      "Clyde",
                      "Paul",
                      "Aria",
                      "Domi",
                      "Dave",
                      "Roger",
                      "Fin",
                      "Sarah",
                      "Antoni",
                      "Laura",
                      "Thomas",
                      "Charlie",
                      "George",
                      "Emily",
                      "Elli",
                      "Callum",
                      "Patrick",
                      "River",
                      "Harry",
                      "Liam",
                      "Dorothy",
                      "Josh",
                      "Arnold",
                      "Charlotte",
                      "Alice",
                      "Matilda",
                      "James",
                      "Joseph",
                      "Will",
                      "Jeremy",
                      "Jessica",
                      "Eric",
                      "Michael",
                      "Ethan",
                      "Chris",
                      "Gigi",
                      "Freya",
                      "Santa Claus",
                      "Brian",
                      "Grace",
                      "Daniel",
                      "Lily",
                      "Serena",
                      "Adam",
                      "Nicole",
                      "Bill",
                      "Jessie",
                      "Sam",
                      "Glinda",
                      "Giovanni",
                      "Mimi"
                    ],
                    "default": "Rachel",
                    "description": "Name of the voice to be used."
                  },
                  "apply_text_normalization": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "on",
                      "off"
                    ],
                    "description": "This parameter controls text normalization with three modes: 'auto', 'on', and 'off'. When set to 'auto', the system will automatically decide whether to apply text normalization (e.g., spelling out numbers). With 'on', text normalization will always be applied, while with 'off', it will be skipped."
                  },
                  "output_format": {
                    "type": "string",
                    "enum": [
                      "mp3_22050_32",
                      "mp3_44100_32",
                      "mp3_44100_64",
                      "mp3_44100_96",
                      "mp3_44100_128",
                      "mp3_44100_192",
                      "pcm_8000",
                      "pcm_16000",
                      "pcm_22050",
                      "pcm_24000",
                      "pcm_44100",
                      "pcm_48000",
                      "ulaw_8000",
                      "alaw_8000",
                      "opus_48000_32",
                      "opus_48000_64",
                      "opus_48000_96",
                      "opus_48000_128",
                      "opus_48000_192"
                    ],
                    "description": "Format of the output content for non-streaming requests. Controls how the generated audio data is encoded in the response."
                  },
                  "voice_settings": {
                    "type": "object",
                    "properties": {
                      "stability": {
                        "type": "number",
                        "description": "Determines how stable the voice is and the randomness between each generation. Lower values introduce broader emotional range for the voice. Higher values can result in a monotonous voice with limited emotion."
                      },
                      "use_speaker_boost": {
                        "type": "boolean",
                        "description": "This setting boosts the similarity to the original speaker. Using this setting requires a slightly higher computational load, which in turn increases latency."
                      },
                      "similarity_boost": {
                        "type": "number",
                        "description": "Determines how closely the AI should adhere to the original voice when attempting to replicate it."
                      },
                      "style": {
                        "type": "number",
                        "description": "Determines the style exaggeration of the voice. This setting attempts to amplify the style of the original speaker. It does consume additional computational resources and might increase latency if set to anything other than 0."
                      },
                      "speed": {
                        "type": "number",
                        "description": "Adjusts the speed of the voice. A value of 1.0 is the default speed, while values less than 1.0 slow down the speech, and values greater than 1.0 speed it up."
                      }
                    },
                    "description": "Voice settings overriding stored settings for the given voice. They are applied only on the given request."
                  },
                  "seed": {
                    "type": "integer",
                    "description": "If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same seed and parameters should return the same result. Determinism is not guaranteed."
                  },
                  "stream": {
                    "type": "boolean",
                    "default": true
                  },
                  "next_text": {
                    "type": "string",
                    "description": "The text that comes after the text of the current request. Can be used to improve the speech's continuity when concatenating together multiple generations or to influence the speech's continuity in the current generation."
                  },
                  "previous_text": {
                    "type": "string",
                    "description": "The text that came before the text of the current request. Can be used to improve the speech's continuity when concatenating together multiple generations or to influence the speech's continuity in the current generation."
                  }
                },
                "required": [
                  "model",
                  "text"
                ],
                "title": "elevenlabs/eleven_multilingual_v2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "audio": {
                      "type": "string",
                      "format": "uri"
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "credits_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  },
                  "required": [
                    "audio"
                  ]
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Audio stream"
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v1/tts' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"elevenlabs/eleven_multilingual_v2\",\n      \"text\": \"Hello\"\n    }'"
          },
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v1/tts', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      \"model\": \"elevenlabs/eleven_multilingual_v2\",\n      \"text\": \"Hello\"\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v1/tts\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n      \"model\": \"elevenlabs/eleven_multilingual_v2\",\n      \"text\": \"Hello\"\n    }\n)\n\ndata = response.json()\nprint(data)"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}