{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v2/video/generations": {
      "post": {
        "operationId": "_v2_video_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "minimax/h3"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "maxLength": 7000,
                    "description": "The text description of the scene, subject, or action to generate in the video."
                  },
                  "image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "A direct link to an online image or a Base64-encoded local image that will serve as the first frame for the video.\nImage specifications: \n- format must be JPG, JPEG, or PNG; \n- aspect ratio should be greater than 2:5 and less than 5:2; \n- the shorter side must exceed 300 pixels; \n- file size must not exceed 20MB."
                  },
                  "last_image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "A direct link to an online image or a Base64-encoded local image to be used as the last frame of the video."
                  },
                  "reference_image_urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "maxItems": 9,
                    "description": "Passing an image reference allows the model to emulate the style or content of the reference in the output."
                  },
                  "video_urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "maxItems": 3,
                    "description": "Passing a video reference allows the model to emulate the style or content of the reference in the output."
                  },
                  "audio_urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "maxItems": 3,
                    "description": "Reference audio clips whose voice timbre the generated speech follows. Cannot be the only reference — pass at least one reference image or video alongside."
                  },
                  "duration": {
                    "type": "integer",
                    "minimum": 4,
                    "maximum": 15,
                    "default": 6,
                    "description": "The length of the output video in seconds."
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "2K"
                    ],
                    "default": "2K",
                    "description": "The resolution of the output video, where the number refers to the short side in pixels."
                  },
                  "ratio": {
                    "type": "string",
                    "enum": [
                      "adaptive",
                      "21:9",
                      "16:9",
                      "4:3",
                      "1:1",
                      "3:4",
                      "9:16"
                    ],
                    "default": "adaptive",
                    "description": "The aspect ratio of the generated video. Defaults to `adaptive`, which follows the first/last frame or reference input; text-only generation cannot be `adaptive` and defaults to `16:9` instead."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ],
                "title": "minimax/h3"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the generated video.",
                      "example": "60ac7c34-3224-4b14-8e7d-0aa0db708325"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "generating",
                        "completed",
                        "error"
                      ],
                      "description": "The current status of the generation task.",
                      "example": "completed"
                    },
                    "video": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL where the file can be downloaded from.",
                          "example": "https://cdn.aimlapi.com/generations/hedgehog/1759866285599-0cdfb138-c03a-49d4-a601-4f6413e27b15.mp4"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "message"
                      ],
                      "description": "Description of the error, if any."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            },
                            "usd_spent": {
                              "type": "number",
                              "description": "The total amount of money spent by the user in USD.",
                              "example": 0.06
                            }
                          },
                          "required": [
                            "credits_used",
                            "usd_spent"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            },
            "description": "Successful response."
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request POST \\\n  --url 'https://api.aimlapi.com/v2/video/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\"model\": \"minimax/h3\", \"prompt\": \"Describe what you want the model to generate.\", \"image_url\": \"https://example.com/input.jpg\", \"duration\": 6}'"
          },
          {
            "lang": "JavaScript",
            "source": "const response = await fetch('https://api.aimlapi.com/v2/video/generations', {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n  \"model\": \"minimax/h3\",\n  \"prompt\": \"Describe what you want the model to generate.\",\n  \"image_url\": \"https://example.com/input.jpg\",\n  \"duration\": 6\n}),\n});\n\nconsole.log(await response.json());"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v2/video/generations\",\n    headers={\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n        \"Content-Type\": \"application/json\",\n    },\n    json={'model': 'minimax/h3', 'prompt': 'Describe what you want the model to generate.', 'image_url': 'https://example.com/input.jpg', 'duration': 6},\n)\n\nprint(response.json())"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}
