{"openapi":"3.0.0","info":{"title":"AIML API","version":"1.0.0"},"servers":[{"url":"https://api.aimlapi.com"}],"paths":{"/v2/video/generations":{"post":{"operationId":"_v2_video_generations","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"model":{"type":"string","enum":["klingai/video-o1-video-to-video-reference"]},"prompt":{"type":"string","maxLength":2500,"description":"The text description of the scene, subject, or action to generate in the video."},"video_url":{"type":"string","format":"uri","description":"A HTTPS URL pointing to a video or a data URI containing a video. This video will be used as a reference during generation."},"image_list":{"type":"array","items":{"type":"string","format":"uri"},"minItems":1,"maxItems":4,"description":"Array of image URLs for multi-image-to-video generation."},"aspect_ratio":{"type":"string","enum":["16:9","9:16","1:1"],"default":"16:9","description":"The aspect ratio of the generated video."},"duration":{"type":"integer","description":"The length of the output video in seconds.","enum":[5,10],"default":"5"},"elements":{"type":"array","items":{"type":"object","properties":{"reference_image_urls":{"type":"array","items":{"type":"string","format":"uri"},"minItems":1,"maxItems":4,"description":"Additional reference images from different angles."},"frontal_image_url":{"type":"string","format":"uri","description":"The frontal image of the element (main view)."}},"required":["reference_image_urls","frontal_image_url"]},"maxItems":4,"description":"Elements (characters/objects) to include in the video."},"keep_audio":{"type":"boolean","default":false,"description":"Whether to keep the original audio from the video."}},"required":["model","prompt","video_url"],"title":"klingai/video-o1-video-to-video-reference"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the generated video.","example":"60ac7c34-3224-4b14-8e7d-0aa0db708325"},"status":{"type":"string","enum":["queued","generating","completed","error"],"description":"The current status of the generation task.","example":"completed"},"video":{"type":"object","nullable":true,"properties":{"url":{"type":"string","format":"uri","description":"The URL where the file can be downloaded from.","example":"https://cdn.aimlapi.com/generations/hedgehog/1759866285599-0cdfb138-c03a-49d4-a601-4f6413e27b15.mp4"}},"required":["url"]},"error":{"type":"object","nullable":true,"properties":{"name":{"type":"string"},"message":{"type":"string"}},"required":["name","message"],"description":"Description of the error, if any."},"meta":{"type":"object","nullable":true,"properties":{"usage":{"type":"object","nullable":true,"properties":{"credits_used":{"type":"number","description":"The number of tokens consumed during generation.","example":120000}},"required":["credits_used"]}},"description":"Additional details about the generation."}},"required":["id","status"]}}}}}}},"/v1/video/generations":{"post":{"operationId":"_v1_video_generations","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"model":{"type":"string","enum":["klingai/video-o1-video-to-video-reference"]},"prompt":{"type":"string","maxLength":2500,"description":"The text description of the scene, subject, or action to generate in the video."},"video_url":{"type":"string","format":"uri","description":"A HTTPS URL pointing to a video or a data URI containing a video. This video will be used as a reference during generation."},"image_list":{"type":"array","items":{"type":"string","format":"uri"},"minItems":1,"maxItems":4,"description":"Array of image URLs for multi-image-to-video generation."},"aspect_ratio":{"type":"string","enum":["16:9","9:16","1:1"],"default":"16:9","description":"The aspect ratio of the generated video."},"duration":{"type":"integer","description":"The length of the output video in seconds.","enum":[5,10],"default":"5"},"elements":{"type":"array","items":{"type":"object","properties":{"reference_image_urls":{"type":"array","items":{"type":"string","format":"uri"},"minItems":1,"maxItems":4,"description":"Additional reference images from different angles."},"frontal_image_url":{"type":"string","format":"uri","description":"The frontal image of the element (main view)."}},"required":["reference_image_urls","frontal_image_url"]},"maxItems":4,"description":"Elements (characters/objects) to include in the video."},"keep_audio":{"type":"boolean","default":false,"description":"Whether to keep the original audio from the video."}},"required":["model","prompt","video_url"],"title":"klingai/video-o1-video-to-video-reference"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the generated video.","example":"60ac7c34-3224-4b14-8e7d-0aa0db708325"},"status":{"type":"string","enum":["queued","generating","completed","error"],"description":"The current status of the generation task.","example":"completed"},"video":{"type":"object","nullable":true,"properties":{"url":{"type":"string","format":"uri","description":"The URL where the file can be downloaded from.","example":"https://cdn.aimlapi.com/generations/hedgehog/1759866285599-0cdfb138-c03a-49d4-a601-4f6413e27b15.mp4"}},"required":["url"]},"error":{"type":"object","nullable":true,"properties":{"name":{"type":"string"},"message":{"type":"string"}},"required":["name","message"],"description":"Description of the error, if any."},"meta":{"type":"object","nullable":true,"properties":{"usage":{"type":"object","nullable":true,"properties":{"credits_used":{"type":"number","description":"The number of tokens consumed during generation.","example":120000}},"required":["credits_used"]}},"description":"Additional details about the generation."}},"required":["id","status"]}}}}}}},"/video/generations":{"post":{"operationId":"_video_generations","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"model":{"type":"string","enum":["klingai/video-o1-video-to-video-reference"]},"prompt":{"type":"string","maxLength":2500,"description":"The text description of the scene, subject, or action to generate in the video."},"video_url":{"type":"string","format":"uri","description":"A HTTPS URL pointing to a video or a data URI containing a video. This video will be used as a reference during generation."},"image_list":{"type":"array","items":{"type":"string","format":"uri"},"minItems":1,"maxItems":4,"description":"Array of image URLs for multi-image-to-video generation."},"aspect_ratio":{"type":"string","enum":["16:9","9:16","1:1"],"default":"16:9","description":"The aspect ratio of the generated video."},"duration":{"type":"integer","description":"The length of the output video in seconds.","enum":[5,10],"default":"5"},"elements":{"type":"array","items":{"type":"object","properties":{"reference_image_urls":{"type":"array","items":{"type":"string","format":"uri"},"minItems":1,"maxItems":4,"description":"Additional reference images from different angles."},"frontal_image_url":{"type":"string","format":"uri","description":"The frontal image of the element (main view)."}},"required":["reference_image_urls","frontal_image_url"]},"maxItems":4,"description":"Elements (characters/objects) to include in the video."},"keep_audio":{"type":"boolean","default":false,"description":"Whether to keep the original audio from the video."}},"required":["model","prompt","video_url"],"title":"klingai/video-o1-video-to-video-reference"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the generated video.","example":"60ac7c34-3224-4b14-8e7d-0aa0db708325"},"status":{"type":"string","enum":["queued","generating","completed","error"],"description":"The current status of the generation task.","example":"completed"},"video":{"type":"object","nullable":true,"properties":{"url":{"type":"string","format":"uri","description":"The URL where the file can be downloaded from.","example":"https://cdn.aimlapi.com/generations/hedgehog/1759866285599-0cdfb138-c03a-49d4-a601-4f6413e27b15.mp4"}},"required":["url"]},"error":{"type":"object","nullable":true,"properties":{"name":{"type":"string"},"message":{"type":"string"}},"required":["name","message"],"description":"Description of the error, if any."},"meta":{"type":"object","nullable":true,"properties":{"usage":{"type":"object","nullable":true,"properties":{"credits_used":{"type":"number","description":"The number of tokens consumed during generation.","example":120000}},"required":["credits_used"]}},"description":"Additional details about the generation."}},"required":["id","status"]}}}}}}}}}