{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v2/video/generations": {
      "post": {
        "operationId": "_v2_video_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "klingai/kling-video-v1.6-standard-effects"
                    ]
                  },
                  "image_url": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "uri"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    ],
                    "description": "For hug, kiss, and heart_gesture effects, pass an array containing exactly two image URLs. For squish or expansion, only one image URL is required."
                  },
                  "effect_scene": {
                    "type": "string",
                    "enum": [
                      "magic_fireball",
                      "pet_moto_rider",
                      "media_interview",
                      "pet_lion",
                      "pet_delivery",
                      "pet_chef",
                      "santa_gifts",
                      "santa_hug",
                      "girlfriend",
                      "boyfriend",
                      "heart_gesture_1",
                      "pet_wizard",
                      "smoke_smoke",
                      "thumbs_up",
                      "instant_kid",
                      "dollar_rain",
                      "cry_cry",
                      "building_collapse",
                      "gun_shot",
                      "mushroom",
                      "double_gun",
                      "pet_warrior",
                      "lightning_power",
                      "jesus_hug",
                      "shark_alert",
                      "long_hair",
                      "lie_flat",
                      "polar_bear_hug",
                      "brown_bear_hug",
                      "jazz_jazz",
                      "office_escape_plow",
                      "fly_fly",
                      "watermelon_bomb",
                      "pet_dance",
                      "boss_coming",
                      "wool_curly",
                      "iron_warrior",
                      "pet_bee",
                      "marry_me",
                      "swing_swing",
                      "day_to_night",
                      "piggy_morph",
                      "wig_out",
                      "car_explosion",
                      "ski_ski",
                      "tiger_hug",
                      "siblings",
                      "construction_worker",
                      "let's_ride",
                      "snatched",
                      "magic_broom",
                      "felt_felt",
                      "jumpdrop",
                      "celebration",
                      "splashsplash",
                      "hula",
                      "surfsurf",
                      "fairy_wing",
                      "angel_wing",
                      "dark_wing",
                      "skateskate",
                      "plushcut",
                      "jelly_press",
                      "jelly_slice",
                      "jelly_squish",
                      "jelly_jiggle",
                      "pixelpixel",
                      "yearbook",
                      "instant_film",
                      "anime_figure",
                      "rocketrocket",
                      "bloombloom",
                      "dizzydizzy",
                      "fuzzyfuzzy",
                      "squish",
                      "expansion",
                      "hug",
                      "kiss",
                      "heart_gesture",
                      "fight"
                    ],
                    "description": "Video effect scene type"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "The length of the output video in seconds.",
                    "enum": [
                      5,
                      10
                    ],
                    "default": "5"
                  }
                },
                "required": [
                  "model",
                  "image_url",
                  "effect_scene"
                ],
                "title": "klingai/kling-video-v1.6-standard-effects"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the generated video.",
                      "example": "60ac7c34-3224-4b14-8e7d-0aa0db708325"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "generating",
                        "completed",
                        "error"
                      ],
                      "description": "The current status of the generation task.",
                      "example": "completed"
                    },
                    "video": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL where the file can be downloaded from.",
                          "example": "https://cdn.aimlapi.com/generations/hedgehog/1759866285599-0cdfb138-c03a-49d4-a601-4f6413e27b15.mp4"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "message"
                      ],
                      "description": "Description of the error, if any."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "credits_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v2/video/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"klingai/kling-video-v1.6-standard-effects\",\n      \"image_url\": [\n        \"https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg\",\n        \"https://storage.googleapis.com/falserverless/juggernaut_examples/QEW5VrzccxGva7mPfEXjf.png\"\n      ],\n      \"effect_scene\": \"heart_gesture\"\n    }'"
          },
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v2/video/generations', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      \"model\": \"klingai/kling-video-v1.6-standard-effects\",\n      \"image_url\": [\n        \"https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg\",\n        \"https://storage.googleapis.com/falserverless/juggernaut_examples/QEW5VrzccxGva7mPfEXjf.png\"\n      ],\n      \"effect_scene\": \"heart_gesture\"\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v2/video/generations\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n      \"model\": \"klingai/kling-video-v1.6-standard-effects\",\n      \"image_url\": [\n        \"https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg\",\n        \"https://storage.googleapis.com/falserverless/juggernaut_examples/QEW5VrzccxGva7mPfEXjf.png\"\n      ],\n      \"effect_scene\": \"heart_gesture\"\n    }\n)\n\ndata = response.json()\nprint(data)"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}