{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v2/video/generations": {
      "post": {
        "operationId": "_v2_video_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "klingai/v2-master-image-to-video"
                    ]
                  },
                  "image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "The text description of the scene, subject, or action to generate in the video."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "The length of the output video in seconds.",
                    "enum": [
                      5,
                      10
                    ],
                    "default": "5"
                  },
                  "negative_prompt": {
                    "type": "string",
                    "description": "The description of elements to avoid in the generated video."
                  },
                  "cfg_scale": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "The CFG (Classifier Free Guidance) scale is a measure of how close you want the model to stick to your prompt."
                  },
                  "static_mask": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the image for Static Brush Application Area (Mask image created by users using the motion brush)."
                  },
                  "dynamic_masks": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "mask": {
                          "type": "string"
                        },
                        "trajectories": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "x": {
                                "type": "integer"
                              },
                              "y": {
                                "type": "integer"
                              }
                            },
                            "required": [
                              "x",
                              "y"
                            ]
                          },
                          "minItems": 2,
                          "maxItems": 77
                        }
                      },
                      "required": [
                        "mask",
                        "trajectories"
                      ]
                    },
                    "maxItems": 6,
                    "description": "List of dynamic masks."
                  },
                  "camera_control": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "simple",
                          "down_back",
                          "forward_up",
                          "right_turn_forward",
                          "left_turn_forward"
                        ]
                      },
                      "config": {
                        "type": "object",
                        "properties": {
                          "horizontal": {
                            "type": "number",
                            "minimum": -10,
                            "maximum": 10
                          },
                          "vertical": {
                            "type": "number",
                            "minimum": -10,
                            "maximum": 10
                          },
                          "pan": {
                            "type": "number",
                            "minimum": -10,
                            "maximum": 10
                          },
                          "tilt": {
                            "type": "number",
                            "minimum": -10,
                            "maximum": 10
                          },
                          "roll": {
                            "type": "number",
                            "minimum": -10,
                            "maximum": 10
                          },
                          "zoom": {
                            "type": "number",
                            "minimum": -10,
                            "maximum": 10
                          }
                        }
                      }
                    },
                    "description": "Camera control parameters."
                  }
                },
                "required": [
                  "model",
                  "image_url"
                ],
                "title": "klingai/v2-master-image-to-video"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the generated video.",
                      "example": "60ac7c34-3224-4b14-8e7d-0aa0db708325"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "generating",
                        "completed",
                        "error"
                      ],
                      "description": "The current status of the generation task.",
                      "example": "completed"
                    },
                    "video": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL where the file can be downloaded from.",
                          "example": "https://cdn.aimlapi.com/generations/hedgehog/1759866285599-0cdfb138-c03a-49d4-a601-4f6413e27b15.mp4"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "message"
                      ],
                      "description": "Description of the error, if any."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "credits_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v2/video/generations', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      \"model\": \"klingai/v2-master-image-to-video\",\n      \"prompt\": \"Mona Lisa puts on glasses with her hands.\",\n      \"image_url\": \"https://s2-111386.kwimgs.com/bs2/mmu-aiplatform-temp/kling/20240620/1.jpeg\"\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v2/video/generations\",\n    headers={\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n      \"model\": \"klingai/v2-master-image-to-video\",\n      \"prompt\": \"Mona Lisa puts on glasses with her hands.\",\n      \"image_url\": \"https://s2-111386.kwimgs.com/bs2/mmu-aiplatform-temp/kling/20240620/1.jpeg\"\n    }\n)\n\ndata = response.json()\nprint(data)"
          },
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v2/video/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n      \"model\": \"klingai/v2-master-image-to-video\",\n      \"prompt\": \"Mona Lisa puts on glasses with her hands.\",\n      \"image_url\": \"https://s2-111386.kwimgs.com/bs2/mmu-aiplatform-temp/kling/20240620/1.jpeg\"\n    }'"
          },
          {
            "lang": "HTTP",
            "source": "POST /v2/video/generations HTTP/1.1\nHost: api.aimlapi.com\nAuthorization: Bearer <YOUR_AIMLAPI_KEY>\nContent-Type: application/json\nAccept: */*\n\n{\n  \"model\": \"klingai/v2-master-image-to-video\",\n  \"prompt\": \"Mona Lisa puts on glasses with her hands.\",\n  \"image_url\": \"https://s2-111386.kwimgs.com/bs2/mmu-aiplatform-temp/kling/20240620/1.jpeg\"\n}"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}