{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v2/video/generations": {
      "post": {
        "operationId": "_v2_video_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "klingai/video-v3-omni-720p-image-to-video"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Text prompt for video generation. Either prompt or multi_prompt must be provided, but not both."
                  },
                  "provider": {
                    "type": "string",
                    "description": "Provider routing override. `kling` (alias `klingai`) runs native Kling with no fallback; `fal` runs the fal.ai mirror; `auto` (default) uses the Kling -> fal.ai fallback chain. Case-insensitive.",
                    "example": "auto"
                  },
                  "multi_prompt": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of prompts for multi-shot video generation. If provided, overrides the single prompt and divides the video into multiple shots with specified prompts and durations."
                  },
                  "image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "A direct link to an online image or a Base64-encoded local image that will serve as the visual base or the first frame for the video."
                  },
                  "tail_image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Last frame image URL. Not supported when generate_audio is enabled — set generate_audio to false to use a tail frame."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "The length of the output video in seconds.",
                    "enum": [
                      3,
                      4,
                      5,
                      6,
                      7,
                      8,
                      9,
                      10,
                      11,
                      12,
                      13,
                      14,
                      15
                    ],
                    "default": "5"
                  },
                  "elements": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "reference_image_urls": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uri"
                          },
                          "minItems": 1,
                          "maxItems": 4,
                          "description": "Additional reference images from different angles."
                        },
                        "frontal_image_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The frontal image of the element (main view)."
                        },
                        "video_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The video URL of the element. A request can only have one element with a video."
                        }
                      },
                      "required": [
                        "reference_image_urls"
                      ]
                    },
                    "maxItems": 4,
                    "description": "Elements (characters/objects) to include in the video. Each example can either be an image set (frontal + reference images) or a video"
                  },
                  "shot_type": {
                    "type": "string",
                    "enum": [
                      "customize",
                      "intelligent",
                      "intelligence"
                    ],
                    "default": "customize",
                    "description": "The type of multi-shot video generation"
                  },
                  "generate_audio": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to generate audio for the video."
                  },
                  "negative_prompt": {
                    "type": "string",
                    "description": "The description of elements to avoid in the generated video."
                  },
                  "cfg_scale": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "The CFG (Classifier Free Guidance) scale is a measure of how close you want the model to stick to your prompt."
                  }
                },
                "required": [
                  "model",
                  "image_url"
                ],
                "title": "klingai/video-v3-omni-720p-image-to-video"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the generated video.",
                      "example": "60ac7c34-3224-4b14-8e7d-0aa0db708325"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "generating",
                        "completed",
                        "error"
                      ],
                      "description": "The current status of the generation task.",
                      "example": "completed"
                    },
                    "video": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "format": "uri",
                              "description": "The URL where the file can be downloaded from.",
                              "example": "https://cdn.aimlapi.com/generations/hedgehog/1759866285599-0cdfb138-c03a-49d4-a601-4f6413e27b15.mp4"
                            }
                          },
                          "required": [
                            "url"
                          ]
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "format": "uri",
                                "description": "The URL where the file can be downloaded from.",
                                "example": "https://cdn.aimlapi.com/generations/hedgehog/1759866285599-0cdfb138-c03a-49d4-a601-4f6413e27b15.mp4"
                              }
                            },
                            "required": [
                              "url"
                            ]
                          }
                        },
                        {
                          "nullable": true
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "message"
                      ],
                      "description": "Description of the error, if any."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            },
                            "usd_spent": {
                              "type": "number",
                              "description": "The total amount of money spent by the user in USD.",
                              "example": 0.06
                            }
                          },
                          "required": [
                            "credits_used",
                            "usd_spent"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            },
            "description": "Successful response."
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request POST \\\n  --url 'https://api.aimlapi.com/v2/video/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\"model\": \"klingai/video-v3-omni-720p-image-to-video\", \"prompt\": \"Describe what you want the model to generate.\", \"image_url\": \"https://example.com/input.jpg\", \"duration\": \"5\"}'"
          },
          {
            "lang": "JavaScript",
            "source": "const response = await fetch('https://api.aimlapi.com/v2/video/generations', {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n  \"model\": \"klingai/video-v3-omni-720p-image-to-video\",\n  \"prompt\": \"Describe what you want the model to generate.\",\n  \"image_url\": \"https://example.com/input.jpg\",\n  \"duration\": \"5\"\n}),\n});\n\nconsole.log(await response.json());"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v2/video/generations\",\n    headers={\n        \"Authorization\": \"Bearer <YOUR_AIMLAPI_KEY>\",\n        \"Content-Type\": \"application/json\",\n    },\n    json={'model': 'klingai/video-v3-omni-720p-image-to-video', 'prompt': 'Describe what you want the model to generate.', 'image_url': 'https://example.com/input.jpg', 'duration': '5'},\n)\n\nprint(response.json())"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}
