{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "operationId": "_v1_chat_completions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "liquid/d1-router"
                        ]
                      },
                      "provider": {
                        "type": "string",
                        "description": "Provider routing override. Use a source key such as `openai`, `openrouter`, `xai`, `google`, `alibaba`, `minimax`, `moonshot`, `baidu`, or `togetherai` to run that provider with no fallback; `auto` (default) uses the full fallback chain. Case-insensitive.",
                        "example": "auto"
                      },
                      "messages": {
                        "type": "array",
                        "items": {
                          "oneOf": [
                            {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "user"
                                  ],
                                  "description": "The role of the author of the message — in this case, the user"
                                },
                                "content": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "anyOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "text"
                                                ],
                                                "description": "The type of the content part."
                                              },
                                              "text": {
                                                "type": "string",
                                                "description": "The text content."
                                              },
                                              "cache_control": {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "ephemeral"
                                                    ]
                                                  },
                                                  "ttl": {
                                                    "type": "string",
                                                    "enum": [
                                                      "5m",
                                                      "1h"
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type"
                                                ]
                                              }
                                            },
                                            "required": [
                                              "type",
                                              "text"
                                            ]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "image_url"
                                                ]
                                              },
                                              "image_url": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "anyOf": [
                                                      {
                                                        "type": "string",
                                                        "format": "uri"
                                                      },
                                                      {
                                                        "type": "string"
                                                      }
                                                    ],
                                                    "description": "Either a URL of the image or the base64 encoded image data. "
                                                  },
                                                  "detail": {
                                                    "type": "string",
                                                    "enum": [
                                                      "low",
                                                      "high",
                                                      "auto"
                                                    ],
                                                    "description": "Specifies the detail level of the image. Currently supports JPG/JPEG, PNG, GIF, and WEBP formats."
                                                  }
                                                },
                                                "required": [
                                                  "url"
                                                ]
                                              },
                                              "cache_control": {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "ephemeral"
                                                    ]
                                                  },
                                                  "ttl": {
                                                    "type": "string",
                                                    "enum": [
                                                      "5m",
                                                      "1h"
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type"
                                                ]
                                              }
                                            },
                                            "required": [
                                              "type",
                                              "image_url"
                                            ]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "file"
                                                ],
                                                "description": "The type of the content part."
                                              },
                                              "cache_control": {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "ephemeral"
                                                    ]
                                                  },
                                                  "ttl": {
                                                    "type": "string",
                                                    "enum": [
                                                      "5m",
                                                      "1h"
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type"
                                                ]
                                              },
                                              "file": {
                                                "type": "object",
                                                "properties": {
                                                  "file_data": {
                                                    "type": "string",
                                                    "description": "The file data, encoded in base64 and passed to the model as a string. Only PDF format is supported.\n        - Maximum size per file: Up to 512 MB and up to 2 million tokens.\n        - Maximum number of files: Up to 20 files can be attached to a single GPT application or Assistant. This limit applies throughout the application's lifetime.\n        - Maximum total file storage per user: 10 GB."
                                                  },
                                                  "file_id": {
                                                    "type": "string"
                                                  },
                                                  "filename": {
                                                    "type": "string",
                                                    "description": "The file name specified by the user. This name can be used to reference the file when interacting with the model, especially if multiple files are uploaded."
                                                  }
                                                }
                                              }
                                            },
                                            "required": [
                                              "type",
                                              "file"
                                            ]
                                          }
                                        ]
                                      }
                                    }
                                  ],
                                  "description": "The contents of the user message."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                                }
                              },
                              "required": [
                                "role",
                                "content"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "content": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "text"
                                            ],
                                            "description": "The type of the content part."
                                          },
                                          "text": {
                                            "type": "string",
                                            "description": "The text content."
                                          },
                                          "cache_control": {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "ephemeral"
                                                ]
                                              },
                                              "ttl": {
                                                "type": "string",
                                                "enum": [
                                                  "5m",
                                                  "1h"
                                                ]
                                              }
                                            },
                                            "required": [
                                              "type"
                                            ]
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "text"
                                        ]
                                      }
                                    }
                                  ],
                                  "description": "The contents of the developer message."
                                },
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "developer"
                                  ],
                                  "description": "The role of the author of the message — in this case, the developer."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                                }
                              },
                              "required": [
                                "content",
                                "role"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "system"
                                  ],
                                  "description": "The role of the author of the message — in this case, the system."
                                },
                                "content": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "text"
                                            ],
                                            "description": "The type of the content part."
                                          },
                                          "text": {
                                            "type": "string",
                                            "description": "The text content."
                                          },
                                          "cache_control": {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "ephemeral"
                                                ]
                                              },
                                              "ttl": {
                                                "type": "string",
                                                "enum": [
                                                  "5m",
                                                  "1h"
                                                ]
                                              }
                                            },
                                            "required": [
                                              "type"
                                            ]
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "text"
                                        ]
                                      }
                                    }
                                  ],
                                  "description": "The contents of the system message."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                                }
                              },
                              "required": [
                                "role",
                                "content"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "tool"
                                  ],
                                  "description": "The role of the author of the message — in this case, the tool."
                                },
                                "content": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "text"
                                            ],
                                            "description": "The type of the content part."
                                          },
                                          "text": {
                                            "type": "string",
                                            "description": "The text content."
                                          },
                                          "cache_control": {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "ephemeral"
                                                ]
                                              },
                                              "ttl": {
                                                "type": "string",
                                                "enum": [
                                                  "5m",
                                                  "1h"
                                                ]
                                              }
                                            },
                                            "required": [
                                              "type"
                                            ]
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "text"
                                        ]
                                      }
                                    }
                                  ],
                                  "description": "The contents of the tool message."
                                },
                                "tool_call_id": {
                                  "type": "string",
                                  "description": "Tool call that this message is responding to."
                                },
                                "name": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                                }
                              },
                              "required": [
                                "role",
                                "content",
                                "tool_call_id"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "assistant"
                                  ],
                                  "description": "The role of the author of the message — in this case, the Assistant."
                                },
                                "content": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "description": "The contents of the Assistant message."
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "anyOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "text"
                                                ],
                                                "description": "The type of the content part."
                                              },
                                              "text": {
                                                "type": "string",
                                                "description": "The text content."
                                              },
                                              "cache_control": {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "ephemeral"
                                                    ]
                                                  },
                                                  "ttl": {
                                                    "type": "string",
                                                    "enum": [
                                                      "5m",
                                                      "1h"
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type"
                                                ]
                                              }
                                            },
                                            "required": [
                                              "type",
                                              "text"
                                            ]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "refusal": {
                                                "type": "string",
                                                "description": "The refusal message generated by the model."
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "refusal"
                                                ],
                                                "description": "The type of the content part."
                                              }
                                            },
                                            "required": [
                                              "refusal",
                                              "type"
                                            ]
                                          }
                                        ]
                                      },
                                      "description": "An array of content parts with a defined type. Can be one or more of type text, or exactly one of type refusal."
                                    },
                                    {
                                      "nullable": true
                                    }
                                  ],
                                  "description": "The contents of the Assistant message. Required unless tool_calls or function_call is specified."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                                },
                                "tool_calls": {
                                  "type": "array",
                                  "items": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "The ID of the tool call."
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "function"
                                            ],
                                            "description": "The type of the tool. Currently, only function is supported."
                                          },
                                          "function": {
                                            "type": "object",
                                            "properties": {
                                              "name": {
                                                "type": "string",
                                                "description": "The name of the function to call."
                                              },
                                              "arguments": {
                                                "type": "string",
                                                "description": "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                                              }
                                            },
                                            "required": [
                                              "name",
                                              "arguments"
                                            ],
                                            "description": "The function that the model called."
                                          },
                                          "extra_content": {
                                            "type": "object",
                                            "additionalProperties": {
                                              "nullable": true
                                            },
                                            "description": "Opaque provider metadata for this tool call (e.g. Gemini thought_signature). Echo it back unchanged on the next turn."
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "type",
                                          "function"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "The ID of the tool call."
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "custom"
                                            ],
                                            "description": "The type of the tool. Currently, only function is supported."
                                          },
                                          "custom": {
                                            "type": "object",
                                            "properties": {
                                              "name": {
                                                "type": "string",
                                                "description": "The name of the custom tool to call."
                                              },
                                              "input": {
                                                "type": "string",
                                                "description": "The input for the custom tool call generated by the model."
                                              }
                                            },
                                            "required": [
                                              "name",
                                              "input"
                                            ],
                                            "description": "The custom tool that the model called."
                                          },
                                          "extra_content": {
                                            "type": "object",
                                            "additionalProperties": {
                                              "nullable": true
                                            },
                                            "description": "Opaque provider metadata for this tool call (e.g. Gemini thought_signature). Echo it back unchanged on the next turn."
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "type",
                                          "custom"
                                        ]
                                      }
                                    ]
                                  },
                                  "description": "The tool calls generated by the model, such as function calls."
                                },
                                "refusal": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "The refusal message by the Assistant."
                                }
                              },
                              "required": [
                                "role"
                              ]
                            }
                          ]
                        },
                        "description": "A list of messages comprising the conversation so far. Depending on the model you use, different message types (modalities) are supported, like text, documents (txt, pdf), images, and audio."
                      },
                      "max_tokens": {
                        "type": "number",
                        "minimum": 1,
                        "description": "The maximum number of tokens that can be generated in the chat completion. This value can be used to control costs for text generated via API."
                      },
                      "stream": {
                        "type": "boolean",
                        "default": false,
                        "description": "If set to True, the model response data will be streamed to the client as it is generated using server-sent events."
                      },
                      "stream_options": {
                        "type": "object",
                        "properties": {
                          "include_usage": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "include_usage"
                        ]
                      },
                      "tools": {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "function"
                                      ],
                                      "description": "The type of the tool. Currently, only function is supported."
                                    },
                                    "function": {
                                      "type": "object",
                                      "properties": {
                                        "description": {
                                          "type": "string",
                                          "description": "A description of what the function does, used by the model to choose when and how to call the function."
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64."
                                        },
                                        "parameters": {
                                          "type": "object",
                                          "additionalProperties": {
                                            "nullable": true,
                                            "description": "The parameters the functions accepts, described as a JSON Schema object."
                                          }
                                        },
                                        "strict": {
                                          "type": "boolean",
                                          "nullable": true,
                                          "description": "Whether to enable strict schema adherence when generating the function call. If set to True, the model will follow the exact schema defined in the parameters field. Only a subset of JSON Schema is supported when strict is True."
                                        }
                                      },
                                      "required": [
                                        "name"
                                      ]
                                    },
                                    "cache_control": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "ephemeral"
                                          ]
                                        },
                                        "ttl": {
                                          "type": "string",
                                          "enum": [
                                            "5m",
                                            "1h"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "type"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "type",
                                    "function"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "custom"
                                      ],
                                      "description": "The type of the tool. Currently, only function is supported."
                                    },
                                    "custom": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "description": "The name of the custom tool, used to identify it in tool calls."
                                        },
                                        "description": {
                                          "type": "string",
                                          "description": "Optional description of the custom tool, used to provide more context."
                                        },
                                        "format": {
                                          "oneOf": [
                                            {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string",
                                                  "enum": [
                                                    "text"
                                                  ]
                                                }
                                              },
                                              "required": [
                                                "type"
                                              ]
                                            },
                                            {
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "type": "string",
                                                  "enum": [
                                                    "grammar"
                                                  ]
                                                },
                                                "grammar": {
                                                  "type": "object",
                                                  "properties": {
                                                    "definition": {
                                                      "type": "string",
                                                      "description": "The grammar definition."
                                                    },
                                                    "syntax": {
                                                      "type": "string",
                                                      "enum": [
                                                        "lark",
                                                        "regex"
                                                      ],
                                                      "description": "The syntax of the grammar definition."
                                                    }
                                                  },
                                                  "required": [
                                                    "definition",
                                                    "syntax"
                                                  ]
                                                }
                                              },
                                              "required": [
                                                "type",
                                                "grammar"
                                              ]
                                            }
                                          ],
                                          "description": "The input format for the custom tool. Default is unconstrained text."
                                        }
                                      },
                                      "required": [
                                        "name",
                                        "format"
                                      ]
                                    },
                                    "cache_control": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "ephemeral"
                                          ]
                                        },
                                        "ttl": {
                                          "type": "string",
                                          "enum": [
                                            "5m",
                                            "1h"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "type"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "type",
                                    "custom"
                                  ]
                                }
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              },
                              "required": [
                                "type"
                              ]
                            }
                          ]
                        },
                        "description": "A list of tools the model may call. Currently, only functions are supported as a tool. Use this to provide a list of functions the model may generate JSON inputs for. A max of 128 functions are supported."
                      },
                      "tool_choice": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "none",
                              "auto",
                              "required"
                            ],
                            "description": "none means the model will not call any tool and instead generates a message. auto means the model can pick between generating a message or calling one or more tools. required means the model must call one or more tools."
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "function"
                                ],
                                "description": "The type of the tool. Currently, only function is supported."
                              },
                              "function": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the function to call."
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              }
                            },
                            "required": [
                              "type",
                              "function"
                            ],
                            "description": "Specifies a tool the model should use. Use to force the model to call a specific function."
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "allowed_tools"
                                ],
                                "description": "The type of the tool. Currently, only function is supported."
                              },
                              "allowed_tools": {
                                "type": "object",
                                "properties": {
                                  "mode": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "required"
                                    ],
                                    "description": "Constrains the tools available to the model to a pre-defined set.\n- auto allows the model to pick from among the allowed tools and generate a message.\n- required requires the model to call one or more of the allowed tools."
                                  },
                                  "tools": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": {
                                        "nullable": true
                                      }
                                    },
                                    "description": "A list of tool definitions that the model should be allowed to call."
                                  }
                                },
                                "required": [
                                  "mode",
                                  "tools"
                                ]
                              }
                            },
                            "required": [
                              "type",
                              "allowed_tools"
                            ],
                            "description": "Constrains the tools available to the model to a pre-defined set."
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "function"
                                ],
                                "description": "The type of the tool. Currently, only function is supported."
                              },
                              "function": {
                                "type": "string",
                                "enum": [
                                  "name"
                                ],
                                "description": "The name of the function to call."
                              }
                            },
                            "required": [
                              "type",
                              "function"
                            ],
                            "description": "Specifies a tool the model should use. Use to force the model to call a specific function."
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "custom"
                                ],
                                "description": "The type of the tool. Currently, only function is supported."
                              },
                              "custom": {
                                "type": "string",
                                "enum": [
                                  "name"
                                ],
                                "description": "The name of the custom tool to call."
                              }
                            },
                            "required": [
                              "type",
                              "custom"
                            ],
                            "description": "Specifies a tool the model should use. Use to force the model to call a specific custom tool."
                          }
                        ],
                        "description": "Controls which (if any) tool is called by the model. none means the model will not call any tool and instead generates a message. auto means the model can pick between generating a message or calling one or more tools. required means the model must call one or more tools. Specifying a particular tool via {\"type\": \"function\", \"function\": {\"name\": \"my_function\"}} forces the model to call that tool.\n  none is the default when no tools are present. auto is the default if tools are present."
                      },
                      "normalize_tool_schemas": {
                        "type": "boolean",
                        "description": "Enable provider compatibility normalization for tool function JSON schemas."
                      },
                      "parallel_tool_calls": {
                        "type": "boolean",
                        "description": "Whether to enable parallel function calling during tool use."
                      },
                      "n": {
                        "type": "integer",
                        "nullable": true,
                        "minimum": 1,
                        "description": "How many chat completion choices to generate for each input message. Note that you will be charged based on the number of generated tokens across all of the choices. Keep n as 1 to minimize costs."
                      },
                      "seed": {
                        "type": "integer",
                        "minimum": 1,
                        "description": "This feature is in Beta. If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same seed and parameters should return the same result."
                      },
                      "reasoning_effort": {
                        "type": "string",
                        "enum": [
                          "none",
                          "low",
                          "medium",
                          "high"
                        ],
                        "description": "Constrains effort on reasoning for reasoning models. Currently supported values are low, medium, and high. Reducing reasoning effort can result in faster responses and fewer tokens used on reasoning in a response."
                      },
                      "response_format": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "text"
                                ],
                                "description": "The type of response format being defined. Always text."
                              }
                            },
                            "required": [
                              "type"
                            ],
                            "additionalProperties": false,
                            "description": "Default response format. Used to generate text responses."
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "json_object"
                                ],
                                "description": "The type of response format being defined. Always json_object."
                              }
                            },
                            "required": [
                              "type"
                            ],
                            "additionalProperties": false,
                            "description": "An older method of generating JSON responses. Using json_schema is recommended for models that support it. Note that the model will not generate JSON without a system or user message instructing it to do so."
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "json_schema"
                                ],
                                "description": "The type of response format being defined. Always json_schema."
                              },
                              "json_schema": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the response format. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64."
                                  },
                                  "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "nullable": true
                                    },
                                    "description": "The schema for the response format, described as a JSON Schema object."
                                  },
                                  "strict": {
                                    "type": "boolean",
                                    "nullable": true,
                                    "description": "Whether to enable strict schema adherence when generating the output. If set to True, the model will always follow the exact schema defined in the schema field. Only a subset of JSON Schema is supported when strict is True."
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "A description of what the response format is for, used by the model to determine how to respond in the format."
                                  }
                                },
                                "required": [
                                  "name"
                                ],
                                "additionalProperties": false,
                                "description": "JSON Schema response format. Used to generate structured JSON responses."
                              }
                            },
                            "required": [
                              "type",
                              "json_schema"
                            ],
                            "additionalProperties": false,
                            "description": "JSON Schema response format. Used to generate structured JSON responses."
                          }
                        ],
                        "description": "An object specifying the format that the model must output."
                      }
                    },
                    "required": [
                      "model",
                      "messages"
                    ],
                    "title": "liquid/d1-router"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "liquid/d1-router"
                        ]
                      },
                      "provider": {
                        "type": "string",
                        "description": "Provider routing override. Use a source key such as `openai`, `openrouter`, `xai`, `google`, `alibaba`, `minimax`, `moonshot`, `baidu`, or `togetherai` to run that provider with no fallback; `auto` (default) uses the full fallback chain. Case-insensitive.",
                        "example": "auto"
                      },
                      "messages": {
                        "type": "array",
                        "items": {
                          "oneOf": [
                            {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "user"
                                  ],
                                  "description": "The role of the author of the message — in this case, the user"
                                },
                                "content": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "anyOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "text"
                                                ],
                                                "description": "The type of the content part."
                                              },
                                              "text": {
                                                "type": "string",
                                                "description": "The text content."
                                              },
                                              "cache_control": {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "ephemeral"
                                                    ]
                                                  },
                                                  "ttl": {
                                                    "type": "string",
                                                    "enum": [
                                                      "5m",
                                                      "1h"
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type"
                                                ]
                                              }
                                            },
                                            "required": [
                                              "type",
                                              "text"
                                            ]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "image_url"
                                                ]
                                              },
                                              "image_url": {
                                                "type": "object",
                                                "properties": {
                                                  "url": {
                                                    "anyOf": [
                                                      {
                                                        "type": "string",
                                                        "format": "uri"
                                                      },
                                                      {
                                                        "type": "string"
                                                      }
                                                    ],
                                                    "description": "Either a URL of the image or the base64 encoded image data. "
                                                  },
                                                  "detail": {
                                                    "type": "string",
                                                    "enum": [
                                                      "low",
                                                      "high",
                                                      "auto"
                                                    ],
                                                    "description": "Specifies the detail level of the image. Currently supports JPG/JPEG, PNG, GIF, and WEBP formats."
                                                  }
                                                },
                                                "required": [
                                                  "url"
                                                ]
                                              },
                                              "cache_control": {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "ephemeral"
                                                    ]
                                                  },
                                                  "ttl": {
                                                    "type": "string",
                                                    "enum": [
                                                      "5m",
                                                      "1h"
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type"
                                                ]
                                              }
                                            },
                                            "required": [
                                              "type",
                                              "image_url"
                                            ]
                                          }
                                        ]
                                      }
                                    }
                                  ],
                                  "description": "The contents of the user message."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                                }
                              },
                              "required": [
                                "role",
                                "content"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "system"
                                  ],
                                  "description": "The role of the author of the message — in this case, the system."
                                },
                                "content": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "text"
                                            ],
                                            "description": "The type of the content part."
                                          },
                                          "text": {
                                            "type": "string",
                                            "description": "The text content."
                                          },
                                          "cache_control": {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "ephemeral"
                                                ]
                                              },
                                              "ttl": {
                                                "type": "string",
                                                "enum": [
                                                  "5m",
                                                  "1h"
                                                ]
                                              }
                                            },
                                            "required": [
                                              "type"
                                            ]
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "text"
                                        ]
                                      }
                                    }
                                  ],
                                  "description": "The contents of the system message."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                                }
                              },
                              "required": [
                                "role",
                                "content"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "tool"
                                  ],
                                  "description": "The role of the author of the message — in this case, the tool."
                                },
                                "content": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "text"
                                            ],
                                            "description": "The type of the content part."
                                          },
                                          "text": {
                                            "type": "string",
                                            "description": "The text content."
                                          },
                                          "cache_control": {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "ephemeral"
                                                ]
                                              },
                                              "ttl": {
                                                "type": "string",
                                                "enum": [
                                                  "5m",
                                                  "1h"
                                                ]
                                              }
                                            },
                                            "required": [
                                              "type"
                                            ]
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "text"
                                        ]
                                      }
                                    }
                                  ],
                                  "description": "The contents of the tool message."
                                },
                                "tool_call_id": {
                                  "type": "string",
                                  "description": "Tool call that this message is responding to."
                                },
                                "name": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                                }
                              },
                              "required": [
                                "role",
                                "content",
                                "tool_call_id"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "assistant"
                                  ],
                                  "description": "The role of the author of the message — in this case, the Assistant."
                                },
                                "content": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "description": "The contents of the Assistant message."
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "anyOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "text"
                                                ],
                                                "description": "The type of the content part."
                                              },
                                              "text": {
                                                "type": "string",
                                                "description": "The text content."
                                              },
                                              "cache_control": {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "ephemeral"
                                                    ]
                                                  },
                                                  "ttl": {
                                                    "type": "string",
                                                    "enum": [
                                                      "5m",
                                                      "1h"
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "type"
                                                ]
                                              }
                                            },
                                            "required": [
                                              "type",
                                              "text"
                                            ]
                                          },
                                          {
                                            "type": "object",
                                            "properties": {
                                              "refusal": {
                                                "type": "string",
                                                "description": "The refusal message generated by the model."
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "refusal"
                                                ],
                                                "description": "The type of the content part."
                                              }
                                            },
                                            "required": [
                                              "refusal",
                                              "type"
                                            ]
                                          }
                                        ]
                                      },
                                      "description": "An array of content parts with a defined type. Can be one or more of type text, or exactly one of type refusal."
                                    },
                                    {
                                      "nullable": true
                                    }
                                  ],
                                  "description": "The contents of the Assistant message. Required unless tool_calls or function_call is specified."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                                },
                                "tool_calls": {
                                  "type": "array",
                                  "items": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "The ID of the tool call."
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "function"
                                            ],
                                            "description": "The type of the tool. Currently, only function is supported."
                                          },
                                          "function": {
                                            "type": "object",
                                            "properties": {
                                              "name": {
                                                "type": "string",
                                                "description": "The name of the function to call."
                                              },
                                              "arguments": {
                                                "type": "string",
                                                "description": "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                                              }
                                            },
                                            "required": [
                                              "name",
                                              "arguments"
                                            ],
                                            "description": "The function that the model called."
                                          },
                                          "extra_content": {
                                            "type": "object",
                                            "additionalProperties": {
                                              "nullable": true
                                            },
                                            "description": "Opaque provider metadata for this tool call (e.g. Gemini thought_signature). Echo it back unchanged on the next turn."
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "type",
                                          "function"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "description": "The ID of the tool call."
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "custom"
                                            ],
                                            "description": "The type of the tool. Currently, only function is supported."
                                          },
                                          "custom": {
                                            "type": "object",
                                            "properties": {
                                              "name": {
                                                "type": "string",
                                                "description": "The name of the custom tool to call."
                                              },
                                              "input": {
                                                "type": "string",
                                                "description": "The input for the custom tool call generated by the model."
                                              }
                                            },
                                            "required": [
                                              "name",
                                              "input"
                                            ],
                                            "description": "The custom tool that the model called."
                                          },
                                          "extra_content": {
                                            "type": "object",
                                            "additionalProperties": {
                                              "nullable": true
                                            },
                                            "description": "Opaque provider metadata for this tool call (e.g. Gemini thought_signature). Echo it back unchanged on the next turn."
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "type",
                                          "custom"
                                        ]
                                      }
                                    ]
                                  },
                                  "description": "The tool calls generated by the model, such as function calls."
                                },
                                "refusal": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "The refusal message by the Assistant."
                                }
                              },
                              "required": [
                                "role"
                              ]
                            }
                          ]
                        },
                        "description": "A list of messages comprising the conversation so far. Depending on the model you use, different message types (modalities) are supported, like text, documents (txt, pdf), images, and audio."
                      },
                      "max_completion_tokens": {
                        "type": "integer",
                        "minimum": 1,
                        "description": "An upper bound for the number of tokens that can be generated for a completion, including visible output tokens and reasoning tokens."
                      },
                      "max_tokens": {
                        "type": "number",
                        "minimum": 1,
                        "description": "The maximum number of tokens that can be generated in the chat completion. This value can be used to control costs for text generated via API."
                      },
                      "stream": {
                        "type": "boolean",
                        "default": false,
                        "description": "If set to True, the model response data will be streamed to the client as it is generated using server-sent events."
                      },
                      "stream_options": {
                        "type": "object",
                        "properties": {
                          "include_usage": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "include_usage"
                        ]
                      },
                      "tools": {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "function"
                                      ],
                                      "description": "The type of the tool. Currently, only function is supported."
                                    },
                                    "function": {
                                      "type": "object",
                                      "properties": {
                                        "description": {
                                          "type": "string",
                                          "description": "A description of what the function does, used by the model to choose when and how to call the function."
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64."
                                        },
                                        "parameters": {
                                          "type": "object",
                                          "additionalProperties": {
                                            "nullable": true,
                                            "description": "The parameters the functions accepts, described as a JSON Schema object."
                                          }
                                        },
                                        "strict": {
                                          "type": "boolean",
                                          "nullable": true,
                                          "description": "Whether to enable strict schema adherence when generating the function call. If set to True, the model will follow the exact schema defined in the parameters field. Only a subset of JSON Schema is supported when strict is True."
                                        }
                                      },
                                      "required": [
                                        "name"
                                      ]
                                    },
                                    "cache_control": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "ephemeral"
                                          ]
                                        },
                                        "ttl": {
                                          "type": "string",
                                          "enum": [
                                            "5m",
                                            "1h"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "type"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "type",
                                    "function"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "custom"
                                      ],
                                      "description": "The type of the tool. Currently, only function is supported."
                                    },
                                    "custom": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "description": "The name of the custom tool, used to identify it in tool calls."
                                        },
                                        "description": {
                                          "type": "string",
                                          "description": "Optional description of the custom tool, used to provide more context."
                                        },
                                        "format": {
                                          "oneOf": [
                                            {
                                              "type": "object",
                                              "properties": {
[...]
