{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/keys/{prefix}": {
      "put": {
        "operationId": "KeysController_replaceKey_v1",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "required": true,
            "description": "Prefix of the API key to update. Passed in the URL path. This is the first 8 characters of your API key, visible in the dashboard. You can also obtain this value via the POST method (see the `prefix` field in its response).",
            "schema": {
              "type": "string",
              "example": "b747e891"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Full set of API key properties. Any subset of fields may be changed relative to the existing key.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "nullable": true,
                    "description": "Human-readable, user-defined name for the API key.",
                    "example": "20260202-key-for-llms"
                  },
                  "disabled": {
                    "type": "boolean",
                    "description": "Whether the key is disabled."
                  },
                  "scopes": {
                    "type": "array",
                    "nullable": true,
                    "description": "List of model access scopes assigned to the key. Defines which categories of models can be called using this API key.",
                    "items": {
                      "type": "string",
                      "enum": [
                        "model:chat",
                        "model:responses",
                        "model:image",
                        "model:audio",
                        "model:video",
                        "model:embeddings",
                        "model:speech",
                        "model:ocr"
                      ]
                    }
                  },
                  "limit": {
                    "nullable": true,
                    "description": "Spending limits configuration.",
                    "type": "object",
                    "properties": {
                      "retention": {
                        "type": "string",
                        "enum": [
                          "no_reset",
                          "day",
                          "week",
                          "month"
                        ]
                      },
                      "threshold": {
                        "type": "number",
                        "description": "Spending limit threshold for the selected period, in USD.",
                        "example": 25
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "nullable": true,
                          "description": "Human-readable, user-defined name for the API key.",
                          "example": "20260202-key-for-llms"
                        },
                        "prefix": {
                          "type": "string",
                          "description": "Key prefix. This is the first 8 characters of your API key, visible in the dashboard. You can also obtain this value via the GET method (see the `prefix` field in its response).",
                          "example": "b747e891"
                        },
                        "disabled": {
                          "type": "boolean",
                          "description": "Indicates whether the key is disabled.",
                          "example": false
                        },
                        "scopes": {
                          "type": "array",
                          "nullable": true,
                          "description": "List of model access scopes assigned to the key. Defines which categories of models can be called using this API key.",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "model:chat",
                            "model:responses"
                          ]
                        },
                        "limit": {
                          "nullable": true,
                          "description": "Applied spending limits.",
                          "type": "object",
                          "properties": {
                            "retention": {
                              "type": "string",
                              "description": "Limit period.",
                              "enum": [
                                "no_reset",
                                "day",
                                "week",
                                "month"
                              ]
                            },
                            "threshold": {
                              "type": "number",
                              "description": "Spending limit threshold for the selected period, in USD",
                              "example": 25
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Creation timestamp (UTC).",
                          "example": "2026-02-17T12:40:18.244Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Last update timestamp (UTC).",
                          "example": "2026-02-17T12:40:18.244Z"
                        },
                        "monthly_usage": {
                          "type": "number",
                          "description": "Current monthly usage amount.",
                          "example": 0
                        }
                      },
                      "required": [
                        "disabled",
                        "prefix",
                        "created_at",
                        "updated_at",
                        "monthly_usage"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        },
        "x-hideTryItPanel": false,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request PUT \\\n  --url 'https://api.aimlapi.com/v1/keys/b747e891' \\\n  --header 'Authorization: Bearer <YOUR_MANAGEMENT_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"name\": \"20260202-key-for-llms\",\n    \"disabled\": false,\n    \"limit\": {\n      \"retention\": \"week\",\n      \"threshold\": 30\n    }\n  }'"
          },
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch(\"https://api.aimlapi.com/v1/keys/b747e891\", {\n    method: \"PUT\",\n    headers: {\n      \"Authorization\": \"Bearer <YOUR_MANAGEMENT_KEY>\",\n      \"Content-Type\": \"application/json\"\n    },\n    body: JSON.stringify({\n      name: \"20260202-key-for-llms\",\n      disabled: false,\n      limit: { retention: \"week\", threshold: 30 }\n    })\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\nimport json\n\n\ndef main():\n    prefix = \"b747e891\"\n    url = f\"https://api.aimlapi.com/v1/keys/{prefix}\"\n\n    headers = {\n        \"Authorization\": \"Bearer <YOUR_MANAGEMENT_KEY>\",\n        \"Content-Type\": \"application/json\"\n    }\n\n    payload = {\n        \"name\": \"20260202-key-for-llms\",\n        \"disabled\": False,\n        \"limit\": {\n            \"retention\": \"week\",\n            \"threshold\": 30\n        }\n    }\n\n    response = requests.put(url, headers=headers, json=payload)\n    data = response.json()\n    print(json.dumps(data, indent=2, ensure_ascii=False))\n\n\nif __name__ == \"__main__\":\n    main()"
          }
        ]
      }
    }
  }
}