{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/keys": {
      "post": {
        "operationId": "KeysController_createKey_v1",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Optional human-readable name of the API key.",
                    "example": "20260202-key-for-llms"
                  },
                  "limit": {
                    "type": "object",
                    "description": "Optional spending limit configuration.",
                    "properties": {
                      "retention": {
                        "type": "string",
                        "description": "Limit period.",
                        "enum": [
                          "no_reset",
                          "day",
                          "week",
                          "month"
                        ]
                      },
                      "threshold": {
                        "type": "number",
                        "description": "Spending limit threshold for the selected period, in USD.",
                        "example": 25
                      }
                    }
                  },
                  "scopes": {
                    "type": "array",
                    "nullable": true,
                    "description": "List of model access scopes assigned to the key. Defines which categories of models can be called using this API key.",
                    "items": {
                      "type": "string",
                      "enum": [
                        "model:chat",
                        "model:responses",
                        "model:image",
                        "model:audio",
                        "model:video",
                        "model:embeddings",
                        "model:speech",
                        "model:ocr"
                      ]
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key creation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "nullable": true,
                          "description": "Human-readable, user-defined name for the API key.",
                          "example": "20260202-key-for-llms"
                        },
                        "disabled": {
                          "type": "boolean",
                          "description": "Indicates whether the key is disabled.",
                          "example": false
                        },
                        "prefix": {
                          "type": "string",
                          "description": "Key prefix. This is the first 8 characters of your API key, visible in the dashboard.",
                          "example": "b747e891"
                        },
                        "scopes": {
                          "type": "array",
                          "nullable": true,
                          "description": "List of model access scopes assigned to the key. Defines which categories of models can be called using this API key.",
                          "items": {
                            "type": "string",
                            "enum": [
                              "model:chat",
                              "model:responses",
                              "model:image",
                              "model:audio",
                              "model:video",
                              "model:embeddings",
                              "model:speech",
                              "model:ocr"
                            ]
                          }
                        },
                        "limit": {
                          "type": "object",
                          "description": "Applied spending limits.",
                          "properties": {
                            "retention": {
                              "type": "string",
                              "description": "Limit period.",
                              "enum": [
                                "no_reset",
                                "day",
                                "week",
                                "month"
                              ]
                            },
                            "threshold": {
                              "type": "number",
                              "description": "Spending limit threshold for the selected period, in USD",
                              "example": 25
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Creation timestamp (UTC).",
                          "example": "2026-02-18T06:59:10.031Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Last update timestamp (UTC).",
                          "example": "2026-02-18T06:59:10.031Z"
                        },
                        "monthly_usage": {
                          "type": "number",
                          "description": "Current monthly usage amount.",
                          "example": 0
                        },
                        "key": {
                          "type": "string",
                          "description": "Full API key value (returned only at creation time).",
                          "example": "b747e891847f4c3fa0f6cce1cfd79bf9"
                        }
                      },
                      "required": [
                        "disabled",
                        "prefix",
                        "scopes",
                        "created_at",
                        "updated_at",
                        "monthly_usage",
                        "key"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        },
        "x-hideTryItPanel": false,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v1/keys' \\\n  --header 'Authorization: Bearer <YOUR_MANAGEMENT_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"name\": \"20260202-key-for-llms\",\n    \"limit\": {\n      \"retention\": \"week\",\n      \"threshold\": 25\n    },\n    \"scopes\": [\n      \"model:chat\",\n      \"model:responses\"\n    ]\n  }'"
          },
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch(\"https://api.aimlapi.com/v1/keys\", {\n    method: \"POST\",\n    headers: {\n      \"Authorization\": \"Bearer <YOUR_MANAGEMENT_KEY>\",\n      \"Content-Type\": \"application/json\"\n    },\n    body: JSON.stringify({\n      name: \"20260202-key-for-llms\",\n      limit: {\n        retention: \"week\",\n        threshold: 25\n      },\n      scopes: [\"model:chat\", \"model:responses\"]\n    })\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\nimport json\n\n\ndef main():\n    url = \"https://api.aimlapi.com/v1/keys\"\n    headers = {\n        \"Authorization\": \"Bearer <YOUR_MANAGEMENT_KEY>\",\n        \"Content-Type\": \"application/json\"\n    }\n\n    payload = {\n        \"name\": \"20260202-key-for-llms\",\n        \"limit\": {\n            \"retention\": \"week\",\n            \"threshold\": 25\n        },\n        \"scopes\": [\n            \"model:chat\",\n            \"model:responses\"\n        ]\n    }\n\n    response = requests.post(url, headers=headers, json=payload)\n    data = response.json()\n    print(json.dumps(data, indent=2, ensure_ascii=False))\n\n\nif __name__ == \"__main__\":\n    main()"
          }
        ]
      }
    }
  }
}