{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "operationId": "ModelsController_getModels_v1",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Attach optional sections to each model: `pricing`, `modalities`, `capabilities`, or `all` for every section. Comma-separated and repeated values are both accepted. Unknown values are ignored rather than rejected.",
            "schema": {
              "type": "string",
              "example": "pricing,capabilities"
            }
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "description": "Shorthand for `include=all`.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "1"
              ],
              "example": "true"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Keep models matching this id, or carrying it as an alias. Comma-separated or repeated values are combined with OR.",
            "schema": {
              "type": "string",
              "example": "gpt-4o"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Keep models served through this endpoint type, for example `openai/chat-completions`.",
            "schema": {
              "type": "string",
              "example": "openai/chat-completions"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "description": "Keep models carrying this tag, for example `playground:video`. Comma-separated or repeated values are combined with OR.",
            "schema": {
              "type": "string",
              "example": "playground:chat"
            }
          },
          {
            "name": "modalities",
            "in": "query",
            "required": false,
            "description": "Keep models with this modality among either their input or output modalities.",
            "schema": {
              "type": "string",
              "example": "image"
            }
          },
          {
            "name": "input_modalities",
            "in": "query",
            "required": false,
            "description": "Keep models accepting this input modality.",
            "schema": {
              "type": "string",
              "example": "text"
            }
          },
          {
            "name": "output_modalities",
            "in": "query",
            "required": false,
            "description": "Keep models producing this output modality.",
            "schema": {
              "type": "string",
              "example": "video"
            }
          },
          {
            "name": "capabilities",
            "in": "query",
            "required": false,
            "description": "Keep models declaring this capability, for example `image_to_video`. Comma-separated or repeated values are combined with OR; combining with other filter parameters is AND.",
            "schema": {
              "type": "string",
              "example": "streaming"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The live model catalogue, filtered and expanded as requested. Responses carry an ETag.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "description": "Always \"list\".",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Canonical unique identifier of the model.",
                            "example": "openai/gpt-4o"
                          },
                          "aliases": {
                            "type": "array",
                            "description": "Other names this model can still be requested under.",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "gpt-4o"
                            ]
                          },
                          "type": {
                            "type": "string",
                            "description": "Endpoint type this model is served through.",
                            "example": "openai/chat-completions"
                          },
                          "info": {
                            "type": "object",
                            "description": "Model identity. Which keys are present varies by model type: context and output limits appear on text models, not on image or video ones.",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Human-readable model name.",
                                "example": "GPT-4o"
                              },
                              "developer": {
                                "type": "string",
                                "description": "Organization or company that developed the model.",
                                "example": "Open AI"
                              },
                              "description": {
                                "type": "string",
                                "description": "Short description of the model and its primary capabilities.",
                                "example": "Multimodal AI model by OpenAI enhancing human-computer interaction."
                              },
                              "releasedAt": {
                                "type": "string",
                                "description": "Release date of the model.",
                                "example": "2025-08-07"
                              },
                              "contextLength": {
                                "type": "integer",
                                "description": "Maximum supported context window size in tokens. Text models only.",
                                "example": 128000
                              },
                              "outputMax": {
                                "type": "integer",
                                "description": "Maximum number of tokens that can be generated in a single response. Text models only.",
                                "example": 16384
                              },
                              "cutoffAt": {
                                "type": "string",
                                "description": "Training data cutoff date, where the developer publishes one.",
                                "example": "2023-10-01"
                              },
                              "url": {
                                "type": "string",
                                "description": "Public model landing page on the AIML API website. May be an empty string.",
                                "example": "https://aimlapi.com/models/gpt-4o-2024-08-06-api"
                              },
                              "docsUrl": {
                                "type": "string",
                                "description": "Link to this model's page in the documentation portal.",
                                "example": "https://docs.aimlapi.com/api-references/text-models-llm/openai/gpt-4o"
                              },
                              "docsJson": {
                                "type": "string",
                                "description": "Machine-readable OpenAPI description of this model's endpoint.",
                                "example": "https://api.aimlapi.com/docs-json?model=openai%2Fgpt-4o&endpoint=openai%2Fchat-completions"
                              }
                            },
                            "required": [
                              "name",
                              "developer"
                            ]
                          },
                          "tags": {
                            "type": "array",
                            "description": "Free-form tags, for example `playground:chat` or `tier:tier_2`.",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "playground:chat",
                              "tier:tier_2"
                            ]
                          },
                          "modalities": {
                            "type": "object",
                            "description": "Present only with `?include=modalities` or `all`. Input and output modalities the model handles.",
                            "properties": {
                              "input": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "example": [
                                  "image",
                                  "text"
                                ]
                              },
                              "output": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "example": [
                                  "text"
                                ]
                              }
                            }
                          },
                          "capabilities": {
                            "type": "array",
                            "description": "Present only with `?include=capabilities` or `all`. Declared capabilities.",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "streaming",
                              "structured_output",
                              "tools",
                              "vision"
                            ]
                          },
                          "pricing": {
                            "type": "object",
                            "description": "Present only with `?include=pricing` or `all`. Read `kind` first: `fixed` quotes one rate per unit, `variants` quotes a rate per parameter combination, `variable` cannot be quoted ahead of the request.",
                            "properties": {
                              "kind": {
                                "type": "string",
                                "enum": [
                                  "fixed",
                                  "variants",
                                  "variable"
                                ],
                                "example": "fixed"
                              },
                              "currency": {
                                "type": "string",
                                "example": "USD"
                              },
                              "units": {
                                "type": "array",
                                "description": "Rates for a `fixed` price. Always read `price` together with `per`.",
                                "items": {
                                  "type": "object"
                                }
                              },
                              "dimensions": {
                                "type": "array",
                                "description": "Request parameters the rate depends on, for a `variants` price.",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "variants": {
                                "type": "array",
                                "description": "One quoted rate per parameter combination, for a `variants` price.",
                                "items": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "aliases",
                          "type",
                          "info",
                          "tags"
                        ]
                      }
                    }
                  },
                  "required": [
                    "object",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "x-hideTryItPanel": false,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --url 'https://api.aimlapi.com/v1/models'"
          },
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch(\"https://api.aimlapi.com/v1/models\");\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\nimport json\n\ndef main():\n    response = requests.get(\"https://api.aimlapi.com/v1/models\")\n    data = response.json()\n    print(json.dumps(data, indent=2, ensure_ascii=False))\n\nif __name__ == \"__main__\":\n    main()"
          }
        ]
      }
    }
  }
}
