{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v2/usage/detail": {
      "get": {
        "operationId": "_v2_usage_detail",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Relative window: a positive integer followed by `h` or `d`, for example `24h` or `7d`. Provide either `period` or both `start` and `end`, never both.",
            "schema": {
              "type": "string",
              "example": "7d"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Window start, ISO-8601. A value without a UTC offset is read as UTC. Must be used together with `end`.",
            "schema": {
              "type": "string",
              "example": "2026-07-01T00:00:00Z"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Window end, ISO-8601. Must not be earlier than `start`, and the window must not exceed 92 days.",
            "schema": {
              "type": "string",
              "example": "2026-07-28T00:00:00Z"
            }
          },
          {
            "name": "key_prefix",
            "in": "query",
            "required": false,
            "description": "Prefix of the key to report on. Omit it to get the spend of the key you are authenticating with. Reporting on a different key requires a management key.",
            "schema": {
              "type": "string",
              "example": "abcd1234"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "required": false,
            "description": "Add a `groups` array to the response, grouped by `day`, by `model`, or by both (`day,model`). Omit it and the response keeps its original shape. Accepted on `/v2/usage/detail` only: `/v2/usage` returns a flat total with nowhere to put a breakdown and answers 400.",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "model",
                "day,model"
              ],
              "example": "day,model"
            }
          },
          {
            "name": "tz",
            "in": "query",
            "required": false,
            "description": "Time zone that defines the day boundary for `group_by=day`. Must be a canonical IANA zone name matched exactly, for example `Europe/Berlin` or `UTC`. Offset forms (`+05:00`) and other-case spellings (`utc`) are rejected with 400. Defaults to UTC. The top-level `start` and `end` stay UTC regardless.",
            "schema": {
              "type": "string",
              "example": "Europe/Berlin"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Total spend for the key over the requested window, with a per-model breakdown.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key_prefix": {
                      "type": "string",
                      "nullable": true,
                      "description": "The requested key prefix, or null when it was omitted and the answer is your own key's spend.",
                      "example": "abcd1234"
                    },
                    "start": {
                      "type": "string",
                      "description": "Window start, resolved to UTC.",
                      "example": "2026-07-20T22:15:00.000Z"
                    },
                    "end": {
                      "type": "string",
                      "description": "Window end, resolved to UTC.",
                      "example": "2026-07-27T22:15:00.000Z"
                    },
                    "spend": {
                      "type": "number",
                      "description": "Total spend for the key over the window, in USD. This is the authoritative total: it is computed from the total, not by adding up models, so it can differ from that sum by a few nano-dollars.",
                      "example": 12.3456
                    },
                    "currency": {
                      "type": "string",
                      "description": "Spend currency (always USD).",
                      "example": "USD"
                    },
                    "requests": {
                      "type": "integer",
                      "description": "Number of charged requests in the window.",
                      "example": 842
                    },
                    "models": {
                      "type": "array",
                      "description": "Per-model breakdown, highest spend first.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "model": {
                            "type": "string",
                            "description": "Model name.",
                            "example": "openai/gpt-5"
                          },
                          "spend": {
                            "type": "number",
                            "description": "Spend for this model, in USD.",
                            "example": 8.12
                          },
                          "requests": {
                            "type": "integer",
                            "description": "Charged requests for this model.",
                            "example": 500
                          }
                        },
                        "required": [
                          "model",
                          "spend",
                          "requests"
                        ]
                      }
                    },
                    "groups": {
                      "type": "array",
                      "description": "Present only when `group_by` is supplied. One entry per group, carrying spend, tokens and request counts. Reconcile the top-level `requests` against `requests.charged`, never against `requests.total`.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "day": {
                            "type": "string",
                            "description": "Present when grouping by day. The day boundary follows `tz`, defaulting to UTC.",
                            "example": "2026-07-21"
                          },
                          "model": {
                            "type": "string",
                            "description": "Present when grouping by model.",
                            "example": "openai/gpt-5"
                          },
                          "spend": {
                            "type": "number",
                            "description": "Spend for this group, in USD.",
                            "example": 3.41
                          },
                          "tokens": {
                            "type": "object",
                            "description": "Token counts for this group.",
                            "properties": {
                              "input": {
                                "type": "integer",
                                "example": 128400
                              },
                              "output": {
                                "type": "integer",
                                "example": 51200
                              },
                              "total": {
                                "type": "integer",
                                "example": 179600
                              }
                            },
                            "required": [
                              "input",
                              "output",
                              "total"
                            ]
                          },
                          "requests": {
                            "type": "object",
                            "description": "Request counts for this group. `total` counts every inference; `charged` counts only the billed ones. Failed inferences are billed nothing, so they appear in `total` and `failed` but not in `charged`.",
                            "properties": {
                              "total": {
                                "type": "integer",
                                "example": 220
                              },
                              "charged": {
                                "type": "integer",
                                "example": 214
                              },
                              "succeeded": {
                                "type": "integer",
                                "example": 214
                              },
                              "failed": {
                                "type": "integer",
                                "example": 6
                              }
                            },
                            "required": [
                              "total",
                              "charged",
                              "succeeded",
                              "failed"
                            ]
                          }
                        },
                        "required": [
                          "spend",
                          "tokens",
                          "requests"
                        ]
                      }
                    }
                  },
                  "required": [
                    "api_key_prefix",
                    "start",
                    "end",
                    "spend",
                    "currency",
                    "requests",
                    "models"
                  ]
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request GET \\\n  --url 'https://api.aimlapi.com/v2/usage/detail?key_prefix=abcd1234&period=7d' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_MANAGEMENT_KEY>'"
          },
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const url = new URL(\"https://api.aimlapi.com/v2/usage/detail\");\n  url.searchParams.set(\"key_prefix\", \"abcd1234\");\n  url.searchParams.set(\"period\", \"7d\");\n\n  const response = await fetch(url, {\n    headers: {\n      \"Authorization\": \"Bearer <YOUR_AIMLAPI_MANAGEMENT_KEY>\",\n    },\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\nimport json\n\ndef main():\n    response = requests.get(\n        \"https://api.aimlapi.com/v2/usage/detail\",\n        headers={\n            # Insert your AIML API management key instead of <YOUR_AIMLAPI_MANAGEMENT_KEY>:\n            \"Authorization\": \"Bearer <YOUR_AIMLAPI_MANAGEMENT_KEY>\",\n        },\n        params={\"key_prefix\": \"abcd1234\", \"period\": \"7d\"}\n    )\n\n    data = response.json()\n    print(json.dumps(data, indent=2, ensure_ascii=False))\n\nif __name__ == \"__main__\":\n    main()"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}
