{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/images/generations": {
      "post": {
        "operationId": "_v1_images_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "openai/gpt-image-1"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "maxLength": 32000,
                    "description": "The text prompt describing the content, style, or composition of the image to be generated."
                  },
                  "background": {
                    "type": "string",
                    "enum": [
                      "transparent",
                      "opaque",
                      "auto"
                    ],
                    "default": "auto",
                    "description": "Allows to set transparency for the background of the generated image(s). When auto is used, the model will automatically determine the best background for the image.\nIf transparent, the output format needs to support transparency, so it should be set to either png (default value) or webp."
                  },
                  "moderation": {
                    "type": "string",
                    "enum": [
                      "low",
                      "auto"
                    ],
                    "default": "auto",
                    "description": "Control the content-moderation level for images."
                  },
                  "n": {
                    "type": "number",
                    "enum": [
                      1
                    ],
                    "default": 1,
                    "description": "The number of images to generate."
                  },
                  "output_compression": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100,
                    "default": 100,
                    "description": "The compression level (0-100%) for the generated images."
                  },
                  "output_format": {
                    "type": "string",
                    "enum": [
                      "png",
                      "jpeg",
                      "webp"
                    ],
                    "default": "png",
                    "description": "The format of the generated image."
                  },
                  "quality": {
                    "type": "string",
                    "enum": [
                      "low",
                      "high",
                      "medium"
                    ],
                    "default": "medium",
                    "description": "The quality of the image that will be generated."
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "1024x1024",
                      "1024x1536",
                      "1536x1024"
                    ],
                    "default": "1024x1024",
                    "description": "The size of the generated image."
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ],
                    "default": "url",
                    "description": "The format in which the generated images are returned."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ],
                "title": "openai/gpt-image-1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "nullable": true,
                            "description": "The URL where the file can be downloaded from.",
                            "example": "https://cdn.aimlapi.com/generations/hedgehog/1749730923700-29fe35d2-4aef-4bc5-a911-6c39884d16a8.png"
                          },
                          "b64_json": {
                            "type": "string",
                            "nullable": true,
                            "description": "The base64-encoded JSON of the generated image.",
                            "example": null
                          }
                        }
                      },
                      "description": "The list of generated images."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "credits_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "credits_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  }
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v1/images/generations' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"model\": \"openai/gpt-image-1\",\n    \"prompt\": \"A T-Rex relaxing on a beach, lying on a sun lounger and wearing sunglasses.\"\n  }'"
          },
          {
            "lang": "JavaScript",
            "source": "async function main() {\n  const response = await fetch('https://api.aimlapi.com/v1/images/generations', {\n    method: 'POST',\n    headers: {\n      'Authorization': 'Bearer <YOUR_AIMLAPI_KEY>',\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      model: 'openai/gpt-image-1',\n      prompt: 'A T-Rex relaxing on a beach, lying on a sun lounger and wearing sunglasses.',\n    }),\n  });\n\n  const data = await response.json();\n  console.log(JSON.stringify(data, null, 2));\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://api.aimlapi.com/v1/images/generations\",\n    headers={\n        \"Content-Type\":\"application/json\", \n        \"Authorization\":\"Bearer <YOUR_AIMLAPI_KEY>\",\n    },\n    json={\n        \"model\":\"openai/gpt-image-1\",\n        \"prompt\": \"A T-Rex relaxing on a beach, lying on a sun lounger and wearing sunglasses.\"\n    }\n)\n\ndata = response.json()\nprint(data)"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}