{
  "openapi": "3.0.0",
  "info": {
    "title": "AIML API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aimlapi.com"
    }
  ],
  "paths": {
    "/v1/images/generations": {
      "post": {
        "operationId": "_v1_images_generations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "openai/gpt-image-1"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "maxLength": 32000,
                    "description": "The text prompt describing the content, style, or composition of the image to be generated."
                  },
                  "background": {
                    "type": "string",
                    "enum": [
                      "transparent",
                      "opaque",
                      "auto"
                    ],
                    "default": "auto",
                    "description": "Allows to set transparency for the background of the generated image(s). When auto is used, the model will automatically determine the best background for the image.\nIf transparent, the output format needs to support transparency, so it should be set to either png (default value) or webp."
                  },
                  "moderation": {
                    "type": "string",
                    "enum": [
                      "low",
                      "auto"
                    ],
                    "default": "auto",
                    "description": "Control the content-moderation level for images."
                  },
                  "n": {
                    "type": "number",
                    "enum": [
                      1
                    ],
                    "default": 1,
                    "description": "The number of images to generate."
                  },
                  "output_compression": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100,
                    "default": 100,
                    "description": "The compression level (0-100%) for the generated images."
                  },
                  "output_format": {
                    "type": "string",
                    "enum": [
                      "png",
                      "jpeg",
                      "webp"
                    ],
                    "default": "png",
                    "description": "The format of the generated image."
                  },
                  "quality": {
                    "type": "string",
                    "enum": [
                      "low",
                      "high",
                      "medium"
                    ],
                    "default": "medium",
                    "description": "The quality of the image that will be generated."
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "1024x1024",
                      "1024x1536",
                      "1536x1024"
                    ],
                    "default": "1024x1024",
                    "description": "The size of the generated image."
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ],
                    "default": "url",
                    "description": "The format in which the generated images are returned."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ],
                "title": "openai/gpt-image-1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "nullable": true,
                            "description": "The URL where the file can be downloaded from.",
                            "example": "https://cdn.aimlapi.com/generations/hedgehog/1749730923700-29fe35d2-4aef-4bc5-a911-6c39884d16a8.png"
                          },
                          "b64_json": {
                            "type": "string",
                            "nullable": true,
                            "description": "The base64-encoded JSON of the generated image.",
                            "example": null
                          }
                        }
                      },
                      "description": "The list of generated images."
                    },
                    "meta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "usage": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "tokens_used": {
                              "type": "number",
                              "description": "The number of tokens consumed during generation.",
                              "example": 120000
                            }
                          },
                          "required": [
                            "tokens_used"
                          ]
                        }
                      },
                      "description": "Additional details about the generation."
                    }
                  }
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true,
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import fs from 'fs';\nimport fetch from 'node-fetch';\nimport FormData from 'form-data';\n\nasync function main() {\n  const formData = new FormData();\n  formData.append('model', 'openai/gpt-image-1');\n  formData.append('prompt', \"Add a crown to the T-rex's head.\");\n  formData.append('image', fs.createReadStream('<YOUR_IMAGE_PATH.png>'), {\n    filename: '<IMAGE_NAME>',\n    contentType: 'image/png',\n  });\n\n  const response = await fetch('https://api.aimlapi.com/v1/images/edits', {\n    method: 'POST',\n    headers: {\n      Authorization: 'Bearer <YOUR_AIMLAPI_KEY>',\n      ...formData.getHeaders(),\n    },\n    body: formData,\n  });\n\n  const data = await response.json();\n  console.log(data);\n}\n\nmain();"
          },
          {
            "lang": "Python",
            "source": "import requests\nwith open(\"<YOUR_IMAGE_PATH.png>\", \"rb\") as file:\n    files = {\"image\": (\"<IMAGE_NAME>\", file, \"image/png\")}\n    response = requests.post(\n        \"https://api.aimlapi.com/v1/images/edits\",\n        headers={\n            \"Authorization\":\"Bearer <YOUR_AIMLAPI_KEY>\",\n        },\n        data={\n            \"model\":\"openai/gpt-image-1\",\n            \"prompt\": \"Add a crown to the T-rex's head.\"\n        },\n        files=files\n    )\n\n    data = response.json()\n    print(data)"
          },
          {
            "lang": "cURL",
            "source": "curl -L \\\n  --request POST \\\n  --url 'https://api.aimlapi.com/v1/images/edits' \\\n  --header 'Authorization: Bearer <YOUR_AIMLAPI_KEY>' \\\n  --form \"prompt=Add a crown to the T-rex's head.\" \\\n  --form \"image=@<YOUR_IMAGE_PATH.png>;type=image/png;filename=<IMAGE_NAME>\""
          },
          {
            "lang": "HTTP",
            "source": "POST /v1/images/edits HTTP/1.1\nHost: api.aimlapi.com\nAuthorization: Bearer <YOUR_AIMLAPI_KEY>\nContent-Type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW\n\n------WebKitFormBoundary7MA4YWxkTrZu0gW\nContent-Disposition: form-data; name=\"model\"\n\nopenai/gpt-image-1\n------WebKitFormBoundary7MA4YWxkTrZu0gW\nContent-Disposition: form-data; name=\"prompt\"\n\nAdd a crown to the T-rex's head.\n------WebKitFormBoundary7MA4YWxkTrZu0gW\nContent-Disposition: form-data; name=\"image\"; filename=\"<IMAGE_NAME>\"\nContent-Type: image/png\n\n(data)\n------WebKitFormBoundary7MA4YWxkTrZu0gW--"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "access-token": {
        "scheme": "bearer",
        "bearerFormat": "<YOUR_AIMLAPI_KEY>",
        "type": "http",
        "description": "Bearer key"
      }
    }
  }
}